<!doctype html>
<html lang="en">
<head>
  <title>Cannabis.ca.gov</title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  {% set css %}
    {% include "../../../css/index.css" %}
  {% endset %}
  <!-- above is messing up header branding section -->
  <style>
    {{ css | cssmin | safe }}
  </style>
  
</head>
<body>

  {% include "../../../components/utility-header/utility-header.html" %}
  {% include "../../../components/branding/branding.html" %}
  {% include "nav-component.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "../footer.njk" %}
  {% include "../footer-universal.njk" %}

  {% set js %}
    {% include "../../../../docs/js/built.js" %}
  {% endset %}
  <script type="module">
    {{ js | safe }}
  </script>
</body>
</html>