<!doctype html>
<html lang="en">
<head>
  <title>Cannabis.ca.gov</title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  {% set css %}
    {% include "../../../css/index.css" %}
  {% endset %}
  <!-- the inlined hardcoded grid css below is there because it was breaking sass compilation -->
  <style>
    {{ css | cssmin | safe }}
    .cagov-grid, .cagov-grid .block-editor-block-list__layout {
      grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }
  </style>
  
</head>
<body>

  {% include "../../../components/utility-header/utility-header.html" %}
  {% include "../../../components/branding/branding.html" %}
  {% include "nav-component.njk" %}

  <main class="page-container-ds">
    {{ content | safe }}
  </main>

  {% include "../footer.njk" %}
  {% include "../footer-universal.njk" %}

  {% set js %}
    {% include "../../../../docs/js/built.js" %}
  {% endset %}
  <script type="module">
    {{ js | safe }}
  </script>
</body>
</html>