{% extends "layouts/index.njk" %}

{% block content %}
  <div id="page-container" class="page-container-ds">
    <div id="main-content" class="main-content-ds single-column landing">
      {# The #body-content div is the skip-to-content target. #}
      <div id="body-content"></div>
      <div class="narrow-page-title">
        <h1 class="page-title">{{ title | safe }}</h1>
      </div>
      <div class="ds-content-layout">
        <main class="main-primary">
          <article id="post-{{id}}">
            <div class="category-label">{{ category | safe }}</div>
            <!-- Page Title-->
            <h1 class="wide-page-title page-title">{{ title | safe }}</h1>
            <div class="entry-content">
              {{ content | safe  }}
            </div>
          </article>
        </main>
      </div>
    </div>
  </div>
  <!-- todo: fix temporary improper insertion -->
  <script async="async" src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}