{% extends "layouts/index.njk" %}

{% block content %}
<div id="page-container" class="page-container-ds">
    <div class="breadcrumb" aria-label="Breadcrumb" role="region">
        <a class="crumb" href="{{ gov_url }}" title="{{ gov_name }}">{{ gov_name }}</a>
        <span class="crumb separator">/</span>
        <a class="crumb" href="/" title="{{ site_name }}">{{ site_name }} </a>
        <span class="crumb separator">/</span>
        <span class="crumb">{{ category | safe }}</span>
    </div>
    <div id="main-content" class="main-content-ds single-column" tabindex="-1">
        {# The #body-content div is the skip-to-content target. #}
        <div id="body-content"></div>
        <div class="ds-content-layout">
            <main class="main-primary">
                <div>
                    <article id="post-{{id}}">
                        <div class="category-label">{{ category | safe }}</div>
                        <!-- Page Title-->
                        <h1 class="page-title">{{ title | safe }}</h1>
                        <p class="page-date published">
                            <time datetime="">
                                <!-- date field -->
                            </time>
                        </p>
                        <div class="entry-content">
                            {{ content | safe }}
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}