<p>The Department of Cannabis Control (DCC) is the California state agency that licenses and regulates cannabis businesses. DCC regulates the:</p>

<ul><li>Growing of cannabis plants</li><li>Manufacture of cannabis products </li><li>Transportation and tracking of cannabis goods throughout the state </li><li>Sale of cannabis goods </li><li>Events where cannabis is sold or used </li><li>Labeling of goods sold at retail </li></ul>

<p>The <a href="https://cannabis.ca.gov/about-us/cannabis-advisory-committee/" data-type="page" data-id="701">Cannabis Advisory Committee</a> makes recommendations to DCC about regulations and licensing.</p>

<h2>DCC leadership team</h2>

<p>The director and chief deputy director lead DCC and its 10 deputy directors. Each deputy director is responsible for a different area of DCC’s work.</p>

<p>The leadership team includes:</p>

<ul><li>Nicole Elliott, Director</li><li>Rasha Salama, Chief Deputy Director</li><li>Matthew Lee, General Counsel</li><li>Melissa Eidson, Deputy Director of Administration</li><li>Bill Jones, Deputy Director of Enforcement</li><li>Eugene Hillsman, Deputy Director of Equity &amp; Inclusion</li><li>Angela Hill, Deputy Director of Governmental Affairs</li><li>Tamara Colson, Deputy Director of Legal Affairs</li><li>Robin Foemmel Bie, Deputy Director of Licensing</li><li>Christina Dempsey, Deputy Director of Policy &amp; Research</li><li>Maria Luisa Cesar, Deputy Director of Public Affairs</li><li>Sean O&#8217;Connor, Chief Information Officer</li><li>Po-Wen Leung, Manager, Equal Employment Opportunity Office</li></ul>

<p>Some positions are still being hired and will have acting leaders until recruitment is completed:</p>

<ul><li>Gordon Vrdoljak, Acting Deputy Director of Laboratory Services</li></ul>

<p>We will also be hiring a Deputy Director of Compliance.&nbsp;Applications for permanent members of the leadership team will be posted on California&#8217;s careers website, <a href="https://www.calcareers.ca.gov/">CalCareers</a>.</p>

<h2>How DCC was formed</h2>

<p>DCC was created on July 12, 2021, by consolidating the three former state cannabis authorities:</p>

<ul><li>Bureau of Cannabis Control (Department of Consumer Affairs)</li><li>CalCannabis Cultivation Licensing Division (California Department of Food and Agriculture)</li><li>Manufactured Cannabis Safety Branch (California Department of Public Health)</li></ul>

<p>Learn more about the <a href="https://cannabis.ca.gov/about-us/consolidation/" data-type="page" data-id="708">state cannabis consolidation</a>.</p>
