<p>You can use the Department of Cannabis Control’s online licensing systems to:</p>

<ul><li>Apply for a license</li><li>Renew a license</li><li>Change an existing license</li></ul>

<h2>Choose your license type</h2>

<div class="wp-container-629f1bcb36c1a wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://aca6.accela.com/calcannabis/Welcome.aspx">Cultivators</a></div>
</div>

<p><strong>Cultivation applicants: </strong>When uploading documents, make sure the file name doesn&#8217;t use any spaces or special characters. </p>

<div class="wp-container-629f1bcb36f91 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://mylicense.cdph.ca.gov/prweb/PRWebLDAP1/JNjzDdEndczmIjcX8iwY6FVR4wsiXbPN1fW1kioTBJ4%5B*/!STANDARD">Manufacturers</a></div>
</div>

<div class="wp-container-629f1bcb37232 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://online.bcc.ca.gov/bcc/Default.aspx">Distributors, testing laboratories, retailers, microbusinesses, and events</a></div>
</div>

<p><strong>The online licensing system for distributors, testing laboratories, retailers, microbusinesses and events is experiencing intermittent outages. </strong>We are working closely with the software provider to resolve technical issues. You can email <a href="mailto:licensing@cannabis.ca.gov">licensing@cannabis.ca.gov</a> if you need assistance with your license while the system is offline. </p>

<h2>Licensing process</h2>

<p>Learn the steps to:</p>

<ul><li><a href="https://cannabis.ca.gov/applicants/how-to-apply-renew/#how-to-apply-for-a-license" data-type="page">Apply for a license</a></li><li><a href="https://cannabis.ca.gov/applicants/how-to-apply-renew/#how-to-renew-a-license" data-type="page">Renew a license</a></li></ul>

<h2>Help with your application</h2>

<p>We’ve created <a href="https://cannabis.ca.gov/applicants/resources/" data-type="page" data-id="698">resources to help you with your license application</a>, including:</p>

<ul><li>Required application forms</li><li>Guides to help you complete your application</li><li>Tips for addressing deficiencies</li><li>How we review license applications</li></ul>

<h2>Questions and answers</h2>
	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Why are there three licensing systems?</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>The Department of Cannabis Control was created in July 2021 by merging three existing state programs. Each of those former programs had its own online licensing system.</p>

<p>We anticipate creating one licensing system for all businesses, but it will take time to do that. Until then, use the system for the license type you have or are applying for.</p>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Which system do I use if I want more than one license?</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>Use the online licensing system that corresponds to each license you’re seeking. You may need to submit applications through more than one system.</p>
			</div>
		</div>
		</div>
	</cagov-accordion>