<p><a rel="noreferrer noopener" href="https://lp.constantcontactpages.com/su/RVR4SI1/CACannabisDept" target="_blank">Sign up to receive emails</a>&nbsp;from the Department of Cannabis Control&nbsp;when&nbsp;we share news and information.&nbsp;&nbsp;</p>
<div class="wp-block-ca-design-system-post-list cagov-post-list cagov-stack">
    <div>
        <cagov-post-list 
            class="post-list" 
            data-category="announcements,press-releases"
            data-count="5"
            data-order="desc"
            data-endpoint="https://api.cannabis.ca.gov/wp-json/wp/v2"
            data-show-excerpt="true"
            data-show-published-date="true"
            data-no-results="No posts found"
            data-show-pagination="true"
            data-read-more=""
            data-filter="none"
        >
        </cagov-post-list>
    </div>
</div>