<p>If you were negatively affected by the criminalization of cannabis, you can apply to have your license fee waived. <a href="https://cannabis.ca.gov/applicants/equity-fee-waivers/">Check if you’re eligible for a waiver</a> before applying.</p>

<div class="wp-block-columns">
<div class="wp-block-column">
<h2>Proof of eligibility</h2>

<p>If you take part in a local equity program, you can show you meet the equity criteria using an attestation on the fee waiver form.</p>

<p>If you are not part of a local equity program, you must submit documents to show your eligibility:</p>
	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Cannabis conviction or arrest</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>You can show proof of conviction or arrest using one of the following:</p>

<ul><li>Copies of federal or state court records that show the outcome of the case</li><li>Records showing dismissal or expungement</li><li>Any other court or law enforcement record that show proof of conviction or arrest</li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Income</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>You can show proof of income using any of the following:</p>

<ul><li>Individual federal tax returns, state tax returns, or W-2s</li><li>At least two consecutive paystubs</li><li>Proof of eligibility for a program that provides financial aid to adults without enough income or resources such as:<ul><li>CalFresh</li><li>MediCal</li><li>CalWORKS</li><li>Supplemental security income</li><li>Social security disability</li></ul></li></ul>

<p>The records must show the owner’s name and be dated within two years of the date of the fee waiver request.</p>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Neighborhood</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>You can prove you lived in an area disproportionately impacted by cannabis criminalization using any <strong>two</strong> of the following:</p>

<ul><li>California Driver’s License or State Identification Card</li><li>Property tax bill or payment, or evidence that the owner is exempt from property tax payment</li><li>Signed rental agreement, or deed or title to residential property</li><li>Copies of state or federal tax returns</li><li>School records</li><li>Banking or credit card records</li><li>Voter registration</li><li>Utility, cable, or internet billing or payment records</li></ul>

<p>The records must be dated between 1980 and 2016 and include:</p>

<ul><li>The owner’s name</li><li>An address in the affected neighborhood</li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion></div>
</div>

<h2>New applicants</h2>

<ol class="steps"><li><strong>Start your online license application</strong><br><span class="has-inline-color has-black-color">The Department of Cannabis Control has three licensing systems. Use the one that corresponds to the license type you’re applying for.</span></li><li><strong>Apply for a fee waiver</strong><br><span class="has-inline-color has-black-color">When you submit your application, select <strong>Yes</strong> that you are interested in applying for a fee waiver.</span></li><li><strong>Upload the fee waiver request form</strong><br><span class="has-inline-color has-black-color">Download the <a href="https://cannabis.ca.gov/wp-content/uploads/sites/2/2021/12/Form-DCC-1601_Equity-Fee-Waiver.pdf">form</a>. Complete the required fields to provide information about the business’s equity owners. Upload the completed form to your online application.</span></li><li><strong>Submit your application</strong></li></ol>

<h2>Renewal applicants</h2>

<ol class="steps"><li><strong>Check your email</strong><br><span class="has-inline-color has-black-color">You will receive an email with instructions about how to apply.</span></li><li><strong>Reply to the email with your completed request form</strong><br><span class="has-inline-color has-black-color">Download the <a href="https://cannabis.ca.gov/wp-content/uploads/sites/2/2021/12/Form-DCC-1601_Equity-Fee-Waiver.pdf">form</a>. Complete the required fields to provide information about the business’s equity owners. Reply to the email with the form attached.</span></li></ol>

<h2>Contact us</h2>

<p>Email <a href="mailto:equity@cannabis.ca.gov">equity@cannabis.ca.gov</a> if you have questions about the fee waiver program.</p>

<h2>Download forms</h2>

<p><a href="https://cannabis.ca.gov/wp-content/uploads/sites/2/2021/12/Form-DCC-1601_Equity-Fee-Waiver.pdf">Form DCC-1601</a>: Equity fee waiver request form</p>

<p><a href="https://cannabis.ca.gov/wp-content/uploads/sites/2/2021/12/Form-DCC-1602_Equity-Fee-Waiver-Additional-Equity-Owners.pdf">From DCC-1602</a>: Equity fee waiver request &#8211; additional equity owners</p>
