<div class="wrapper">
<h2>Keyboard Shortcuts for Firefox</h2>
<article>
<h3>Windows</h3>
<h2>Navigation</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Back</td>
<td>Alt + ←<br />
BackspaceAlt + ←<br />
Ctrl + [</td>
</tr>
<tr>
<td>Forward</td>
<td>Alt + →<br />
Shift + BackspaceAlt + →<br />
Ctrl + ]</td>
</tr>
<tr>
<td>Home</td>
<td>Alt + Home</td>
</tr>
<tr>
<td>Open File</td>
<td>Ctrl + O</td>
</tr>
<tr>
<td>Reload</td>
<td>F5<br />
Ctrl + R</td>
</tr>
<tr>
<td>Reload (override cache)</td>
<td>Ctrl + F5<br />
Ctrl + Shift + R</td>
</tr>
<tr>
<td>Stop</td>
<td>Esc</td>
</tr>
</tbody>
</table>
<h2>Current Page</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Go Down a Screen</td>
<td>Page Down</td>
</tr>
<tr>
<td>Go Up a Screen</td>
<td>Page Up</td>
</tr>
<tr>
<td>Go to Bottom of Page</td>
<td>End</td>
</tr>
<tr>
<td>Go to Top of Page</td>
<td>Home</td>
</tr>
<tr>
<td>Move to Next Frame</td>
<td>F6</td>
</tr>
<tr>
<td>Move to Previous Frame</td>
<td>Shift + F6</td>
</tr>
<tr>
<td>Print</td>
<td>Ctrl + P</td>
</tr>
<tr>
<td>Save Page As</td>
<td>Ctrl + S</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/font-size-and-zoom-increase-size-of-web-pages">Zoom In</a></td>
<td>Ctrl + +</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/font-size-and-zoom-increase-size-of-web-pages">Zoom Out</a></td>
<td>Ctrl + –</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/font-size-and-zoom-increase-size-of-web-pages">Zoom Reset</a></td>
<td>Ctrl + 0</td>
</tr>
</tbody>
</table>
<h2>Editing</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Copy</td>
<td>Ctrl + C</td>
</tr>
<tr>
<td>Cut</td>
<td>Ctrl + X</td>
</tr>
<tr>
<td>Delete</td>
<td>Del</td>
</tr>
<tr>
<td>Paste</td>
<td>Ctrl + V</td>
</tr>
<tr>
<td>Paste (as plain text)</td>
<td>Ctrl + Shift + V</td>
</tr>
<tr>
<td>Redo</td>
<td>Ctrl + Y<br />
Ctrl + Shift + Z</td>
</tr>
<tr>
<td>Select All</td>
<td>Ctrl + A</td>
</tr>
<tr>
<td>Undo</td>
<td>Ctrl + Z</td>
</tr>
</tbody>
</table>
<h2>Search</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
<th>Notes</th>
</tr>
<tr>
<td>Find</td>
<td>Ctrl + F</td>
<td></td>
</tr>
<tr>
<td>Find Again</td>
<td>F3<br />
Ctrl + G</td>
<td></td>
</tr>
<tr>
<td>Find Previous</td>
<td>Shift + F3<br />
Ctrl + Shift + G</td>
<td></td>
</tr>
<tr>
<td>Quick Find within link-text only</td>
<td>‘</td>
<td></td>
</tr>
<tr>
<td>Quick Find</td>
<td>/</td>
<td></td>
</tr>
<tr>
<td>Close the Find or Quick Find bar</td>
<td>Esc</td>
<td>– when the Find or Quick Find bar is focused</td>
</tr>
<tr>
<td>Focus <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox">Search bar</a></td>
<td>Ctrl + K<br />
Ctrl + ECtrl + J</td>
<td></td>
</tr>
<tr>
<td>Quickly <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox#w_using-the-search-bar_2">switch between search engines</a></td>
<td>Ctrl + ↑<br />
Ctrl + ↓</td>
<td>– when Search Bar is focused</td>
</tr>
<tr>
<td>View menu to <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox#w_using-the-search-bar_2">switch</a>, <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox#w_add-a-search-engine-from-a-website">add</a> or manage search engines</td>
<td>Alt + ↑<br />
Alt + ↓<br />
F4</td>
<td>– when Search Bar is focused</td>
</tr>
</tbody>
</table>
<h2>Windows &amp; Tabs</h2>
<p>Some of these shortcuts require the currently selected tab to be “in focus.” Currently, the only way to do this is to select an adjacent object and “tab into” the current tab, for instance, by hitting Alt + D to select the address bar, and then Shift + Tab twice.</p>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
<th>Notes</th>
</tr>
<tr>
<td>Close Tab</td>
<td>Ctrl + W<br />
Ctrl + F4</td>
<td>– except for App Tabs</td>
</tr>
<tr>
<td>Close Window</td>
<td>Ctrl + Shift + W<br />
Alt + F4</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus Left</td>
<td>Ctrl + ←<br />
Ctrl + ↑<br />
Ctrl + Shift + Page Up</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus Right</td>
<td>Ctrl + →<br />
Ctrl + ↓<br />
Ctrl + Shift + Page Down</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus to start</td>
<td>Ctrl + Home</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus to end</td>
<td>Ctrl + End</td>
<td></td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/mute-noisy-tabs-firefox">Mute/Unmute Audio</a></td>
<td>Ctrl + M</td>
<td></td>
</tr>
<tr>
<td>New Tab</td>
<td>Ctrl + T</td>
<td></td>
</tr>
<tr>
<td>New Window</td>
<td>Ctrl + N</td>
<td></td>
</tr>
<tr>
<td>New <a href="https://support.mozilla.org/en-US/kb/private-browsing-use-firefox-without-history">Private Window</a></td>
<td>Ctrl + Shift + P</td>
<td></td>
</tr>
<tr>
<td>Next Tab</td>
<td>Ctrl + Tab<br />
Ctrl + Page Down</td>
<td></td>
</tr>
<tr>
<td>Open Address in New Tab</td>
<td>Alt + Enter</td>
<td>– from Location Bar or Search Bar</td>
</tr>
<tr>
<td>Previous Tab</td>
<td>Ctrl + Shift + Tab<br />
Ctrl + Page Up</td>
<td></td>
</tr>
<tr>
<td>Undo Close Tab</td>
<td>Ctrl + Shift + T</td>
<td></td>
</tr>
<tr>
<td>Undo Close Window</td>
<td>Ctrl + Shift + N</td>
<td></td>
</tr>
<tr>
<td>Select Tab 1 to 8</td>
<td>Ctrl + 1to8<br />
Alt + 1to8</td>
<td></td>
</tr>
<tr>
<td>Select Last Tab</td>
<td>Ctrl + 9<br />
Alt + 9</td>
<td></td>
</tr>
<tr>
<td>Tab Groups View</td>
<td>Ctrl + Shift + E</td>
<td></td>
</tr>
<tr>
<td>Close Tab Groups View</td>
<td>Esc</td>
<td></td>
</tr>
<tr>
<td>Next Tab Group</td>
<td>Ctrl + `</td>
<td>– only for some keyboard layouts</td>
</tr>
<tr>
<td>Previous Tab Group</td>
<td>Ctrl + Shift + `</td>
<td>– only for some keyboard layouts</td>
</tr>
</tbody>
</table>
<h2>History</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>History sidebar</td>
<td>Ctrl + H</td>
</tr>
<tr>
<td>Library window (History)</td>
<td>Ctrl + Shift + H</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/delete-browsing-search-download-history-firefox">Clear Recent History</a></td>
<td>Ctrl + Shift + Del</td>
</tr>
</tbody>
</table>
<h2>Bookmarks</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Bookmark All Tabs</td>
<td>Ctrl + Shift + D</td>
</tr>
<tr>
<td>Bookmark This Page</td>
<td>Ctrl + D</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/create-bookmarks-save-your-favorite-webpages">Bookmarks</a> sidebar</td>
<td>Ctrl + B<br />
Ctrl + I<br />
Ctrl + B</td>
</tr>
<tr>
<td>Library window (Bookmarks)</td>
<td>Ctrl + Shift + B<br />
Ctrl + Shift + O</td>
</tr>
</tbody>
</table>
<h2>Tools</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/where-find-and-manage-downloaded-files-firefox">Downloads</a></td>
<td>Ctrl + J<br />
Ctrl + Shift + Y</td>
</tr>
<tr>
<td>Add-ons</td>
<td>Ctrl + Shift + A</td>
</tr>
<tr>
<td>Toggle Developer Tools</td>
<td>F12<br />
Ctrl + Shift + I</td>
</tr>
<tr>
<td>Web Console</td>
<td>Ctrl + Shift + K</td>
</tr>
<tr>
<td>Inspector</td>
<td>Ctrl + Shift + C</td>
</tr>
<tr>
<td>Debugger</td>
<td>Ctrl + Shift + S</td>
</tr>
<tr>
<td>Style Editor</td>
<td>Shift + F7</td>
</tr>
<tr>
<td>Profiler</td>
<td>Shift + F5</td>
</tr>
<tr>
<td>Network</td>
<td>Ctrl + Shift + Q</td>
</tr>
<tr>
<td>Developer Toolbar</td>
<td>Shift + F2</td>
</tr>
<tr>
<td>Responsive Design View</td>
<td>Ctrl + Shift + M</td>
</tr>
<tr>
<td>Scratchpad</td>
<td>Shift + F4</td>
</tr>
<tr>
<td>Page Source</td>
<td>Ctrl + U</td>
</tr>
<tr>
<td>Error ConsoleBrowser Console</td>
<td>Ctrl + Shift + J</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/page-info-window-view-technical-details-about-page">Page Info</a></td>
<td>Ctrl + I</td>
</tr>
</tbody>
</table>
<h2>PDF Viewer</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Next page</td>
<td>N or J or →</td>
</tr>
<tr>
<td>Previous page</td>
<td>P or K or ←</td>
</tr>
<tr>
<td>Zoom in</td>
<td>Ctrl + +</td>
</tr>
<tr>
<td>Zoom out</td>
<td>Ctrl + –</td>
</tr>
<tr>
<td>Automatic Zoom</td>
<td>Ctrl + 0</td>
</tr>
<tr>
<td>Rotate the document clockwise</td>
<td>R</td>
</tr>
<tr>
<td>Rotate counterclockwise</td>
<td>Shift + R</td>
</tr>
<tr>
<td>Switch to Presentation Mode</td>
<td>Ctrl + Alt + P</td>
</tr>
<tr>
<td>Toggle Hand Tool</td>
<td>H</td>
</tr>
<tr>
<td>Focus the Page Number input box</td>
<td>Ctrl + Alt + G</td>
</tr>
</tbody>
</table>
<h2>Miscellaneous</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Complete .com Address</td>
<td>Ctrl + Enter</td>
</tr>
<tr>
<td>Complete .net Address</td>
<td>Shift + Enter</td>
</tr>
<tr>
<td>Complete .org Address</td>
<td>Ctrl + Shift + Enter</td>
</tr>
<tr>
<td>Delete Selected Autocomplete Entry</td>
<td>Del</td>
</tr>
<tr>
<td>Toggle Full Screen</td>
<td>F11</td>
</tr>
<tr>
<td>Toggle Menu Bar activation (showing it temporarily when hidden)</td>
<td>Alt<br />
F10</td>
</tr>
<tr>
<td>Show/Hide Add-on Bar</td>
<td>Ctrl + /</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/advanced-panel-settings-in-firefox#w_accessibility">Caret Browsing</a></td>
<td>F7</td>
</tr>
<tr>
<td>Select Location Bar</td>
<td>F6<br />
Alt + D<br />
Ctrl + L</td>
</tr>
</tbody>
</table>
<h2>Media shortcuts</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Toggle Play / Pause</td>
<td>Space bar</td>
</tr>
<tr>
<td>Decrease volume</td>
<td>↓</td>
</tr>
<tr>
<td>Increase volume</td>
<td>↑</td>
</tr>
<tr>
<td>Mute audio</td>
<td>Ctrl + ↓</td>
</tr>
<tr>
<td>Unmute audio</td>
<td>Ctrl + ↑</td>
</tr>
<tr>
<td>Seek back 15 seconds</td>
<td>←</td>
</tr>
<tr>
<td>Seek back 10 %</td>
<td>Ctrl + ←</td>
</tr>
<tr>
<td>Seek forward 15 seconds</td>
<td>→</td>
</tr>
<tr>
<td>Seek forward 10 %</td>
<td>Ctrl + →</td>
</tr>
<tr>
<td>Seek to the beginning</td>
<td>Home</td>
</tr>
<tr>
<td>Seek to the end</td>
<td>End</td>
</tr>
</tbody>
</table>
<h3>Mac</h3>
<h2>Navigation</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Back</td>
<td>Alt + ←<br />
Backspacecommand (⌘) + ←<br />
command (⌘) + [<br />
DeleteAlt + ←<br />
Ctrl + [</td>
</tr>
<tr>
<td>Forward</td>
<td>Alt + →<br />
Shift + Backspace<br />
command (⌘) + →<br />
command (⌘) + ]<br />
Shift + DeleteAlt + →<br />
Ctrl + ]</td>
</tr>
<tr>
<td>Home</td>
<td>option + home</td>
</tr>
<tr>
<td>Open File</td>
<td>command (⌘) + O</td>
</tr>
<tr>
<td>Reload</td>
<td>F5<br />
command (⌘) + R</td>
</tr>
<tr>
<td>Reload (override cache)</td>
<td>command (⌘) + shift + R</td>
</tr>
<tr>
<td>Stop</td>
<td>Esc<br />
command (⌘) + .</td>
</tr>
</tbody>
</table>
<h2>Current Page</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Go Down a Screen</td>
<td>fn + ↓</td>
</tr>
<tr>
<td>Go Up a Screen</td>
<td>fn + ↑</td>
</tr>
<tr>
<td>Go to Bottom of Page</td>
<td>End<br />
command (⌘) + ↓</td>
</tr>
<tr>
<td>Go to Top of Page</td>
<td>Home<br />
command (⌘) + ↑</td>
</tr>
<tr>
<td>Move to Next Frame</td>
<td>F6</td>
</tr>
<tr>
<td>Move to Previous Frame</td>
<td>Shift + F6</td>
</tr>
<tr>
<td>Print</td>
<td>command (⌘) + P</td>
</tr>
<tr>
<td>Save Page As</td>
<td>command (⌘) + S</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/font-size-and-zoom-increase-size-of-web-pages">Zoom In</a></td>
<td>command (⌘) + +</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/font-size-and-zoom-increase-size-of-web-pages">Zoom Out</a></td>
<td>command (⌘) + –</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/font-size-and-zoom-increase-size-of-web-pages">Zoom Reset</a></td>
<td>command (⌘) + 0</td>
</tr>
</tbody>
</table>
<h2>Editing</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Copy</td>
<td>command (⌘) + C</td>
</tr>
<tr>
<td>Cut</td>
<td>command (⌘) + X</td>
</tr>
<tr>
<td>Delete</td>
<td>delete</td>
</tr>
<tr>
<td>Paste</td>
<td>command (⌘) + V</td>
</tr>
<tr>
<td>Paste (as plain text)</td>
<td>command (⌘) + shift + V</td>
</tr>
<tr>
<td>Redo</td>
<td>Ctrl + Y<br />
command (⌘) + shift + Z<br />
Ctrl + Shift + Z</td>
</tr>
<tr>
<td>Select All</td>
<td>command (⌘) + A</td>
</tr>
<tr>
<td>Undo</td>
<td>command (⌘) + Z</td>
</tr>
</tbody>
</table>
<h2>Search</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
<th>Notes</th>
</tr>
<tr>
<td>Find</td>
<td>command (⌘) + F</td>
<td></td>
</tr>
<tr>
<td>Find Again</td>
<td>F3<br />
command (⌘) + G</td>
<td></td>
</tr>
<tr>
<td>Find Previous</td>
<td>Shift + F3<br />
command (⌘) + shift + G</td>
<td></td>
</tr>
<tr>
<td>Quick Find within link-text only</td>
<td>‘</td>
<td></td>
</tr>
<tr>
<td>Quick Find</td>
<td>/</td>
<td></td>
</tr>
<tr>
<td>Close the Find or Quick Find bar</td>
<td>Esc</td>
<td>– when the Find or Quick Find bar is focused</td>
</tr>
<tr>
<td>Focus <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox">Search bar</a></td>
<td>command (⌘) + K<br />
Ctrl + E<br />
Ctrl + J<br />
command (⌘) + option + F</td>
<td></td>
</tr>
<tr>
<td>Quickly <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox#w_using-the-search-bar_2">switch between search engines</a></td>
<td>command (⌘) + ↑<br />
command (⌘) + ↓</td>
<td>– when Search Bar is focused</td>
</tr>
<tr>
<td>View menu to <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox#w_using-the-search-bar_2">switch</a>, <a href="https://support.mozilla.org/en-US/kb/use-search-bar-firefox#w_add-a-search-engine-from-a-website">add</a> or manage search engines</td>
<td>option + ↑<br />
option + ↓</td>
<td>– when Search Bar is focused</td>
</tr>
</tbody>
</table>
<h2>Windows &amp; Tabs</h2>
<p>Some of these shortcuts require the currently selected tab to be “in focus.” Currently, the only way to do this is to select an adjacent object and “tab into” the current tab, for instance, by hitting command (⌘) + L to select the address bar, and then Shift + Tab twice.</p>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
<th>Notes</th>
</tr>
<tr>
<td>Close Tab</td>
<td>command (⌘) + W</td>
<td>– except for App Tabs</td>
</tr>
<tr>
<td>Close Window</td>
<td>command (⌘) + shift + W</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus Left</td>
<td>command (⌘) + ←<br />
command (⌘) + ↑<br />
Ctrl + Shift + Page Up</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus Right</td>
<td>command (⌘) + →<br />
command (⌘) + ↓<br />
Ctrl + Shift + Page Down</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus to start</td>
<td>command (⌘) + home</td>
<td></td>
</tr>
<tr>
<td>Move Tab in focus to end</td>
<td>command (⌘) + end</td>
<td></td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/mute-noisy-tabs-firefox">Mute/Unmute Audio</a></td>
<td>Ctrl + M</td>
<td></td>
</tr>
<tr>
<td>New Tab</td>
<td>command (⌘) + T</td>
<td></td>
</tr>
<tr>
<td>New Window</td>
<td>command (⌘) + N</td>
<td></td>
</tr>
<tr>
<td>New <a href="https://support.mozilla.org/en-US/kb/private-browsing-use-firefox-without-history">Private Window</a></td>
<td>command (⌘) + shift + P</td>
<td></td>
</tr>
<tr>
<td>Next Tab</td>
<td>control + tab<br />
control + page down<br />
command (⌘) + option + →</td>
<td></td>
</tr>
<tr>
<td>Open Address in New Tab</td>
<td>option + return</td>
<td>– from Location Bar or Search Bar</td>
</tr>
<tr>
<td>Previous Tab</td>
<td>control + shift + tab<br />
control + page up<br />
command (⌘) + option + ←</td>
<td></td>
</tr>
<tr>
<td>Undo Close Tab</td>
<td>command (⌘) + shift + T</td>
<td></td>
</tr>
<tr>
<td>Undo Close Window</td>
<td>command (⌘) + shift + N</td>
<td></td>
</tr>
<tr>
<td>Select Tab 1 to 8</td>
<td>Ctrl + 1to8<br />
command (⌘) + 1to8<br />
Alt + 1to8</td>
<td></td>
</tr>
<tr>
<td>Select Last Tab</td>
<td>Ctrl + 9<br />
command (⌘) + 9<br />
Alt + 9</td>
<td></td>
</tr>
<tr>
<td>Tab Groups View</td>
<td>command (⌘) + shift + E</td>
<td></td>
</tr>
<tr>
<td>Close Tab Groups View</td>
<td>Esc</td>
<td></td>
</tr>
<tr>
<td>Next Tab Group</td>
<td>control + `</td>
<td>– only for some keyboard layouts</td>
</tr>
<tr>
<td>Previous Tab Group</td>
<td>control + shift + `</td>
<td>– only for some keyboard layouts</td>
</tr>
</tbody>
</table>
<h2>History</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>History sidebar</td>
<td>command (⌘) + shift + H</td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/delete-browsing-search-download-history-firefox">Clear Recent History</a></td>
<td>command (⌘) + shift + delete</td>
</tr>
</tbody>
</table>
<h2>Bookmarks</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Bookmark All Tabs</td>
<td>Ctrl + Shift + D<br />
command (⌘) + shift + D</td>
</tr>
<tr>
<td>Bookmark This Page</td>
<td>command (⌘) + D</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/create-bookmarks-save-your-favorite-webpages">Bookmarks</a> sidebar</td>
<td>Ctrl + B<br />
Ctrl + I<br />
command (⌘) + B</td>
</tr>
<tr>
<td>Library window (Bookmarks)</td>
<td>Ctrl + Shift + B<br />
command (⌘) + shift + B<br />
Ctrl + Shift + O</td>
</tr>
</tbody>
</table>
<h2>Tools</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/where-find-and-manage-downloaded-files-firefox">Downloads</a></td>
<td>Ctrl + J<br />
Ctrl + Shift + Y<br />
command (⌘) + J</td>
</tr>
<tr>
<td>Add-ons</td>
<td>command (⌘) + shift + A</td>
</tr>
<tr>
<td>Toggle Developer Tools</td>
<td>F12<br />
command (⌘) + alt + I</td>
</tr>
<tr>
<td>Web Console</td>
<td>command (⌘) + alt + K</td>
</tr>
<tr>
<td>Inspector</td>
<td>command (⌘) + alt + C</td>
</tr>
<tr>
<td>Debugger</td>
<td>command (⌘) + alt + S</td>
</tr>
<tr>
<td>Style Editor</td>
<td>Shift + F7</td>
</tr>
<tr>
<td>Profiler</td>
<td>Shift + F5</td>
</tr>
<tr>
<td>Network</td>
<td>command (⌘) + alt + Q</td>
</tr>
<tr>
<td>Developer Toolbar</td>
<td>Shift + F2</td>
</tr>
<tr>
<td>Responsive Design View</td>
<td>command (⌘) + alt + M</td>
</tr>
<tr>
<td>Scratchpad</td>
<td>Shift + F4</td>
</tr>
<tr>
<td>Page Source</td>
<td>command (⌘) + U</td>
</tr>
<tr>
<td>Error ConsoleBrowser Console</td>
<td>command (⌘) + shift + J</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/page-info-window-view-technical-details-about-page">Page Info</a></td>
<td>command (⌘) + ICtrl + I</td>
</tr>
</tbody>
</table>
<h2>PDF Viewer</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Next page</td>
<td>N or J or →</td>
</tr>
<tr>
<td>Previous page</td>
<td>P or K or ←</td>
</tr>
<tr>
<td>Zoom in</td>
<td>command (⌘) + +</td>
</tr>
<tr>
<td>Zoom out</td>
<td>command (⌘) + –</td>
</tr>
<tr>
<td>Automatic Zoom</td>
<td>command (⌘) + 0</td>
</tr>
<tr>
<td>Rotate the document clockwise</td>
<td>R</td>
</tr>
<tr>
<td>Rotate counterclockwise</td>
<td>Shift + R</td>
</tr>
<tr>
<td>Switch to Presentation Mode</td>
<td>command (⌘) + Alt + P</td>
</tr>
<tr>
<td>Toggle Hand Tool</td>
<td>H</td>
</tr>
<tr>
<td>Focus the Page Number input box</td>
<td>command (⌘) + Alt + G</td>
</tr>
</tbody>
</table>
<h2>Miscellaneous</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Complete .com Address</td>
<td>command (⌘) + return</td>
</tr>
<tr>
<td>Complete .net Address</td>
<td>shift + return</td>
</tr>
<tr>
<td>Complete .org Address</td>
<td>command (⌘) + shift + return</td>
</tr>
<tr>
<td>Delete Selected Autocomplete Entry</td>
<td>shift + delete</td>
</tr>
<tr>
<td>Toggle Full Screen</td>
<td>command (⌘)+Shift+F</td>
</tr>
<tr>
<td></td>
<td>Alt<br />
F10</td>
</tr>
<tr>
<td>Show/Hide Add-on Bar</td>
<td>command (⌘) + /</td>
</tr>
<tr>
<td><a href="https://support.mozilla.org/en-US/kb/advanced-panel-settings-in-firefox#w_accessibility">Caret Browsing</a></td>
<td>F7</td>
</tr>
<tr>
<td>Select Location Bar</td>
<td>F6<br />
command (⌘) + L</td>
</tr>
</tbody>
</table>
<h2>Media shortcuts</h2>
<table>
<tbody>
<tr>
<th><strong>To do this</strong></th>
<th><strong>Press this</strong></th>
</tr>
<tr>
<td>Toggle Play / Pause</td>
<td>Space bar</td>
</tr>
<tr>
<td>Decrease volume</td>
<td>↓</td>
</tr>
<tr>
<td>Increase volume</td>
<td>↑</td>
</tr>
<tr>
<td>Mute audio</td>
<td>command (⌘) + ↓</td>
</tr>
<tr>
<td>Unmute audio</td>
<td>command (⌘) + ↑</td>
</tr>
<tr>
<td>Seek back 15 seconds</td>
<td>←</td>
</tr>
<tr>
<td>Seek back 10 %</td>
<td>command (⌘) + ←</td>
</tr>
<tr>
<td>Seek forward 15 seconds</td>
<td>→</td>
</tr>
<tr>
<td>Seek forward 10 %</td>
<td>command (⌘) + →</td>
</tr>
<tr>
<td>Seek to the beginning</td>
<td>Home</td>
</tr>
<tr>
<td>Seek to the end</td>
<td>End</td>
</tr>
</tbody>
</table>
</article>
</div>
