<div class="wrapper">
<h2>Keyboard Shortcuts for Internet Explorer</h2>
<p>Viewing and exploring webpages</p>
<article>The following table describes shortcuts used to view and explore webpages.</p>
<table summary="Table describing shortcuts used to view and explore webpages">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Display Help</td>
<td>F1</td>
</tr>
<tr>
<td>Toggle between full-screen and regular views of the browser window</td>
<td>F11</td>
</tr>
<tr>
<td>Move forward through the items on a webpage, the Address bar, or the Favorites bar</td>
<td>Tab</td>
</tr>
<tr>
<td>Move back through the items on a webpage, the Address bar, or the Favorites bar</td>
<td>Shift+Tab</td>
</tr>
<tr>
<td>Start Caret Browsing</td>
<td>F7</td>
</tr>
<tr>
<td>Go to your home page</td>
<td>Alt+Home</td>
</tr>
<tr>
<td>Go to the next page</td>
<td>Alt+Right Arrow</td>
</tr>
<tr>
<td>Go to the previous page</td>
<td>Alt+Left Arrow or Backspace</td>
</tr>
<tr>
<td>Display a shortcut menu for a link</td>
<td>Shift+F10</td>
</tr>
<tr>
<td>Move forward through frames and browser elements (only works if tabbed browsing is disabled)</td>
<td>Ctrl+Tab or F6</td>
</tr>
<tr>
<td>Move backward between frames (only works if tabbed browsing is disabled)</td>
<td>Ctrl+Shift+Tab</td>
</tr>
<tr>
<td>Scroll toward the beginning of a document</td>
<td>Up Arrow</td>
</tr>
<tr>
<td>Scroll toward the end of a document</td>
<td>Down Arrow</td>
</tr>
<tr>
<td>Scroll toward the beginning of a document in larger increments</td>
<td>Page Up</td>
</tr>
<tr>
<td>Scroll toward the end of a document in larger increments</td>
<td>Page Down</td>
</tr>
<tr>
<td>Move to the beginning of a document</td>
<td>Home</td>
</tr>
<tr>
<td>Move to the end of a document</td>
<td>End</td>
</tr>
<tr>
<td>Find on this page</td>
<td>Ctrl+F</td>
</tr>
<tr>
<td>Refresh the current webpage</td>
<td>F5</td>
</tr>
<tr>
<td>Refresh the current webpage, even if the time stamp for the web version and your locally stored version are the same</td>
<td>Ctrl+F5</td>
</tr>
<tr>
<td>Stop downloading a page</td>
<td>Esc</td>
</tr>
<tr>
<td>Open a new website or page</td>
<td>Ctrl+O</td>
</tr>
<tr>
<td>Open a new window</td>
<td>Ctrl+N</td>
</tr>
<tr>
<td>Open a new InPrivate Browsing window</td>
<td>Ctrl+Shift+P</td>
</tr>
<tr>
<td>Duplicate tab (open current tab in a new tab)</td>
<td>Ctrl+K</td>
</tr>
<tr>
<td>Reopen the last tab you closed</td>
<td>Ctrl+Shift+T</td>
</tr>
<tr>
<td>Close the current window (if you only have one tab open)</td>
<td>Ctrl+W</td>
</tr>
<tr>
<td>Save the current page</td>
<td>Ctrl+S</td>
</tr>
<tr>
<td>Print the current page or active frame</td>
<td>Ctrl+P</td>
</tr>
<tr>
<td>Activate a selected link</td>
<td>Enter</td>
</tr>
<tr>
<td>Open Favorites</td>
<td>Ctrl+I</td>
</tr>
<tr>
<td>Open History</td>
<td>Ctrl+H</td>
</tr>
<tr>
<td>Open Feeds</td>
<td>Ctrl+J</td>
</tr>
<tr>
<td>Open the Page menu</td>
<td>Alt+P</td>
</tr>
<tr>
<td>Open the Tools menu</td>
<td>Alt+T</td>
</tr>
<tr>
<td>Open the Help menu</td>
<td>Alt+H</td>
</tr>
</tbody>
</table>
<h2>Working with tabs</h2>
<p>The following table describes shortcuts used when working with tabs.</p>
<table summary="Table describing shortcuts used when working with tabs">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Open links in a new tab in the background</td>
<td>Ctrl+click</td>
</tr>
<tr>
<td>Open links in a new tab in the foreground</td>
<td>Ctrl+Shift+click</td>
</tr>
<tr>
<td>Open a new tab in the foreground</td>
<td>Ctrl+T</td>
</tr>
<tr>
<td>Switch between tabs</td>
<td>Ctrl+Tab or Ctrl+Shift+Tab</td>
</tr>
<tr>
<td>Close current tab (or the current window if tabbed browsing is disabled)</td>
<td>Ctrl+W</td>
</tr>
<tr>
<td>Open a new tab in the foreground from the Address bar</td>
<td>Alt+Enter</td>
</tr>
<tr>
<td>Switch to a specific tab number</td>
<td>Ctrl+n (where n is a number between 1 and 8)</td>
</tr>
<tr>
<td>Switch to the last tab</td>
<td>Ctrl+9</td>
</tr>
<tr>
<td>Close other tabs</td>
<td>Ctrl+Alt+F4</td>
</tr>
<tr>
<td>Toggle Quick Tabs (thumbnail view) on or off</td>
<td>Ctrl+Q</td>
</tr>
</tbody>
</table>
<h2>Using zoom</h2>
<p>The following table describes shortcuts used for zooming.</p>
<table summary="Table describing shortcuts used for zooming">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Increase zoom (+ 10%)</td>
<td>Ctrl+Plus Sign</td>
</tr>
<tr>
<td>Decrease zoom (- 10%)</td>
<td>Ctrl+Minus Sign</td>
</tr>
<tr>
<td>Zoom to 100%</td>
<td>Ctrl+0</td>
</tr>
</tbody>
</table>
<h2>Using search</h2>
<p>The following table describes shortcuts used for search.</p>
<table summary="Table describing shortcuts used for search">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Go to the search box</td>
<td>Ctrl+E</td>
</tr>
<tr>
<td>Open your search query in a new tab</td>
<td>Alt+Enter</td>
</tr>
<tr>
<td>Open the search provider menu</td>
<td>Ctrl+Down Arrow</td>
</tr>
</tbody>
</table>
<h2>Using Print Preview</h2>
<p>The following table describes shortcuts used to preview and print webpages.</p>
<table summary="Table describing shortcuts used to preview and print webpages">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Set printing options and print the page</td>
<td>Alt+P</td>
</tr>
<tr>
<td>Change paper, headers and footers, orientation, and margins for this page</td>
<td>Alt+U</td>
</tr>
<tr>
<td>Display the first page to be printed</td>
<td>Alt+Home</td>
</tr>
<tr>
<td>Display the previous page to be printed</td>
<td>Alt+Left Arrow</td>
</tr>
<tr>
<td>Type the number of the page you want displayed</td>
<td>Alt+A</td>
</tr>
<tr>
<td>Display the next page to be printed</td>
<td>Alt+Right Arrow</td>
</tr>
<tr>
<td>Display the last page to be printed</td>
<td>Alt+End</td>
</tr>
<tr>
<td>Specify how you want frames to print (this option is available only if you are printing a webpage that uses frames)</td>
<td>Alt+F</td>
</tr>
<tr>
<td>Close Print Preview</td>
<td>Alt+C</td>
</tr>
</tbody>
</table>
<h2>Using the Address bar</h2>
<p>The following table describes shortcuts used on the Address bar.</p>
<table summary="Table describing shortcuts used on the Address bar">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Select the text in the Address bar</td>
<td>Alt+D</td>
</tr>
<tr>
<td>Display a list of addresses you’ve typed</td>
<td>F4</td>
</tr>
<tr>
<td>When in the Address bar, move the cursor left to the next logical break in the address (period or slash)</td>
<td>Ctrl+Left Arrow</td>
</tr>
<tr>
<td>When in the Address bar, move the cursor right to the next logical break in the address (period or slash)</td>
<td>Ctrl+Right Arrow</td>
</tr>
<tr>
<td>Add “www.” to the beginning and “.com” to the end of the text typed in the Address bar</td>
<td>Ctrl+Enter</td>
</tr>
<tr>
<td>Move forward through the list of AutoComplete matches</td>
<td>Up Arrow</td>
</tr>
<tr>
<td>Move back through the list of AutoComplete matches</td>
<td>Down Arrow</td>
</tr>
</tbody>
</table>
<h2>Opening Internet Explorer toolbar menus</h2>
<p>The following table describes shortcuts used to open Internet Explorer toolbar and Command bar menus.</p>
<table summary="Table describing shortcuts used to open Internet Explorer toolbar menus">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Open the Home menu</td>
<td>Alt+M</td>
</tr>
<tr>
<td>Open the Print menu</td>
<td>Alt+R</td>
</tr>
<tr>
<td>Open the RSS menu</td>
<td>Alt+J</td>
</tr>
<tr>
<td>Open the Tools menu</td>
<td>Alt+O</td>
</tr>
<tr>
<td>Open the Safety menu</td>
<td>Alt+S</td>
</tr>
<tr>
<td>Open the Help menu</td>
<td>Alt+L</td>
</tr>
</tbody>
</table>
<h2>Working with feeds, history, and favorites</h2>
<p>The following table describes shortcuts used when working with feeds, history, and favorites.</p>
<table summary="Table describing shortcuts used for feeds, history, and favorites">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Add the current page to your favorites (or subscribe to the feed when in feed preview)</td>
<td>Ctrl+D</td>
</tr>
<tr>
<td>Delete browsing history</td>
<td>Ctrl+Shift+Del</td>
</tr>
<tr>
<td>Open an InPrivate Browsing window</td>
<td>Ctrl+Shift+P</td>
</tr>
<tr>
<td>Open the Organize Favorites dialog box</td>
<td>Ctrl+B</td>
</tr>
<tr>
<td>Move selected item up in the Favorites list in the Organize Favorites dialog box</td>
<td>Alt+Up Arrow</td>
</tr>
<tr>
<td>Move selected item down in the Favorites list in the Organize Favorites dialog box</td>
<td>Alt+Down Arrow</td>
</tr>
<tr>
<td>Open Favorites Center and display your favorites</td>
<td>Alt+C</td>
</tr>
<tr>
<td>Open Favorites Center and display your history</td>
<td>Ctrl+H</td>
</tr>
<tr>
<td>Open Favorites Center and display your feeds</td>
<td>Ctrl+J</td>
</tr>
<tr>
<td>Open and dock the Favorites Center and display your feeds</td>
<td>Ctrl+Shift+J</td>
</tr>
<tr>
<td>Open the Add to Favorites menu (or open Subscribe to feed when in feed preview)</td>
<td>Alt+Z</td>
</tr>
<tr>
<td>Open the Favorites menu from the menu bar</td>
<td>Alt+A</td>
</tr>
<tr>
<td>Display all feeds (when in feed view)</td>
<td>Alt+I</td>
</tr>
<tr>
<td>Mark a feed as read (when in feed view)</td>
<td>Alt+M</td>
</tr>
<tr>
<td>Put the cursor in search box in feed view</td>
<td>Alt+S</td>
</tr>
</tbody>
</table>
<h2>Editing</h2>
<p>The following table describes shortcuts used when editing webpages.</p>
<table summary="Table describing shortcuts used when editing webpages">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Remove the selected items and copy them to the Clipboard</td>
<td>Ctrl+X</td>
</tr>
<tr>
<td>Copy the selected items to the Clipboard</td>
<td>Ctrl+C</td>
</tr>
<tr>
<td>Insert the contents of the Clipboard at the selected location</td>
<td>Ctrl+V</td>
</tr>
<tr>
<td>Select all items on the current webpage</td>
<td>Ctrl+A</td>
</tr>
<tr>
<td>Open Internet Explorer Developer Tools</td>
<td>F12</td>
</tr>
</tbody>
</table>
<h2>Using the Information bar</h2>
<p>The following table describes shortcuts used when working with the Information bar.</p>
<table summary="Table describing shortcuts used on the Information bar">
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Move focus to the Information bar</td>
<td>Alt+N</td>
</tr>
<tr>
<td>Click the Information bar</td>
<td>Spacebar</td>
</tr>
</tbody>
</table>
</article>
</div>
