<div class="wrapper">
<h2>&nbsp;Keyboard Shortcuts for Safari</h2>
<article>
<table>
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Scroll up, down, left, or right</td>
<td>Press the arrow keys.</td>
</tr>
<tr>
<td>Scroll in larger increments</td>
<td>Press Option while you press an arrow key.</td>
</tr>
<tr>
<td>Scroll down a screen</td>
<td>Page Down</p>
<p>Space bar</td>
</tr>
<tr>
<td>Scroll up a screen</td>
<td>Page Up</p>
<p>Shift-Space bar</td>
</tr>
<tr>
<td>Scroll to the top-left or bottom-left corner of the page</td>
<td>Command (⌘)-Up Arrow or Home</p>
<p>Command (⌘)-Down Arrow or End</td>
</tr>
<tr>
<td>Highlight the next item on a webpage</td>
<td>Tab highlights the next text field or pop-up menu. Tab also highlights buttons and other controls if “All controls” is selected in the Shortcuts pane of the Keyboard pane of System Preferences.</p>
<p>Option-Tab highlights the same items as Tab plus all other clickable items.</p>
<p>To swap the behavior of Tab and Option-Tab, turn on “Press Tab to highlight each item on a webpage” in the Advanced pane of Safari preferences.</td>
</tr>
<tr>
<td>Open a page in a new tab</td>
<td>Command (⌘)-click a link</p>
<p>Command (⌘)-click a bookmark</p>
<p>Command (⌘)-Return after typing in the address and search field</td>
</tr>
<tr>
<td>Open a page in a new tab, and bring the tab to the front</td>
<td>Shift-Command (⌘)-click a link</p>
<p>Shift-Command (⌘)-click a bookmark</p>
<p>Shift-Command (⌘)-Return after typing in the address and search field</td>
</tr>
<tr>
<td>Bring the next tab to the front</td>
<td>Control-Tab or Shift-Command (⌘)-[</td>
</tr>
<tr>
<td>Bring the previous tab to the front</td>
<td>Control-Shift-Tab or Shift-Command (⌘)-]</td>
</tr>
<tr>
<td>Close all tabs except for one</td>
<td>Option-click the close button (X) on the tab you want to leave open</td>
</tr>
<tr>
<td>Open in tabs all the bookmarks in a folder in the Favorites bar</td>
<td>Command (⌘)-click the folder in the Favorites bar</td>
</tr>
<tr>
<td>See a list of recent pages by name</td>
<td>Hold down the Back or Forward button until the list appears</td>
</tr>
<tr>
<td>See a list of recent pages by web address (URL)</td>
<td>Press Option and hold down the Back or Forward button until the list appears</td>
</tr>
<tr>
<td>Go to your homepage</td>
<td>Command (⌘)-Home key</td>
</tr>
<tr>
<td>While typing in the address and search field, restore the current webpage address</td>
<td>Esc</td>
</tr>
<tr>
<td>Close Reader</td>
<td>Esc</td>
</tr>
<tr>
<td>Exit full-screen view</td>
<td>Esc</td>
</tr>
<tr>
<td>Download a linked file</td>
<td>Option-click a link to the file</td>
</tr>
<tr>
<td>Open a downloaded file</td>
<td>Double-click the icon next to the file in the downloads list</td>
</tr>
</tbody>
</table>
<h2>Reading List</h2>
<table>
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Add the current page</td>
<td>Shift-Command (⌘)-D</td>
</tr>
<tr>
<td>Add a linked page</td>
<td>Shift-click a link to the page</td>
</tr>
<tr>
<td>Remove a page</td>
<td>Swipe left over the page summary using a trackpad or mouse that supports gestures, then click Remove. Or, swipe all the way to the left until the page summary disappears.</td>
</tr>
</tbody>
</table>
<h2>Bookmarks</h2>
<table>
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Add a bookmark to the Favorites bar</td>
<td>Click the address and search field to show the page’s full address and its icon, then drag the icon to the Favorites bar</td>
</tr>
<tr>
<td>Move a bookmark on the Favorites bar</td>
<td>Drag the bookmark left or right</td>
</tr>
<tr>
<td>Remove a bookmark from the Favorites bar</td>
<td>Drag the bookmark off the top of the bar</td>
</tr>
</tbody>
</table>
<h2>Bookmarks sidebar and bookmarks view</h2>
<table>
<tbody>
<tr>
<th>To do this</th>
<th>Press this</th>
</tr>
<tr>
<td>Select bookmarks and folders in the sidebar</td>
<td>Command (⌘)-click each bookmark and folder</p>
<p>Shift-Command (⌘)-click to extend the selection</td>
</tr>
<tr>
<td>Select the next bookmark or folder</td>
<td>Up Arrow or Down Arrow</td>
</tr>
<tr>
<td>Open the selected bookmark</td>
<td>Space bar</td>
</tr>
<tr>
<td>Open the selected folder</td>
<td>Space bar or Right Arrow</td>
</tr>
<tr>
<td>Close the selected folder</td>
<td>Space bar or Left Arrow</td>
</tr>
<tr>
<td>Open the selected folder and its subfolders in the sidebar</td>
<td>Option-Right Arrow</td>
</tr>
<tr>
<td>Open the selected folder and its subfolders in the sidebar</td>
<td>Option-Left Arrow</td>
</tr>
<tr>
<td>Change the name or address of a bookmark</td>
<td>Select the bookmark, then press Return</td>
</tr>
<tr>
<td>Cancel editing a bookmark name in the sidebar</td>
<td>Esc</td>
</tr>
<tr>
<td>Finish editing a bookmark name</td>
<td>Return</td>
</tr>
<tr>
<td>Create a folder containing the selected bookmarks and folders in bookmarks view</td>
<td>Option-click the New Folder button at the bottom of the window</td>
</tr>
<tr>
<td>Delete a bookmark</td>
<td>Select the bookmark, then press Delete</td>
</tr>
</tbody>
</table>
</article>
</div>
