<p>Recalls are used to remove defective or&nbsp;potentially&nbsp;unsafe&nbsp;products from the market.&nbsp;There are two types of recalls:&nbsp;</p>

<ul><li>Voluntary recalls</li><li>Mandatory recalls</li></ul>

<p>Voluntary recalls are conducted by the cannabis business. Mandatory recalls are ordered by the Department of Cannabis Control (DCC). </p>

<h2>Mandatory recalls</h2>

<p>DCC can order a mandatory recall when:&nbsp;&nbsp;</p>

<ul><li>There is an immediate and serious threat to human life or health, and&nbsp;</li><li>Other remedies would cause an unreasonable delay&nbsp;</li></ul>

<p>During&nbsp;a mandatory recall, DCC notifies all licensees who have the affected product. We provide guidance about what to do, and we work closely with licensees to take needed action.&nbsp;&nbsp;</p>

<h3><strong>List of DCC-mandated recalls</strong>&nbsp;</h3>

<p><strong><a href="https://cannabis.ca.gov/resources/cannabis-recalls-and-safety-notices/mandatory-recall-2022-01-26/">January 26, 2022</a>:&nbsp;Claybourne Co. Head Banger&nbsp;(Cannabis flower)</strong></p>

<ul><li>Sold from&nbsp;November 2,&nbsp;2021&nbsp;to January 26, 2022&nbsp;</li></ul>

<ul><li>Reason for&nbsp;recall: Aspergillus contamination&nbsp;</li></ul>
