<h2>What is CEQA</h2>

<p>The California Environmental Quality Act (CEQA) is a 1970 state law that requires environmental review of proposed projects. The CEQA process aims to:</p>

<ul><li>Identify significant environmental impacts</li><li>Avoid or reduce environmental damage</li><li>Aid public participation</li><li>Add transparency to government decisions</li></ul>

<h2>The CEQA review process</h2>

<h3>Projects that require CEQA review</h3>

<p>All annual state cannabis licenses are subject to CEQA compliance. The DCC may only issue an annual license once a project complies with CEQA.</p>

<p>CEQA documents may be prepared during the local permitting process if the local process is discretionary. Establish a relationship with your local permitting office to ensure you have all documents required to be locally compliant to operate and to obtain what is needed for the DCC CEQA review process.</p>

<h3>Who reviews CEQA compliance</h3>

<p>Cannabis businesses are required to be licensed by the state and must also be licensed or permitted by their local government. When multiple government agencies are involved, one agency acts as lead for CEQA review and the remaining agencies become responsible agencies. All agencies must ensure CEQA compliance before proceeding with their discretionary licensing or permitting decisions.</p>

<h4><strong>Lead and responsible agencies</strong></h4>

<p>The <strong>lead agency </strong>has primary responsibility and discretionary authority for approving a project. This includes identifying required documents, ensuring they meet CEQA criteria and overseeing the completion and submission of documents.</p>

<p>The <strong>responsible agency </strong>has some discretionary authority over a part of the project. There can be more than one responsible agency on a single project.</p>

<p>The local government typically acts as the lead agency, and DCC acts as the responsible agency. If your local permitting process is ministerial and exempt from the preparation of a CEQA document, DCC will act as the lead agency. If DCC is the lead agency, there may be additional fees associated with preparation of CEQA documents<strong>.</strong></p>

<p>DCC will be the lead agency for all cannabis businesses located on tribal land. If your project is located on tribal land, please email the DCC Environmental Evaluation Program at <a href="mailto:EnvironmentalReview@cannabis.ca.gov">EnvironmentalReview@cannabis.ca.gov</a> for additional guidance.</p>

<h3>Demonstrating CEQA compliance</h3>

<p>Local governments have unique requirements for cannabis businesses to demonstrate CEQA compliance. This may include project-specific CEQA documentation, such as:</p>

<ul><li>Notices of Exemption</li><li>Initial studies</li><li>Mitigated Negative Declarations</li><li>Notice of Determinations</li><li>Addendums</li><li>Tiering checklists</li><li>Environmental Impact Reports</li></ul>

<p>Other documentation may also be needed for the CEQA review process, including:</p>

<ul><li>Local business permits</li><li>Conditional use permits</li><li>Staff reports</li><li>Other local permitting documentation</li></ul>

<h3>Tips for applicants</h3>

<p>Cannabis businesses can prepare for the CEQA review process by:</p>

<ul><li>Working closely with representatives from your local permitting program to learn about CEQA requirements so you can complete processes and prepare the right documents</li><li>Responding promptly to DCC requests for clarification or more information</li><li>Hiring an environmental consultant that specializes in the CEQA process, if necessary</li></ul>

<h2>Information for local jurisdictions</h2>

<p>The DCC Environmental Evaluation Program works with local governments to develop permitting programs that meet state licensing requirements, collaborate on appropriate documentation, and identify and remove barriers in the application process. This collaboration avoids delays for applicants.</p>

<p>Local governments can aid cannabis businesses in completing CEQA requirements by:</p>

<ul><li>Incorporating CEQA compliance standards into the local permitting process using <a href="https://www.califaep.org/statute_and_guidelines.php">CEQA and the CEQA Guidelines</a></li><li>If acting as lead agency, meeting with DCC staff to:<ul><li>Identify the documents that need to be prepared</li></ul><ul><li>Incorporate formal or informal comments made by DCC on environmental documents</li></ul><ul><li>Provide applicants a copy of the CEQA documentation prepared by the lead agency to be included in their DCC application</li></ul></li><li>Providing a robust project description with enough information for DCC to make a discretionary determination, and documenting conclusions with substantial evidence</li></ul>

<h2>Resources</h2>

<p>Contact our CEQA review team at <a href="mailto:EnvironmentalReview@cannabis.ca.gov">EnvironmentalReview@cannabis.ca.gov</a> if you have any questions about DCC’s review process.</p>

<p>Learn more about CEQA: <a href="https://opr.ca.gov/ceqa/">https://opr.ca.gov/ceqa/</a><strong></strong></p>
