<p>California has a long history of progressive cannabis policy. We were the first state in the nation to legalize cannabis for medicinal use (1996) and the fifth to legalize for adult use (2016). California also provides financial support and technical assistance to local governments that are pioneering cannabis programs rooted in equity and inclusion.</p>

<p>We’re taking another step forward by creating the Department of Cannabis Control (DCC). DCC merges the work of three different state programs into one state department. DCC will license, inspect, and regulate all cannabis activity in California.</p>

<p>This is a critical first step toward simplifying California’s approach to regulating cannabis.</p>

<h2>DCC&#8217;s first 100 days</h2>

<p>DCC marked 100 days as a new state department on October 21, 2021. DCC has already taken significant steps to deliver on its commitments. </p>

<p>Read more about <a href="https://cannabis.ca.gov/2021/10/21/department-of-cannabis-control-marks-100-days-as-a-new-state-department/">what we&#8217;ve done and where we&#8217;re going</a>.</p>

<h2>What changed after consolidation</h2>

<p>The first key changes that will occur are:</p>

<ul><li>Merging the organizational structure of the three programs into one</li><li>Creating a <a href="https://cannabis.ca.gov/" data-type="page" data-id="7424">new cannabis website</a> for statewide information</li></ul>

<p>We will create as much continuity and consistency as possible as we transition into DCC. Our teams will continue to serve and work with you in the same ways. We will also continue to use the current licensing systems.</p>

<p>Improvements will happen over time, with the continued input of stakeholders, local governments and policymakers. Establishing DCC and simplifying the regulatory structure will be an ongoing process.</p>

<h3>Regulations</h3>

<p>One of DCC’s first priorities is to combine the three sets of regulations into one. This will make it easier for businesses, local governments and the public to understand the law. We’ll do this in stages by:</p>

<ul><li><strong>Moving the regulations.</strong> This will move the three existing sets of regulations into the same title in the California Code of Regulations.</li><li><strong>Adopting a consolidated set of regulations</strong>. This will combine similar sections and resolve conflicts between them.</li><li><strong>Improving the regulations</strong>. We will work with stakeholders to streamline requirements and strengthen public protections.</li></ul>

<h3>Licensing</h3>

<p>The three licensing teams will become a single Licensing Division. This will create more consistency in how we review applications.</p>

<p>In the future, we plan to build a single online licensing system for all cannabis businesses. For now, businesses will continue using the existing three online systems.</p>

<h3>Website</h3>

<p>We launched the new <a rel="noreferrer noopener" href="https://cannabis.ca.gov/" target="_blank">cannabis.ca.gov</a>. It includes expanded information about cannabis:</p>

<ul><li>License applications</li><li>Business types</li><li>Regulations</li><li>Consumer information </li></ul>

<p>We’ll add more content to the website through the end of the year to help you find resources and take actions. Take the survey on our homepage to tell us what content would be most helpful for you.</p>

<h3>Contact information</h3>

<p>We have <a href="https://cannabis.ca.gov/about-us/contact-us/" data-type="page" data-id="689">updated contact information</a>. You can also still reach us through our old email addresses through fall. </p>

<h2>What do I need to do?</h2>

<h3>Cannabis businesses</h3>

<p>Your license or license application transferred to DCC automatically. You do not need to submit a new license application. Your current license is still active, even if your license certificate lists the old licensing authority&#8217;s name. Your license will still expire at the time listed on your license certificate.</p>

<p>Continue to work with the same licensing staff you have been in contact with. We’ll let you know if your licensing contact changes.</p>

<p>Email our licensing team at <a rel="noreferrer noopener" href="mailto:licensing@cannabis.ca.gov" target="_blank">licensing@cannabis.ca.gov</a> if you have questions about your license or application.</p>

<h3>Local governments</h3>

<p>DCC staff will continue to email you to confirm applicants meet local requirements.</p>

<p>Email <a href="mailto:locals@cannabis.ca.gov" target="_blank" rel="noreferrer noopener">locals@cannabis.ca.gov</a> to update your point of contact or send us a copy of your most recent ordinance.</p>

<h3>Law enforcement</h3>

<p>Continue to coordinate investigations or complaints with your existing points of contact. We will update you if their contact information changes.</p>

<p>Email <a rel="noreferrer noopener" href="mailto:enforcement@cannabis.ca.gov" target="_blank">enforcement@cannabis.ca.gov</a> to reach our enforcement team.</p>

<h3>Researchers</h3>

<p>The consolidation does not affect your grant funding or award amount. You can continue to coordinate with your existing point of contact. We will update you if their contact information changes.</p>

<p>Email questions or required grant reports to <a href="mailto:grants@cannabis.ca.gov" target="_blank" rel="noreferrer noopener">grants@cannabis.ca.gov</a>.</p>

<h2>How DCC was created</h2>

<p>The 2021-2022 state budget and trailer bill legislation moved the three cannabis programs’ existing resources, staff and funding to DCC. This retains the knowledge and expertise the programs built over the years.</p>

<h3>Legislation</h3>

<p>Forming DCC required changes to state law. Trailer bills are specialized legislation that made these changes and put the budget into effect.</p>

<p>The trailer bills created DCC and made related improvements throughout the statutes. Read the updated Medical and Adult-Use Cannabis Regulation and Safety Act in <a href="https://leginfo.legislature.ca.gov/faces/codes_displayexpandedbranch.xhtml?tocCode=BPC&amp;division=10.&amp;title=&amp;part=&amp;chapter=&amp;article=">Business and Professions Code, Division 10</a>.</p>

<h2>How to stay updated</h2>

<p><a href="https://lp.constantcontactpages.com/su/RVR4SI1/CACannabisDept" target="_blank" rel="noreferrer noopener">Sign up to receive emails</a> when we share news and information.</p>

<p>Follow us on:</p>

<ul><li><a rel="noreferrer noopener" href="https://www.facebook.com/CACannabisDept" target="_blank">Facebook</a><ul><li>If you followed the Bureau of Cannabis Control or CalCannabis Cultivation Licensing, we already transferred you to our new account.</li></ul></li><li><a rel="noreferrer noopener" href="https://twitter.com/CACannabisDept" target="_blank">Twitter</a><ul><li>If you followed the Bureau of Cannabis Control, we already transferred you to our new account.</li></ul><ul><li>If you followed CalCannabis Cultivation Licensing, you need to make the switch yourself.</li></ul></li><li><a rel="noreferrer noopener" href="https://www.instagram.com/cacannabisdept/" target="_blank">Instagram</a><ul><li>If you followed the Bureau of Cannabis Control, we already transferred you to our new account.</li><li>If you followed CalCannabis Cultivation Licensing, you need to make the switch yourself.</li></ul></li></ul>

<h2>Why we’re consolidating</h2>

<p>For nearly four years, three different state programs licensed and regulated cannabis businesses. They were the:</p>

<ul><li>Bureau of Cannabis Control, in the Department of Consumer Affairs</li><li>Manufactured Cannabis Safety Branch, in the Department of Public Health</li><li>CalCannabis Cultivation Licensing, in the Department of Food and Agriculture</li></ul>

<p>That structure provided expertise and resources when the state cannabis programs were being created. But it also made regulations, licensing and point-of-contacts more complicated.</p>

<p>In 2020, Governor Newsom proposed to simplify that structure by merging the three cannabis programs into a single, new state department. California created DCC on July 12, 2021.</p>

<h3>Goals of consolidation</h3>

<ul><li>Create a single point of contact for licensees, local governments and other stakeholders</li><li>Simplify and centralize licensing and regulatory oversight</li><li>Support businesses to be successful and compliant with state law</li><li>Improve enforcement coordination to:<ul><li>Better protect public health, safety and lands</li><li>Make it more costly to operate in the illicit cannabis market</li></ul></li></ul>
