<h2>2021 overview</h2>

<p>The water year that ended September 30 was the second driest on record, due to extreme heat and lack of rain and snow. All 58 counties in California are now under a drought emergency proclamation.</p>

<p>Most rain and snow falls in California from November through April. It fills the reservoirs and aquifers that we use to supply homes, businesses, and farms. It also supports fish and wildlife that depend on our rivers and wetlands. </p>

<p>Warm temperatures in California this April and early May have made 2021 a critically dry year. Snow melted and runoff evaporated at a faster rate in the Sacramento, Feather, and American River watersheds.&nbsp;</p>

<p>The state continues to track drought conditions. It’s committed to tackling the drought emergency while addressing long-standing water challenges.</p>

<p>Read more in <a href="https://water.ca.gov/-/media/DWR-Website/Web-Pages/Water-Basics/Drought/Files/Publications-And-Reports/091521-Water-Year-2021-broch_v2.pdf">Water Year 2021: An Extreme Year</a>.</p>

<h2>Drought map</h2>

<cagov-drought-map></cagov-drought-map><!-- drought map -->

<p class="has-text-align-center"><em>The U.S. Drought Monitor is jointly produced by the National Drought Mitigation Center at the University of Nebraska-Lincoln, the United States Department of Agriculture, and the National Oceanic and Atmospheric Administration. Map courtesy of NDMC.</em></p>

<h2>Water conditions</h2>

<p>Check water conditions across California:</p>
	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Reservoir conditions</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="http://cdec.water.ca.gov/cgi-progs/reservoirs/RES">Daily Reservoir Storage Summary</a></li><li><a href="http://cdec.water.ca.gov/resapp/RescondMain">Daily Major Reservoir Levels Graphic</a></li><li><a href="https://www.usbr.gov/mp/cvo/vungvari/dayrpt.pdf">Daily USBR Central Valley Project Reservoir Report</a></li></ul>

<p></p>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Precipitation</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="http://cdec.water.ca.gov/reportapp/javareports?name=PLOT_ESI.pdf">Northern Sierra Precipitation: 8-Station Index</a></li><li><a href="http://cdec.water.ca.gov/reportapp/javareports?name=PLOT_FSI.pdf">San Joaquin Precipitation: 5-Station Index</a></li><li><a href="http://cdec.water.ca.gov/reportapp/javareports?name=PLOT_TSI.pdf">Tulare Basin Precipitation: 6-Station Index</a>&nbsp;</li><li><a href="https://wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctPpct.png">Percent of Average Precipitation</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Snowpack</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="http://cdec.water.ca.gov/snowapp/sweq.action">Daily Snowpack Readings&nbsp;</a></li><li><a href="http://cdec.water.ca.gov/snowapp/swcchart.action">Regional Snowpack Plots</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">River flows</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://cdec.water.ca.gov/resapp/AccumulatedRunoff">Accumulated Runoff on Key Rivers</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Dry wells</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://tableau.cnra.ca.gov/t/DWR_SGM/views/mydrywatersupply/Map.pdf">Statewide Distribution of Reported Household Water Supply Shortages</a></li><li><a href="https://tableau.cnra.ca.gov/t/DWR_SGM/views/mydrywatersupply/Chart.pdf">Household Water Supply Shortages Reported to the State by Quarter (2013 to present)</a></li><li><a href="https://tableau.cnra.ca.gov/t/DWR_SGM/views/mydrywatersupply/Table.pdf">Summary of Household Water Shortages by County</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">Other resources</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<ul><li><a href="https://cdec.water.ca.gov/floodER/hydro/">Daily Statewide Hydrologic Update</a></li><li><a href="https://wrcc.dri.edu/cgi-bin/anomimage.pl?wrcOctTvdep.png">Average Temperature Departure from Average</a></li><li><a href="https://www.drought.gov/states/california">National Integrated Drought Information Systems (NIDIS) California Drought Outlook</a></li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>
<p></p>
