<h2>Upcoming events</h2>
<div class="wp-block-ca-design-system-event-list cagov-event-list cagov-stack">
    <div>
        <cagov-event-post-list 
            class="post-list" 
            data-category="events"
            data-count="3"
            data-order="desc"
            data-endpoint="https://api.cannabis.ca.gov/wp-json/wp/v2"
            data-show-excerpt="true"
            data-show-published-date="false"
            data-no-results="No upcoming events found"
            data-show-pagination="false"
            data-read-more=""
            data-filter="today-or-after"
        >
        </cagov-event-post-list>
    </div>
</div>
<h2>Request a speaker for your event</h2>

<p>You can request&nbsp;Department of Cannabis Control (DCC) staff to participate in your upcoming event by emailing <a href="mailto:outreach@cannabis.ca.gov" target="_blank" rel="noreferrer noopener">outreach@cannabis.ca.gov</a>.</p>

<p>We participate in events throughout the year, including as:</p>

<ul><li>Panelists</li><li>Presenters</li><li>Guest speakers</li></ul>

<p>We prioritize events that:</p>

<ul><li>Help licensees understand rules and processes</li><li>Support equity applicants and licensees</li><li>Engage government and law enforcement partners</li><li>Support researchers studying cannabis</li></ul>

<p>DCC does not provide financial support for events.</p>
