<p>You need a <a href="https://cannabis.ca.gov/applicants/license-types/#distribution-licenses" data-type="page">distribution license</a> to transport cannabis and cannabis products in California. Distributors can transport:</p>

<ul><li>Goods they cultivated or manufactured</li><li>Goods for other businesses</li></ul>

<h2>Distribution licenses</h2>

<p>The type and cost of <a href="https://cannabis.ca.gov/applicants/license-types/#distribution-licenses" data-type="page">distribution license</a> depends on whether you:</p>

<ul><li>Transport cannabis goods to retail</li><li>Store cannabis goods</li><li>Transport for other businesses</li></ul>

<h2>Role in testing and quality assurance</h2>

<p>Type 11 distributors make sure a licensed testing laboratory tests all batches of cannabis goods before they are sold. The distributor:</p>

<ul><li>Arranges for a testing laboratory to take a sample of cannabis</li><li>Holds the cannabis goods while the laboratory runs the required tests</li><li>Makes sure the date on the corresponding Certificate of Analysis is less than 12 months old</li></ul>

<p>Distributors can only transport cannabis goods to a retailer for sale if they pass testing. Goods that fail testing are destroyed or sent to a manufacturer for remediation.</p>

<p>Before transporting goods to a retailer, type 11 distributors also conduct a quality assurance review to make sure:</p>

<ul><li>Required information is on the label</li><li>The packaging protects the product from contamination</li><li>It’s not a prohibited product</li><li>The amount of THC in the product is within the limits</li></ul>
