<h2>Emergency drinking water</h2>

<p>Are you having trouble getting water in your home? Has your well gone dry? Contact your county&#8217;s Office of Emergency Services. They will work with you to determine what help is available and how to get it.<br><br></p>

<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.waterboards.ca.gov/drought/emergency_contacts.html">Find your county’s emergency contact</a></div>

<p><br>Some counties are struggling to help their residents deal with the impact of drought. If your county is unable to assist you, email <a href="mailto:drought@waterboards.ca.gov">drought@waterboards.ca.gov</a>.</p>

<p><em>Si tiene un pozo seco y necesitaría asistencia en Español, llame gratis (844) 903-2800.</em>&nbsp;</p>

<h2>Funding programs</h2>

<h3>Immediate drought relief</h3>

<p>In response to current drought conditions, the California Legislature authorized $500 million for the California Department of Water Resources to provide funding for interim or immediate relief. Read more at DWR&#8217;s <a href="https://water.ca.gov/Water-Basics/Drought/Drought-Funding">Drought Funding</a> page.</p>

<h3>Drought relief for small communities and Tribes</h3>

<p>The <a href="https://water.ca.gov/Water-Basics/Drought/Small-Community-Drought-Relief">Small Community Drought Relief Program</a> helps communities and eligible Tribes that are not served by an urban water supplier. We define this as one that supplies at least 3,000 connections or 3,000 acre-feet of water per year. Small community water systems and Tribes under drought emergency should apply as soon as possible. Submit applications or questions to <a href="mailto:smallcommunitydrought@water.ca.gov">smallcommunitydrought@water.ca.gov</a>.</p>

<h3>Water efficiency on farms and ranches</h3>

<p>The State Water Efficiency and Enhancement Program (SWEEP) is a program for California farmers and ranchers. It funds projects that save water by increasing the efficiency of irrigation systems. Get more details and apply at CDFA’s <a href="https://www.cdfa.ca.gov/oefi/sweep/">SWEEP</a> webpage.</p>

<h3>Drought relief for urban or disadvantaged communities and Tribal lands</h3>

<p>The <a href="https://water.ca.gov/Water-Basics/Drought/Urban-Multi-Benefit-Drought">Urban/Multibenefit Drought Relief Grant Program</a> offers financial help to drought relief projects that:</p>

<ul><li>Impact health and human safety</li><li>Impact fish and wildlife</li><li>Restore water to those threatened with water loss or contamination</li></ul>

<p>Funding is available for Tribes, public agencies, public utilities, special districts, non-profit organizations, mutual water companies, colleges, and regional water management groups. Interested parties can submit applications or questions to <a href="mailto:urbandrought@water.ca.gov">urbandrought@water.ca.gov</a>.</p>

<h3>Water projects for disadvantaged communities</h3>

<p>Urgent Drinking Water/Cleanup &amp; Abatement Account Programs fund water projects which benefit disadvantaged communities. They address the lack of water there due to drought and other emergency situations. Public agencies, tribal governments, non-profits, and community water systems may apply. Find details and how to apply at the <a href="https://www.waterboards.ca.gov/water_issues/programs/grants_loans/caa/">Cleanup &amp; Abatement Account</a> webpage.</p>

<h2>Other help</h2>

<ul><li><a href="https://www.waterboards.ca.gov/water_issues/programs/grants_loans/docs/wrfp_guidelines.pdf">Recycled Water Program</a></li><li><a href="https://mywaterquality.ca.gov/habs/where/freshwater_events.html">Harmful Algal Blooms (HABs) Risk Monitoring</a></li><li><a href="https://www.waterboards.ca.gov/water_issues/programs/conservation_portal/water_loss_control.html">Water Loss Control</a></li><li><a href="https://drought.waterboards.ca.gov/">Drought Reporting Tool</a></li><li><a href="https://www.waterboards.ca.gov/water_issues/programs/gama/well_owners.html"></a><a href="https://www.waterboards.ca.gov/water_issues/programs/gama/well_owners.html">Groundwater Ambient Monitoring and Assessment</a></li><li><a href="https://www.waterboards.ca.gov/water_issues/programs/cannabis/docs/cannabisfaq210707.pdf">Water Boards and Cannabis Cultivation</a></li></ul>
