<p>Temporary cannabis events are multi-day events where people can sell and consume cannabis. These events last from one to four days at a location approved by the city or county. Cannabis event organizers host temporary cannabis events.</p>

<h2>Event licenses</h2>

<p>To host a cannabis event you must have <a href="https://cannabis.ca.gov/applicants/license-types/#event-licenses" data-type="page">two licenses</a>:</p>

<ul><li>A cannabis event organizer license</li><li>A temporary cannabis event license (you must get this at least 60 days before the event starts)</li></ul>

<p>Having an event organizer license does not authorize you to:</p>

<ul><li>Cultivate cannabis</li><li>Distribute cannabis or cannabis products</li><li>Manufacture cannabis products</li><li>Sell cannabis goods</li></ul>

<p>You do not need a license if you’re hosting an educational event or just sharing information on cannabis. If you display cannabis goods during an education event, you must follow the <a href="https://cannabis.ca.gov/consumers/whats-legal/" data-type="page" data-id="704">possession limits</a>.</p>

<h2>Role of the event organizer</h2>

<p>Event organizers coordinate all aspects of the event, including:</p>

<ul><li>Maintaining the event space</li><li>Hiring security</li><li>Posting required signs</li><li>Providing the Department of Cannabis Control (DCC) with a list of participants</li><li>Providing DCC with a diagram showing the layout of the event and where participants will be set up</li></ul>

<h2>Temporary cannabis event rules</h2>

<h3>Event sales</h3>

<p>Only distributors can transport cannabis goods to an event.</p>

<p>Only retailers can sell cannabis goods during an event. Retailers must follow all the rules for on-site sales and consumption, including:</p>

<ul><li>Displays of cannabis goods</li><li>Use of exit packaging</li><li>Age restrictions on sales</li><li>Daily sales limits</li><li>No free samples</li><li>Recording sales in the Track and Trace system</li></ul>

<p>Each retailer must have a specific location where they sell cannabis goods. You cannot sell cannabis goods from mobile carts.</p>

<h3>Cannabis consumption</h3>

<p>Cannabis use cannot be visible from outside of the event or any areas that are not age-restricted.</p>

<p>You cannot sell or let attendees use alcohol or tobacco during a cannabis event.</p>
