<p>You can file an anonymous complaint against licensed or unlicensed cannabis businesses. Provide as much detail as you can.</p>

<div class="wp-container-62b1d26c268fe wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://search.cannabis.ca.gov/complaints/unlicensed">File a complaint</a></div>
</div>

<h2>Inspections and enforcement</h2>

<p>The Department of Cannabis Control (DCC) partners with cities, counties, law enforcement and other state agencies to uphold California’s commercial cannabis laws and regulations. We support the integrity of the legal cannabis market through:</p>

<ul><li>Regular inspections</li><li>Careful investigations</li><li>Coordinated enforcement actions</li></ul>

<p>DCC’s Compliance and Enforcement Divisions works with law enforcement and other state agencies to enforce the law. Officers:</p>

<ul><li>Investigate complaints of unlicensed or illegal cannabis activity</li><li>Stop the sale of cannabis to minors</li><li>Prevent unsafe products from entering the cannabis market</li></ul>
