<p>California offers cannabis-related grants to local governments to fund programs and universities to fund research.</p>

<h2>Funding for local jurisdictions</h2>

<h3>Local Jurisdiction Assistance Grant Program</h3>

<p>California is committed to quickly transition cannabis businesses from provisional to annual licenses. One-time grant funding, totaling $100 million, is available to help eligible jurisdictions participate in this effort. Extra funds are available for eligible local jurisdictions with social equity programs. The funds seek to target areas with the highest numbers of provisional licensed businesses. Large numbers of small, legacy and equity businesses operate within these areas.</p>

<p><strong>Eligibility: </strong>17 cities and counties with the highest numbers of provisional licenses</p>

<p><strong>Status: </strong>DCC awarded grant funding in January 2022.  </p>

<div class="wp-container-629a6cf668897 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://cannabis.ca.gov/about-us/grant-funding/local-jurisdiction-assistance-grant-program/">Learn more</a></div>
</div>

<h3>Equity program grants</h3>

<p>Equity programs support cannabis businesses run by people who were negatively or disproportionately affected when cannabis was illegal.</p>

<p>California offers funds to cities and counties to:</p>

<ul><li>Assess cannabis equity in their area</li><li>Create a cannabis equity program</li><li>Support an existing cannabis equity program</li><li>Directly help equity applicants and licensees through:<ul><li>Technical assistance</li><li>Reduced or waived fees</li><li>Low or no-interest loans or grants</li><li>Help securing a business location</li><li>Help recruiting, training or retaining a qualified and diverse workforce</li><li>Business resilience, such as emergency preparedness</li></ul></li></ul>

<h4>Application process</h4>

<p>The Governor’s Office of Business and Economic Development awards equity program grants. <a rel="noreferrer noopener" href="https://business.ca.gov/cannabis-equity-grants-program-sign-up/" target="_blank">Sign up for updates about equity grants</a>, including when they’re accepting applications.</p>

<h4>Previous grant recipients</h4>

<p>California has awarded $40 million in equity grants.</p>
	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">2020</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>Cities and counties received nearly $1.15 million to conduct a cannabis equity assessment or develop a local equity program.</p>

<figure class="wp-block-table"><table><tbody><tr><td><strong>Local jurisdiction</strong></td><td><strong>Funding awarded</strong></td></tr><tr><td>County of Lake</td><td>$150,000</td></tr><tr><td>County of Monterey</td><td>$150,000</td></tr><tr><td>County of Nevada</td><td>$149,999.95</td></tr><tr><td>City of Palm Springs</td><td>$149,397.90</td></tr><tr><td>City of San Jose</td><td>$149,300.37</td></tr><tr><td>City of Santa Cruz</td><td>$147,666.75</td></tr><tr><td>City of Clearlake</td><td>$98,890.43</td></tr><tr><td>City of Coachella</td><td>$93,783.26</td></tr><tr><td>City of Stockton</td><td>$60,000</td></tr></tbody></table></figure>

<p>Cities and counties received nearly $29 million to directly help equity applicants and licensees.</p>

<figure class="wp-block-table"><table><tbody><tr><td><strong>Local jurisdiction</strong></td><td><strong>Funding awarded</strong></td></tr><tr><td>City of Oakland</td><td>$6,576,705.76</td></tr><tr><td>City of Los Angeles</td><td>$6,042,014.23</td></tr><tr><td>City &amp; County of San Francisco</td><td>$4,995,000</td></tr><tr><td>City of Sacramento</td><td>$3,831,955.93</td></tr><tr><td>City of Long Beach</td><td>$2,700,000</td></tr><tr><td>County of Humboldt</td><td>$2,459,581.02</td></tr><tr><td>County of Mendocino</td><td>$2,245,704.40</td></tr></tbody></table></figure>
			</div>
		</div>
		</div>
	</cagov-accordion>

	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">2019</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>All cities and counties that met the grant requirements received at least $100,000.</p>

<figure class="wp-block-table"><table><tbody><tr><td><strong>Local jurisdiction</strong></td><td><strong>Funding awarded</strong></td></tr><tr><td>City of Los Angeles</td><td>$1,834,156.39</td></tr><tr><td>City of Oakland</td><td>$1,657,201.65</td></tr><tr><td>County of Humboldt</td><td>$1,338,683.13</td></tr><tr><td>City &amp; County of San Francisco</td><td>$1,338,683.13</td></tr><tr><td>City of Sacramento</td><td>$1,197,119.34</td></tr><tr><td>City of Long Beach</td><td>$913,991.77</td></tr><tr><td>City of San Jose</td><td>$560,082.30</td></tr><tr><td>County of Santa Cruz</td><td>$560,082.30</td></tr><tr><td>City of Coachella</td><td>$500,000</td></tr><tr><td>City of Palm Springs</td><td>$100,000</td></tr></tbody></table></figure>
			</div>
		</div>
		</div>
	</cagov-accordion>
<h2>Grants for public universities</h2>

<p>The Department of Cannabis Control (DCC) funds <a href="https://cannabis.ca.gov/about-us/scientific-research/" data-type="page" data-id="694">scientific research</a> at California public universities to study the effects of adult-use cannabis legalization. At least $10 million is available each year for researchers.</p>

<p>DCC funds cannabis research about:</p>

<ul><li>Public health</li><li>Criminal justice and public safety</li><li>Economic impacts</li><li>Environmental impacts</li><li>Cannabis industry</li></ul>

<p>The <a rel="noreferrer noopener" href="https://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=RTC&amp;sectionNum=34019." target="_blank">Revenue and Taxation Code</a> details subjects eligible for grant funding. </p>

<h3>Apply for a  DCC  research  grant</h3>

<p>DCC accepts research grant proposals through a Request for Proposals process. DCC is not currently accepting research grant proposals.</p>

<p>In 2020, DCC issued a Request for Grant Proposals in September. Submissions were due in October.</p>

<p>Check back in fall 2021 for the next round of funding.</p>

<h2>Grants for law enforcement</h2>

<h3>Impaired driving  research grants</h3>

<p>The California Highway Patrol <a rel="noreferrer noopener" href="https://www.chp.ca.gov/programs-services/programs/cannabis-tax-fund-grant-program-overview" target="_blank">funds research</a> to combat impaired driving, including:</p>

<ul><li>How to reduce crashes caused by impaired drivers</li><li>Increasing awareness of the dangers of impaired driving</li><li>Improving highway safety</li></ul>

<p>These grants are available to California:</p>

<ul><li>Law enforcement agencies</li><li>City and county crime laboratories</li></ul>

<p></p>
