<div class="wp-block-ca-design-system-feature-card cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-bkgrd-gry cagov-block wp-block-ca-design-system-hero"><div><div class="cagov-stack cagov-p-2 cagov-featured-sidebar"><h2>Are we still in a drought?</h2><div class="cagov-feature-card-body-content">

<p><strong>Despite the recent welcome rain, the answer is yes.</strong> Experts say that it would take 140% of the state’s normal yearly rainfall to recover from drought. Find out more in our weekly California Drought Update.</p>

<div class="wp-block-button"><a class="wp-block-button__link" href="/weekly-drought-update">Read weekly update</a></div>

<p></p>

</div></div><div>
<picture>
<source srcset="https://drought.ca.gov/media/2021/11/drought-photo.webp" type="image/webp">
<img loading="lazy" class="cagov-featured-image" src="https://drought.ca.gov/media/2021/09/drought-photo.png" alt="Photo of low water drought conditions at Folsom Lake in Folsom, California, with exposed huge open spaces, which are underwater during normal water level conditions. Folsom Lake is part of the Central Valley Project, operated by the U.S. Department of the Interior and Bureau of Reclamation. Photo taken July 28, 2021." width="776" height="518">
</picture>
</div></div></div>

<div class="wp-block-ca-design-system-card-grid cagov-card-grid cagov-grid cagov-stack cagov-block">    <a href="/current-drought-conditions" class="wp-block-ca-design-system-card no-deco cagov-card">
        <span class="card-text">See the drought map</span>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"></polygon></g></svg>
    </a>

    <a href="/how-you-can-help/" class="wp-block-ca-design-system-card no-deco cagov-card">
        <span class="card-text">Learn how to save water</span>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"></polygon></g></svg>
    </a>

    <a href="/newsroom" class="wp-block-ca-design-system-card no-deco cagov-card">
        <span class="card-text">Read drought news</span>
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"></polygon></g></svg>
    </a></div>

<div class="wp-block-columns">
<div class="wp-block-column">
<h2>State actions against drought</h2>
<div class="wp-block-ca-design-system-post-list cagov-post-list cagov-stack">
    <div>
        <cagov-post-list 
            class="post-list" 
            data-category="Action"
            data-count="3"
            data-order="desc"
            data-endpoint="https://live-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="true"
            data-show-published-date="true"
            data-no-results="No posts found"
            data-show-pagination="false"
            data-read-more="&lt;a href=&quot;/state-drought-response&quot; data-type=&quot;URL&quot; data-id=&quot;/state-drought-response&quot;&gt;View all actions&lt;/a&gt;"
            data-filter="none"
        >
        </cagov-post-list>
    </div>
</div></div>

<div class="wp-block-column">
<h2>News</h2>
<div class="wp-block-ca-design-system-post-list cagov-post-list cagov-stack">
    <div>
        <cagov-post-list 
            class="post-list" 
            data-category="News"
            data-count="5"
            data-order="desc"
            data-endpoint="https://live-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="false"
            data-show-published-date="true"
            data-no-results="No posts found"
            data-show-pagination="false"
            data-read-more="&lt;a href=&quot;/newsroom&quot; data-type=&quot;page&quot;&gt;View all news&lt;/a&gt;"
            data-filter="none"
        >
        </cagov-post-list>
    </div>
</div></div>
</div>

<p></p>
<p><!-- upgrading 10-13-2021-CS 5:41PM --></p>