<p></p>
<div class="wp-block-ca-design-system-announcement-list cagov-announcement-list cagov-block">
    <h2>Latest news</h2>    

        
        <cagov-post-list 
            class="post-list cagov-stack" 
            data-category="news"
            data-count="5"
            data-order="desc"
            data-endpoint="https://test-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="false"
            data-show-published-date="true"
            data-no-results="No news found"
            data-show-pagination="false"
            data-read-more=""
            data-filter="none"
        >
        </cagov-post-list>

</div>

<div class="wp-block-ca-design-system-announcement-list cagov-announcement-list cagov-block">
    <h2><br>For Homepage<br><br>News</h2>    

        
        <cagov-post-list 
            class="post-list cagov-stack" 
            data-category="news"
            data-count="5"
            data-order="desc"
            data-endpoint="https://test-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="false"
            data-show-published-date="true"
            data-no-results="No news found"
            data-show-pagination="false"
            data-read-more=""
            data-filter="none"
        >
        </cagov-post-list>

</div>
<h2>Media contacts</h2>

<ul><li><a href="https://calepa.ca.gov/newsroom/">California Environmental Protection Agency</a>&nbsp;</li><li><a href="https://resources.ca.gov/Newsroom">California Natural Resources Agency</a>&nbsp;</li><li><a href="https://news.caloes.ca.gov/about/">California Office of Emergency Services</a>&nbsp;</li><li><a href="https://water.ca.gov/Contact/Directory">Department of Water Resources</a></li><li><a href="https://www.waterboards.ca.gov/press_room/#main_contacts">California State Water Resources Control Board</a></li><li><a href="https://www.cdfa.ca.gov/exec/Public_Affairs/">Department of Food and Agricultural</a></li><li><a href="https://wildlife.ca.gov/Organization/OCEO">Department of Fish and Wildlife</a></li></ul>
