<h2>Latest news</h2>
<div class="wp-block-ca-design-system-post-list cagov-post-list cagov-stack">
    <div>
        <cagov-post-list 
            class="post-list" 
            data-category="News"
            data-count="50"
            data-order="desc"
            data-endpoint="https://live-drought-ca-gov.pantheonsite.io/wp-json/wp/v2"
            data-show-excerpt="true"
            data-show-published-date="true"
            data-no-results="No posts found"
            data-show-pagination="false"
            data-read-more=""
            data-filter="none"
        >
        </cagov-post-list>
    </div>
</div>
<h2>Media contacts</h2>

<ul><li><a href="https://calepa.ca.gov/newsroom/">California Environmental Protection Agency</a>&nbsp;</li><li><a href="https://resources.ca.gov/Newsroom">California Natural Resources Agency</a>&nbsp;</li><li><a href="https://news.caloes.ca.gov/about/">California Office of Emergency Services</a>&nbsp;</li><li><a href="https://water.ca.gov/Contact/Directory">Department of Water Resources</a></li><li><a href="https://www.waterboards.ca.gov/press_room/#main_contacts">California State Water Resources Control Board</a></li><li><a href="https://www.cdfa.ca.gov/exec/Public_Affairs/">Department of Food and Agricultural</a></li><li><a href="https://wildlife.ca.gov/Organization/OCEO">Department of Fish and Wildlife</a></li></ul>

<p></p>
<p><!-- upgrading 10-13-2021-CS 5:42PM --></p>