<p>The Department of Cannabis Control has two public awareness campaigns to:</p>

<ul><li>Educate consumers about buying from licensed retailers</li><li>Encourage unlicensed businesses to get licensed</li><li>Promote California’s legal cultivation market</li></ul>

<h2>This is California Cannabis (2020 to present)</h2>

<p><strong>This is California Cannabis</strong> focuses on cultivation and cannabis farmers. The campaign: </p>

<ul><li>Promotes the legal cannabis cultivation market</li><li>Highlights hardworking <a rel="noreferrer noopener" href="https://www.cdfa.ca.gov/calcannabis/profiles/" target="_blank">cannabis farmers</a> who drive the industry forward</li><li>Promotes the benefits of a strong and safe legal market</li></ul>

<p>The campaign includes:</p>

<ul><li>Billboards</li><li>Online advertising</li><li>Social media posts</li><li>Email newsletters</li><li>Videos</li></ul>

<div class="wp-container-628d638506400 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://www.cdfa.ca.gov/calcannabis/growwithCA.html" target="_blank" rel="noreferrer noopener">Learn more at This is California Cannabis</a></div>
</div>

<h2>Get #weedwise (2019 to present)</h2>

<p><strong>Get #weedwise</strong> educates consumers about:</p>

<ul><li>The risks associated with illicit products</li><li>How to identify a licensed retailer</li></ul>

<p>It also warns businesses of the consequences of operating without a license.</p>

<p>The campaign includes:</p>

<ul><li>Billboards</li><li>Online advertising</li><li>Social media posts</li><li>Presentations</li></ul>

<div class="wp-container-628d638506681 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://bcc.ca.gov/consumers/weedwise.html" target="_blank" rel="noreferrer noopener">Learn more at Get #weedwise</a></div>
</div>
