<p><a href="https://cannabis.ca.gov/consumers/whats-legal/" data-type="page" data-id="704">Adults 21 or older</a> can possess and consume cannabis in California. You can also use cannabis if you’re 18 or older and have a <a href="https://cannabis.ca.gov/consumers/medicinal-cannabis/" data-type="page" data-id="695">physician’s recommendation or a medical marijuana ID card</a>.</p>

<p>If you use cannabis, avoid harming yourself and others and buy from <a href="https://cannabis.ca.gov/resources/search-for-licensed-business/" data-type="page" data-id="714">licensed retailers</a>.</p>

<h2>How to use cannabis safely</h2>

<p>Your reaction to cannabis may be different than other people, depending on:</p>

<ul><li>Which method you use</li><li>How much THC you consume</li><li>Your gender</li><li>Your previous experience with cannabis or other drugs</li></ul>

<p>THC is the psychoactive component of cannabis. It creates the high you feel. Using high amounts of THC can impair your judgement and coordination.</p>

<p>Even though it&#8217;s legal in California to use cannabis, employers can prohibit their employees from using cannabis. Know your workplace&#8217;s cannabis policies.</p>

<h3>Be aware of how edibles affect you</h3>

<p>The body metabolizes edibles differently than cannabis that you smoke or vape. When you eat or drink an edible, the THC travels to the stomach, then to the liver. The liver converts the THC to a stronger THC molecule before it travels to your bloodstream and brain. This can make the high seem more intense.</p>

<p>It can take up to 2 hours to start to feel the effects of edibles. It can take up to 4 hours to feel the full effects. This is much slower than smoking or vaping cannabis, which you may immediately feel.</p>

<p>If it’s your first time using an edible:</p>

<ul><li>Start with a small amount of THC (5 mg or less).</li><li>Wait at least an hour before taking more.</li><li>Do not take more than 10 mg THC total.</li></ul>

<h3>Be cautious when inhaling cannabis</h3>

<p>We do not fully understand the health effects of vaping or smoking cannabis. We do know that smoking cannabis regularly can increase the risk of lung problems.</p>

<p>In 2019, more than 2,800 people in the US were <a href="https://www.cdc.gov/tobacco/basic_information/e-cigarettes/severe-lung-disease.html" target="_blank" rel="noreferrer noopener">hospitalized</a> after vaping cannabis. In California, almost everyone hospitalized used cannabis they got from an <a href="https://www.cdph.ca.gov/Programs/CCDPHP/Pages/Vaping-Health-Advisory.aspx" target="_blank" rel="noreferrer noopener">unlicensed source</a>.</p>

<p>Not all vaping devices are the same. Devices that contain metals or heat the oils to extreme temperatures may expose you to harmful substances. If you vape, research the device you want to use and buy vape cartridges from <a href="https://cannabis.ca.gov/resources/search-for-licensed-business/" data-type="page" data-id="714">licensed retailers</a>.</p>

<h3>Do not use cannabis while pregnant or breastfeeding</h3>

<p>Consuming cannabis can affect the health of your baby and is not recommended for women who:</p>

<ul><li>Are pregnant</li><li>Plan to become pregnant soon</li><li>Are breastfeeding</li></ul>

<p>Research shows that if you use cannabis while you are pregnant or breastfeeding:</p>

<ul><li>Your baby may be born with a lower birth weight. This makes it more likely your baby will have health problems, especially in their first year of life. </li><li>The growth and development of your baby’s brain can be harmed. </li></ul>

<p>No matter how you consume cannabis, THC can reach your baby through:</p>

<ul><li>Your bloodstream and into the placenta</li><li>Your breast milk</li><li>Secondhand smoke that enters the baby&#8217;s lungs</li></ul>

<p>“Pumping and dumping” does not work. Your body stores THC in fat cells and releases it over several weeks. This means it stays in your breast milk.</p>

<p>Talk to your doctor about cannabis if you’re pregnant, breastfeeding or planning to become pregnant. If you use medicinal cannabis, ask your doctor for an alternative treatment that’s safe during pregnancy.</p>

<h3>Do not get behind the wheel</h3>

<p>Driving immediately after using cannabis may increase your risk of getting into an accident by 25 to 35 percent. The THC in cannabis can affect your:</p>

<ul><li>Coordination </li><li>Reaction time </li><li>Ability to pay attention </li><li>Decision-making abilities </li><li>Ability to judge distances </li></ul>

<p>Driving under the influence of cannabis is illegal. Drug-impaired driving has the same penalties as alcohol-impaired driving.</p>

<h2>Storing cannabis at home</h2>

<p>Cannabis products can be mistaken for regular food or candy. California has strict labeling laws to warn when products contain cannabis. To prevent kids from accessing cannabis or anyone from accidentally taking it:</p>

<ul><li>Keep cannabis in the child-resistant packaging from the store.</li><li>Reseal cannabis products after use.</li><li>Store and dispose of cannabis products where it cannot be easily seen or accessed by children or pets.</li></ul>

<h2>Keep children safe</h2>

<p>Cannabis affects children more than adults. Children are at higher risk for adverse effects from cannabis, especially with edibles. To keep kids safe:</p>

<ul><li>Do not use cannabis around children. </li><li>When you’re using cannabis, make sure an adult who can look after your children is nearby. </li><li>If you think a child may have taken cannabis, call California Poison Control at <a href="tel:8002221222">800-222-1222</a>. </li></ul>

<p>We have resources to help you <a href="https://cannabis.ca.gov/consumers/talking-young-people-about-cannabis/" data-type="page" data-id="697">talk to young people about cannabis use</a>.</p>

<h2>Protect your pets</h2>

<p>Cannabis use is not federally approved for animals. Before giving cannabis to your pet, talk to your veterinarian about:</p>

<ul><li>The amount to give </li><li>Types of products </li><li>Ingredients that may be dangerous to animals </li></ul>

<p>Store cannabis safely out of reach of animals. If your pet accidentally eats cannabis, call either:</p>

<ul><li><a href="https://www.aspcapro.org/topics-animal-health/toxicology-poison-control" target="_blank" rel="noreferrer noopener">Animal Poison Control Center</a> at <a href="tel:8884264435">888-426-4435</a></li><li>Your veterinarian</li></ul>

<p>Watch for:</p>

<ul><li>Stumbling </li><li>Urinary incontinence </li><li>Lethargy </li><li>Drooling </li><li>Vomiting </li><li>Agitation </li></ul>
