<p>Cannabis businesses must follow the regular rules for businesses in California. We’ve gathered some of the most common information for cannabis businesses.</p>

<h2>Business filings and trademarks</h2>

<p>You must register your business with the California Secretary of State. The only exception is if you’re a sole proprietor. You can register as a:</p>

<ul><li>Corporation </li><li>Limited liability company </li><li>Partnership</li><li>Nonprofit </li></ul>

<p>You can also trademark your business, brand or product name to prevent someone else from using it. Learn more at <a href="https://www.sos.ca.gov/business-programs/cannabizfile" target="_blank" rel="noreferrer noopener">Cannabizfile</a>.</p>

<h2>Banking and insurance</h2>

<p>The Department of Cannabis Control can help your business access financial services. You can authorize us to share information with financial institutions. This may make it easier to get services from them.</p>

<p>Learn more about how to get <a href="https://cannabis.ca.gov/resources/banking-insurance/" data-type="page" data-id="709">banking and insurance services</a>. </p>

<h2>Taxes</h2>

<p>Your business must pay <a href="https://www.ftb.ca.gov/file/business/industries/cannabis.html" target="_blank" rel="noreferrer noopener">state income tax</a> and <a href="https://www.edd.ca.gov/Payroll_Taxes/Cannabis_Industry_Payroll_Tax_Reporting.htm" target="_blank" rel="noreferrer noopener">payroll taxes</a>. Cannabis businesses must pay <a href="https://www.cdtfa.ca.gov/industry/cannabis.htm" target="_blank" rel="noreferrer noopener">cannabis-specific taxes</a>. Examples include a cultivation tax and an excise tax. Cannabis taxes fund public health, environmental protection and public safety initiatives. </p>

<h2>Operating a safe workplace</h2>

<p>Your business must protect employees from work-related health and safety hazards. You need an Injury and Illness Prevention Program (IIPP) that:</p>

<ul><li>Identifies workplace health and safety hazards</li><li>Trains employees to work safely </li></ul>

<p>Cal/OSHA has resources to help you <a rel="noreferrer noopener" href="https://www.dir.ca.gov/dosh/cannabis-industry-health-and-safety.html" target="_blank">create an IIPP</a>.</p>

<p>A supervisor and employee must also complete a Cal/OSHA 30-hour general industry outreach course if your business has more than one employee. The course must be taught by a trainer authorized by the OSHA Training Institute Education Center.</p>

<h2>Protecting the environment</h2>

<p>Your business must follow all state and local laws intended to protect and conserve the environment. You must get entitlements, permits or licenses and follow rules when your activities:</p>

<ul><li>Affect a river, stream or lake</li><li>Involve <a href="https://www.waterboards.ca.gov/water_issues/programs/cannabis/" target="_blank" rel="noreferrer noopener">water diversions or release of waste</a></li></ul>

<p>If you use <a rel="noreferrer noopener" href="https://www.cdpr.ca.gov/docs/cannabis/index.htm" target="_blank">pesticides</a>, you must prevent them from contaminating soil and groundwater.  </p>
