<p>The License Search Tool is updated daily and contains information about all of the businesses licensed by the Department of Cannabis Control. It can be used to:</p>

<ul><li>Verify if a cannabis business is licensed</li><li>Find a cannabis retailer near you</li><li>Search for licensed cannabis businesses</li><li>File a complaint about a cannabis business</li></ul>

<div class="wp-container-62bb18a363ba9 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://search.cannabis.ca.gov/" target="_blank" rel="noreferrer noopener">Search for a license</a></div>
</div>

<h2><strong>Questions and answers</strong></h2>
	<cagov-accordion>
		<div class="cagov-accordion-card">
		<button class="accordion-card-header accordion-alpha" type="button" aria-expanded="false">
			<div class="accordion-title">What do the License Statuses mean?</div>
			<div class="plus-minus">
			<cagov-plus></cagov-plus>
			<cagov-minus></cagov-minus>
			</div>
		</button>
		<div class="accordion-card-container">
			<div class="card-body">
				

<p>The status tells you if the cannabis license is an active license or not.</p>

<p>Active means the business has an active license. They may do the commercial cannabis activities allowed by their license type. They may operate at the location listed on the license.</p>

<p>The cannabis business cannot do any commercial cannabis activity at the location if they have one of the following statuses:</p>

<ul><li>Expired — The license was not renewed, and it expired.</li><li>Cancelled — The business had a provisional license but did not meet the criteria for an annual license. The license was cancelled.</li><li>Revoked — The license was revoked due to disciplinary action or because the business did not meet local requirements.</li><li>Suspended — The business has a disciplinary action against it. The license is suspended until that action is resolved.</li><li>Surrendered — The business voluntarily gave up their license.</li></ul>
			</div>
		</div>
		</div>
	</cagov-accordion>
<p></p>
