<p>Adults have an impact on if kids experiment with cannabis. You can help prevent underage use by:</p>

<ul><li>Starting the conversation about cannabis early</li><li>Talking openly and sharing the risks of using cannabis</li><li>Listening to the questions and thoughts they have</li><li>Setting shared expectations for healthy behaviors</li></ul>

<h2>Tips for parents and caregivers</h2>

<ul><li>Stay positive.</li><li>Focus on how using cannabis can get in the way of achieving goals like:<ul><li>Graduating high school</li><li>Getting into college</li><li>Getting a good job</li></ul></li><li>Do not focus on negative outcomes.</li></ul>

<p>Young people who have supportive adults in their life are less likely to use cannabis and illegal drugs. They’re also less likely to use cannabis when their parents set clear limits and house rules.</p>

<p>Be aware of your own attitudes and behaviors. You’re a role model. If you use cannabis in front of young people, they’re more likely to use it too.</p>

<h2>Health effects of cannabis on young people</h2>

<h3>Effects on the body</h3>

<p>The brain does not fully develop until we reach our mid-20s. Regular cannabis use early in life can lead to physical changes in the brain’s reward centers. These changes may last into adulthood and affect mental health.</p>

<p>Like tobacco, smoking cannabis harms the lungs. Cannabis smoke has many of the same toxins found in tobacco smoke, which can increase the risk of lung problems.</p>

<h3>Effects on the mind</h3>

<p>Cannabis can affect:</p>

<ul><li>Memory</li><li>Learning</li><li>Attention</li></ul>

<p>Regular cannabis use has been linked to anxiety, depression and suicide, especially for teens with a family history of mental illness.</p>

<p>Cannabis may also affect motivation to pursue educational and professional goals. Research shows that young people who start using cannabis before age 18 or use cannabis regularly may be at higher risk for:</p>

<ul><li>Skipping classes</li><li>Getting lower grades</li><li>Dropping out of school</li><li>Unemployment or having less fulfilling jobs later in life</li></ul>

<h2>Legal consequences of cannabis use</h2>

<p>Young people caught with cannabis must complete drug education or counseling and community service. This does not apply if they have a current qualifying physician’s recommendation or a valid county-issued medical marijuana ID card.</p>

<h2>How to recognize if a young person is using cannabis</h2>

<p>Look for behavioral changes such as:</p>

<ul><li>Mood swings</li><li>Spending less time with friends</li><li>Skipping school</li><li>Loss of interest in sports or other favorite activities</li><li>Changes in grades and sleeping habits</li></ul>

<p>Young people under the influence of cannabis may:&nbsp;</p>

<ul><li>Lack coordination</li><li>Giggle for no reason</li><li>Act silly</li><li>Have red eyes and short-term memory loss</li></ul>

<h2>What to do if a young person is using cannabis</h2>

<ul><li>Stay calm. Overreacting may lead them to rebel, feel resentment or take greater risks.</li><li>Talk about your concerns. Give positive reasons for stopping their cannabis use. Keep the conversation focused on problem solving.</li><li>Remind them of any ground rules you set earlier or set new ground rules and consequences.</li><li>If needed, seek help from adults you trust and resources in your community.</li><li>Call 911 to get help if there is a medical or mental health emergency.</li></ul>
