<p>All statewide licensees use the California Cannabis Track and Trace (CCTT) system to track the movement of cannabis and cannabis products through the supply chain. This is known as “seed to sale” tracking.</p>

<h2>How to get a CCTT account</h2>

<p>Only licensed cannabis businesses can use CCTT. After your license is issued, you have 10 days to:</p>

<ul><li>Complete account manager system training</li><li>Request access to the system</li><li>Verify your account</li><li>Order plant and/or package tags</li></ul>

<p>The CCTT software provider, Metrc, has <a rel="noreferrer noopener" href="https://www.metrc.com/california" target="_blank">resources and guides</a> to help you use CCTT and information for third-party software vendors who want to set up an application programming interface (API).</p>

<h2>Access Track and Trace </h2>

<p>CCTT uses Metrc software. Metrc is web-based software that can be access through an internet browser, internet-connected phone or a third-party interface.</p>

<div class="wp-container-62c64e903d4c0 wp-block-buttons">
<div class="wp-block-button"><a class="wp-block-button__link" href="https://ca.metrc.com/log-in?ReturnUrl=%2f">Access CCTT</a></div>
</div>

<p></p>
