/* Forms generic styles*/
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea, input {
  background-color: $white;
  color: $black !important;
  font-size: var(--body-text, 1.125rem);
  font-weight: $regular;
  &:focus {
      outline: 2px solid $secondary;
  }
}