// Global variables

// Breakpoints
$mobile: 768px;
$mobile-min: 767px;
$tablet-buffer: 1216px;
$desktop: 1176px;
$desktop-min: 1176px;

// Container widths
$w-lg: 1176px;
$w-md: 960px;
$w-sm: 720px;
$w-xs: 540px;

// Page container widths
$w-page-content: 876px;

// Font sizes
$body-text: 1.125rem;
$lead-text: 1.5rem;
$small-text: 1rem;

// Padding elements
$base: 8px;
$p-sm: ($base * 2); // 16px
$p-md: ($base * 3); // 24px
$p-lg: ($base * 4); // 32px

// Margin elements
$m-sm: ($base * 6); // 48px
$m-md: ($base * 8); // 64px
$m-lg: ($base * 12); // 96px
$m-xl: ($base * 24); // 96px

// Font 
$site-font: "Public Sans",sans-serif;
$bold: 700;
$regular: 400;
$light: 300;

:root {
  // Container widths
  --w-lg: 1176px;
  --w-lg: 1176px;
  --w-md: 960px;
  --w-sm: 720px;
  --w-xs: 540px;

  // Font sizes
  --body-text: 1.125rem;
  --lead-text: 1.5rem;
  --small-text: 1rem;
}