code,
samp,
time {
  background: var(--sass-color-background);
  color: var(--sass-color-code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: var(--sass-color-variable);
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: var(--sass-color-background);
  border: 1px solid var(--sass-color-border);
  border-radius: 2px;
  color: var(--sass-color-text-main);
  padding: 2px 4px 2px 4px;
}
