---
tags:
  - wpPageCollection
pagination:
    data: wordpress
    size: 1
    alias: wordpress
    addAllPagesToCollections: true
permalink: "{{ wordpress.dataset.data.wordpress_url }}/"
layout: "layouts/home.njk"
---


{{ wordpress.content | safe }}