---
tags:
  - press
pagination:
    data: wordpress
    size: 10
    alias: wordpress
layout: "layouts/press.njk"
---

<ol>
{%- for item in pagination.items %}
  <li><a href="{{ item.dataset.wordpress_url }}">{{ item.dataset.data.title | safe }}</a></li>
{% endfor -%}
</ol>