---
tags:
  - press
pagination:
    data: wordpress
    size: 10
    alias: wordpress
layout: "layouts/press.njk"
---

<div class="post-list-results">
  <div class="post-list-items">
    {%- for item in pagination.items %}
      <div class="post-list-item">
        <div class="link-title"><a href="{{ item.dataset.data.wordpress_url }}">
          {{ item.dataset.data.title | safe }}
        </a></div>
        <div class="excerpt"><p></p>
        <p>{{ item.dataset.data.excerpt | safe }}</p>
        <p></p></div>
        <div class="date">{{ item.dataset.data.date.toLocaleString() }}</div>
      </div>
    {% endfor -%}
  </div>
</div>

<cagov-pagination data-current-page="{{ pagination.pageNumber }}" data-total-pages="{{ pagination.pages.length }}"></cagov-pagination>
