---
tags:
  - wpPageCollection
pagination:
    data: wordpress
    size: 1
    alias: wordpress
    addAllPagesToCollections: true
permalink: "{{ wordpress.dataset.data.wordpress_url }}/"
layout: "layouts/index.njk"
renderData:
  title: Tagged
  templatestring: "{{ wordpress.dataset.data.template }}/"
---

{{ wordpress.content | safe }}