


.cagov-combo-box__list, .cagov-combo-box__input, .cagov-input-group, .cagov-input,
.cagov-textarea, .cagov-range, .cagov-select, .cagov-checkbox__label,
.cagov-radio__label, .cagov-fieldset,
.cagov-hint{
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.3;
}

.cagov-combo-box__input, .cagov-input-group, .cagov-input,
.cagov-textarea, .cagov-range, .cagov-select{
  border-width:1px;
  border-color:#565c65;
  border-style:solid;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  border-radius:0;
  color:#1b1b1b;
  display:block;
  height:2.5rem;
  margin-top:0.5rem;
  max-width:30rem;
  padding:0.5rem;
  width:100%;
}
.cagov-input--success.cagov-combo-box__input, .cagov-input--success.cagov-input-group, .cagov-input--success.cagov-input,
.cagov-input--success.cagov-textarea, .cagov-input--success.cagov-range, .cagov-input--success.cagov-select{
  border-width:0.25rem;
  border-color:#00a91c;
  border-style:solid;
}


.cagov-combo-box{
    max-width:30rem;
    position:relative;
  }
  
  .cagov-combo-box--pristine .cagov-combo-box__input{
    padding-right:calc(5em + 4px);
  }
  .cagov-combo-box--pristine .cagov-combo-box__input::-ms-clear{
    display:none;
  }
  .cagov-combo-box--pristine .cagov-combo-box__clear-input{
    display:block;
  }
  
  .cagov-combo-box__input{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    margin-bottom:0;
    max-width:none;
    padding-right:calc(2.5em + 3px);
  }
  
  button.cagov-combo-box__toggle-list:focus,
  button.cagov-combo-box__clear-input:focus{
    outline-offset:-4px;
  }
  .cagov-combo-box__toggle-list__wrapper:focus,
  .cagov-combo-box__clear-input__wrapper:focus{
    outline:0;
  }
  .cagov-combo-box__toggle-list,
  .cagov-combo-box__clear-input{
    background-color:transparent;
    background-position:center;
    background-size:auto 1.5rem;
    border:0;
    bottom:1px;
    cursor:pointer;
    margin-bottom:0;
    opacity:0.6;
    padding-right:2rem;
    position:absolute;
    top:1px;
    z-index:100;
  }
  
  .cagov-combo-box__clear-input{
    /* background-image:url("../img/cagov-icons/close.svg"), linear-gradient(transparent, transparent); */
    background-repeat:no-repeat;
    display:none;
    right:calc(2.5em + 3px);
  }
  
  .cagov-combo-box__toggle-list{
    /* background-image:url("../img/cagov-icons/expand_more.svg"), linear-gradient(transparent, transparent); */
    background-repeat:no-repeat;
    background-size:auto 2rem;
    right:1px;
  }
  
  .cagov-combo-box__input-button-separator{
    background-color:#c6cace;
    position:absolute;
    top:1px;
    margin-bottom:8px;
    margin-top:8px;
    width:1px;
    right:calc(2.5em + 2px);
    box-sizing:border-box;
    z-index:200;
  }
  
  .cagov-combo-box__list{
    border-width:1px;
    border-color:#565c65;
    border-style:solid;
    background-color:white;
    border-radius:0;
    border-top:0;
    margin:0;
    max-height:12.1em;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:0;
    position:absolute;
    width:100%;
    z-index:300;
  }
  .cagov-combo-box__list:focus{
    outline:0;
  }
  
  .cagov-combo-box__list-option{
    border-bottom:1px solid #dfe1e2;
    cursor:pointer;
    display:block;
    padding:0.5rem;
  }
  .cagov-combo-box__list-option--focused{
    outline:2px solid #162e51;
    outline-offset:-2px;
    position:relative;
    z-index:100;
  }
  .cagov-combo-box__list-option--focused:focus{
    outline-offset:-4px;
  }
  .cagov-combo-box__list-option--selected{
    background-color:#005ea2;
    border-color:#005ea2;
    color:white;
  }
  
  .cagov-combo-box__list-option--no-results{
    cursor:not-allowed;
    display:block;
    padding:0.5rem;
  }