/* Cannabis logo font */
@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Medium.woff2") format("woff2");
}

/* Colorscheme root variables */
:root {
  --org-name-state-font: "Arial", "Helvetica", sans-serif;
  --org-name-state-font-size: 0.875rem;
  --org-name-state-text-transform: uppercase;
  --org-name-dept-font: "Lexend";
  --org-name-dept-font-size: 1.5rem;
  --org-name-dept-font-weight: 500;
}
