/* Cannabis color scheme */ 
//theme colors
$primary: #2f4c2c;
$primary-dark: #064e66;
$primary-light: #ccdbf2;
$secondary: #fec02f;
$secondary-dark: #cf5d28;
$secondary-light: #fff2d5;

/* Colorscheme root variables */
:root {
  --primary-color: #064e66;
  --primary-hover-color: #043747;
  --standout-color: #2f4c2c;
  --standout-hover-color: #21351f;
  --secondary-color: #cf5d28;
  --highlight-color: #fdb81e;
}