/* Cannabis logo font */
@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-Medium.woff2") format("woff2");
}

/* Colorscheme root variables */
:root {
  /* Theme colors */
  --primary-color: #064e66;
  --primary-dark-color: #043747;
  --primary-light-color: #518394;
  --primary-lightest-color: #b4cad1;
  --primary-hover-color: #043747;

  --secondary-color: #2f4c2c;
  --secondary-dark-color: #21351f;
  --secondary-light-color: #6d826b;
  --secondary-lightest-color: #c1c9c0;
  --secondary-hover-color: #21351f;

  --highlight-color: #c0633b;
  --highlight-dark-color: #864529;
  --highlight-light-color: #d39276;
  --highlight-lightest-color: #ecd0c4;
  --secondary-hover-color: #864529;

  --org-name-state-font: "Arial", "Helvetica", sans-serif;
  --org-name-state-font-size: 0.875rem;
  --org-name-state-text-transform: uppercase;

  --org-name-dept-font: "Lexend";
  --org-name-dept-font-size: 1.5rem;
  --org-name-dept-font-weight: 500;
}

// !Note: Monolith WP statewide footer menu override:
// ca.gov menu item is nessesary in monolith, but is not needed in headless.
// Please address it when healess goes live by removing ca.gov menu item from WP footer menu
// then remove styles below:
footer .footer-secondary-links a:first-child {
  display: none;
}
