/* Code generic styles */
code,
samp,
time {
  background:$gray-100;
  color:$gray-900;
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: $body-text;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}