/* Forms generic styles*/
body {
  font-weight: $regular;
}
textarea, input {
  background-color: $white;
  color: $black !important;
  font-size: $body-text;
  font-weight: $regular;
  &:focus {
      outline: 2px solid $secondary;
  }
}