
/* SIDEBAR */
/* Based on EveryLayout sidebar: https://every-layout.dev/layouts/sidebar/. 
 Intention: We are keeping a clean and clear page-container so that we can do more css for design prototypes without requiring full integration with Wordpress Theme until user testing and research has concluding and layouts and templates are finalized.
 We are interested to use more of these kinds of layouts. 
 Talk to Koji for more information.
 See also: https://shop.smashingmagazine.com/products/inclusive-design-patterns

 Integration with CAWeb theme. For any main page elements that need to also render in the default template, the suffix is -default for layouts in the main theme, and -ds for layouts that are tied to templates provided by the design system WP code.
*/

.sidebar-container {
  display: block;
  width: 276px;
  max-width: 276px;
}

.with-sidebar .main-content-default,
.with-sidebar .ds-content-layout {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar.has-sidebar-left .main-content-default > *,
.with-sidebar.has-sidebar-left .main-content-ds .ds-content-layout > .everylayout {
  margin: calc(var(--s1) / 2);
  flex-basis: 267px;
  flex-grow: 1;
}

.with-sidebar.has-sidebar-left .main-content-default > :last-child,
.with-sidebar.has-sidebar-left .main-content-ds .ds-content-layout > .everylayout:last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.with-sidebar.has-sidebar-right .main-content-default,
.with-sidebar.has-sidebar-right .main-content-ds .ds-content-layout > .everylayout {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.with-sidebar.has-sidebar-right .main-content-default > * > :last-child,
.with-sidebar.has-sidebar-right .main-content-ds .ds-content-layout > :last-child {
  margin: calc(var(--s1) / 2);
  flex-basis: 267px;
  flex-grow: 1;
}

.with-sidebar.page-container-ds.has-sidebar-left main {
  margin-left: 64px;
  margin-right: 20px;
}

.with-sidebar.page-container-ds.has-sidebar-right main {
  margin-right: 64px;
  margin-left: 20px;
}

.with-sidebar .main-container-ds {
  max-width: 877px;
}