/**
 CA Design System Page layout CSS
*/

/* PAGE CONTAINER */
/* Design system page container */

/* First Block has a top margin */
#main-content {
  margin-top: 32px;
  margin-bottom: 64px;
}

.page-container-ds {
  max-width: 1147px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-content-ds {
  margin-top: 32px;
  max-width: 100%;
}

/* Single column layout */
.single-column {
  max-width: 1147px;
  margin: 0 auto;
}

/* CONTENT FOOTER */
.content-footer-container {
  border-bottom: 1px solid #ededef;
  border-top: 1px solid #ededef;
  padding-top: 23px;
  padding-bottom: 23px;
}

.content-footer {
  max-width: 1176px !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

cagov-navoverlay {
  max-width: 1147px;
  margin: 0 auto;
}

/* PAGE BEHAVIORS */

/* Hide Mobile title, lives outside flex aligned elements and before content navigation, desktop page title is inside main. */
.narrow-page-title {
  display: none;
}

/* Gutenberg Block alignment */

/* Class applied to most external element of a gutenberg block component. Controls spacing between blocks. */
.cagov-stack {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Apply same spacing mechanism as cagov-stack, but overriding default gutenberg block element classes */
.wp-block-columns {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Update position list element */
main ul li {
  list-style-position: outside;
}

@media only screen and (max-width: 992px) {
  .with-sidebar .main-content-default,
  .with-sidebar .ds-content-layout {
    display: block;
  }

  article {
    display: block;
  }

  .with-sidebar.page-container-ds #main-content.main-content-ds,
  .with-sidebar.page-container-ds #main-content.main-content-ds main {
    margin-top: 0;
    margin-left: 0;
  }

  .with-sidebar.page-container-ds main {
    margin-left: inherit;
    margin-top: 32px;
  }

  /* Responsive page title */
  .wide-page-title {
    display: none;
  }

  .narrow-page-title {
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  /* Content Navigation */
  cagov-content-navigation .label {
    display: none;
  }

  sidebar cagov-content-navigation ul li:last-child {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ededef;
  }

  cagov-content-navigation ul li a {
    font-size: 16px;
    line-height: 24px;
  }

  /* Content Menu */
  .content-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* border styles */
.wp-block-table {
  background: none !important;
  border: none !important;
}
.wp-block-table table,
.wp-block-table table th,
.wp-block-table table td {
  border: 1px solid #ededef !important;
}