// Design System Variables
//colors
$primary: #004abc;
$primary-dark: #1e1569;
$primary-light: #ccdbf2;
$secondary: #fec02f;
$secondary-dark: #ff8000;
$secondary-light: #fff2d5;
$gray-100: #f9f9fa;
$gray-200: #ededef;
$gray-300: #e1e0e3;
$gray-400: #d3d2d6;
$gray-500: #c4c3c8;
$gray-600: #b3b2b8;
$gray-700: #a09fa7;
$gray-800: #6c6b77;
$gray-900: #3f3e4d;
$black: #000;
$white: #fff;

//fonts sizes
$body-text: 1.125rem;
$lead-text: 1.5rem;
$small-text: 1rem;

//padding spaces:
$base: 8px;
$p-sm: ($base * 2); // 16px
$p-md: ($base * 3); // 24px
$p-lg: ($base * 4); // 32px

//marging spaces:
$m-sm: ($base * 6); // 48px
$m-md: ($base * 8); // 64px
$m-lg: ($base * 12); // 96px
$m-xl: ($base * 24); // 96px

// container width
$w-lg: 1140px;
$w-md: 960px;
$w-sm: 720px;
$w-xs: 540px;