/* GLOBAL */
// Site Colors
@import './colorschemes/cannabis.scss'; /* theme colors */
@import './_variables'; /* spasing, margin and padding values */

/* sitewide styles, these are mostly blank but will be wrapped up into components/base-css */
@import './_fonts'; /* website global fonts */
@import './_base'; /* html, body, main and all the website level base styes */
@import './_buttons'; /* buttons generic styles */
@import './_code'; /* pre, code, var generic styles */
@import './_forms'; /* input, textarea, select generic styles */
@import './_links'; /* a, a:hover, a:focus */
@import './_typography'; /* headings, p, blockqute, font styles */
@import './_utility-classes'; /* all utility css classes that can be used (shortcodes) */
/* all of the above will become part of base-css component */

/* COMPONENTS/BLOCKS */
@import '../../components/page-alert/index'; /* copied from gutenberg custom block */
@import '../../components/hero/index'; /* copied from block */
@import '../../components/cards/index'; /* copied from blocks */
@import '../../components/breadcrumb/index'; /* copied from blocks */
@import '../../components/content-navigation/index'; /* copied from blocks */
@import '../../components/step-list/index';
@import './_announcement-list'; /* copied from block */
@import '../../components/branding/_style';
@import '../../components/utility-header/_style';
@import '../../components/site-footer/_style';
@import '../../components/footer/_style';
@import '../../components/navigation/_style';
@import '../../components/menu/scss/_index';
/* these component should all be published and installed so they aren't duplicated here and in design-system */

/* page layout styles, not sure where this should go, in base-css too eventually? */
@import './_layouts-main'; 
@import './_layouts-sidebar'; 
