
$tablet:             768px;    //768px
$tablet-wide:        64em;    //1024px
$desktop:            81.25em; //1300px

@mixin phone {
  @media (max-width: #{$tablet-wide}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$desktop-large}) {
    @content;
  }
}

$basic: all .2s ease-in-out;
$bounce: all .6s cubic-bezier(.5,1.65,.4,.8);
$bounce-curve: cubic-bezier(.5,1.65,.4,.8);

$slow: all .5s cubic-bezier(.57,.2,.21,.89);
$slow-curve: cubic-bezier(.57,.2,.21,.89);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}