cagov-navoverlay {
  order: 3;
  .menu-trigger {
    margin-left: 1em;
    border: 0;
    padding: .5em 1em .5em 1em;
    transition: .3s;
    transform-origin: top left;
    display: inline-block;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;

    .is-fixed {
      position: fixed;
    }
    top: -2px;
    right: 0;
    transition: .3s;
    transform-origin: center center;
    @include phone {
      z-index: 2000;
    }

    @include tablet { 
      z-index: 2000;
    }
    .hamburger-inner {
      background: #000;
    }

    &:hover {
      .hamburger-inner {
        &:before,
        &:after {
          width: 13px;
        }
      }
    }
  }

  .hamburger {
    padding: 0.15rem 0.15rem;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    position: relative;
    transition: $basic;
    vertical-align: middle;
    z-index: 10000;
    margin-right: .5rem;
    &-box {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: relative;
    }
    &-inner {
      display: block;
      top: 50%;
      width: 20px;
      margin-top: -1px;
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &,
      &:before,
      &:after {
        height: 2px;
        border-radius: 0;
        position: absolute;
        transition-property: transform, width, background-color;
        transition-duration: 0.15s;
        transition-timing-function: ease;
      }
      &:before,
      &:after {
        width: 20px;
        content: "";
        display: block;
      }
      &:before {
        top: -6px;
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in,
          width 0.1s 0.12s ease-out;
      }
      &:after {
        bottom: -6px;
        transition: bottom 0.1s 0.25s ease-in,
          transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
          width 0.1s 0.12s ease-out;
      }
    }
  }
}
cagov-navoverlay.display-menu {
  .menu-trigger {
    box-shadow: none;
    .hamburger-inner {
      &,
      &:before,
      &:after {
        transition: .3s;
      }
    }
  }
  .hamburger {
    &-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 12px;
      &,
      &:before,
      &:after {
        width: 20px !important;
      }
      &:before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}