.svg-layer-counties img svg path {
  fill: #fbaa1e;
}

.svg-layer-bay-area-counties img svg path {
  fill: #fcd37f;
}

.svg-layer-county-outlines img svg path {
  fill: #ffaa00;
}

.svg-layer-state-boundaries img svg path {
  fill: #e60000;
}

.svg-layer-background {
  fill: #730000;
}

.svg-layer-container .layer {
  position: absolute;
}

main {
  background-color: red;
}
