<!-- Google Analytics Setup -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-21970760-32', 'auto');
ga('create', 'UA-3419582-2', 'auto', 'tracker2');
ga('set', 'transport', 'beacon');
ga('send', 'pageview');
ga('tracker2.send', 'pageview');
</script>
<script async defer src='https://www.google-analytics.com/analytics.js'></script>

<!-- per page feedback --> 
<div class="content-footer mb-3">
  <cagov-feedback data-endpoint-url="https://fa-go-feedback-001.azurewebsites.net/sendfeedback"></cagov-feedback>
</div>

<section aria-label="agency footer" class="agency-footer">
  <div class="container">
    <!-- site specific menu links --> 
    <div class="footer-secondary-links">
      {% for menu in contentMenu.items %}
        <a href="{{ menu.url | changeDomain(domain) | safe }}">{{ menu.title | safe }}</a>
      {% endfor %}
    </div>

    <!-- social media links  --> 
    <div class="footer-social-links">
      {% for menu in socialMediaLinksMenu.items %}
        <a href="{{ menu.url | safe }}" title="Share via {{ menu.title | safe }}" rel="noopener noreferrer" target="_blank">
          {% set path = "./assets/svg/" + menu.post_name + ".svg" %}
          {% include path %}
          <span class="sr-only">{{ menu.title | safe }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
