<!-- Google Analytics Setup -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-21970760-32', 'auto');
ga('create', 'UA-3419582-2', 'auto', 'tracker2');
ga('set', 'transport', 'beacon');
ga('send', 'pageview');
ga('tracker2.send', 'pageview');
</script>
<script async defer src='https://www.google-analytics.com/analytics.js'></script>