
<!-- https://designsystem.webstandards.ca.gov/components/page-feedback/readme/ --> 
<div class="page-feedback-footer mb-3">
  <cagov-page-feedback data-endpoint-url="https://feedback.innovation.ca.gov/sendfeedback"></cagov-page-feedback>
</div>
