{% set locale_dir = ["/"] | join %}

{% if locale != "en" %}
  {% set locale_dir = ["/", locale, "/"] | join %}
{% endif %}

<section aria-label="Site footer" class="site-footer">
<div class="container">
  <div class="footer-logo">

  </div>
  <div class="footer-secondary-links">
      {% for menu in contentMenu %}
        <a href="{{ menu.url | safe }}">{{ menu.title | safe }}</a>
      {% endfor %}
  </div>

  <!-- social media links  --> 
  <div class="footer-social-links">
    {% for menu in socialMediaLinksMenu %}
      <a href="{{ menu.url | safe }}" title="{{ 'Share via' | i18n(locale) }} {{ menu.title | safe }}" rel="noopener noreferrer" target="_blank">
        {% set path = "/assets/icons/" + menu.post_name + ".svg" %}
        <img src="{{path}}" />

        <span class="sr-only">{{ menu.title | safe }}</span>
      </a>
    {% endfor %}
  </div>

</div>
</section>