<!-- not having the feedback component in v1
{% if page.url !== "/error.html" %}
  <cagov-page-feedback class="cagov-mb-2 d-block" data-endpoint-url="https://fa-go-feedback-001.azurewebsites.net/sendfeedback"></cagov-page-feedback>
{% endif %}-->

{% set locale_dir = ["/"] | join %}

{% if locale != "en" %}
  {% set locale_dir = ["/", locale, "/"] | join %}
{% endif %}

<section aria-label="Site footer" class="site-footer">
<div class="container">
  <div class="footer-logo">

  </div>
  <div class="footer-secondary-links">

  </div>
</div>
</section>