/* branding */
.navigation {
	box-sizing: border-box;
	background-color: $white;
	border-bottom: 1px solid $gray-300;
	.container {
		max-width: $w-lg;
		margin: 0 auto;
		padding: 12px 16px 13px 16px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}
	&.mobile {
		display: none;
	}
	&.show {
		display: block !important;
	}
}

@media (min-width: 768px) {
	.navigation {
		display: block !important;
	}
}
