<!--navigation-->
<div class="navigation">
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/">Home</a>
            <a href="/">Home</a>
        </nav>
    </div>
</div>
<!--end navigation-->

<!--
<nav id="navigation" class="main-navigation dropdown hidden-print nav" data-multiselectable="true"
    data-nav-id="6ajqsq3htd">
    <ul id="nav_list" class="top-level-nav">
        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page  " title="">
            <div class="has-sub-btn"><button class="first-level-btn nav-header has-sub" id="navzi2e67ph28t_tab1"
                    aria-controls="navzi2e67ph28t_panel1" data-nav-id="6ajqsq3htd" aria-expanded="false"><span
                        class="ca-gov-icon-logo invisible"></span><span class="link-title">Applicants<span
                            class="ca-gov-icon-triangle-down carrot align-middle" aria-hidden="true"></span></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div><span
                        class="ca-gov-icon-triangle-down carrot" aria-hidden="true"></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                </button></div>
            <div class="sub-nav" role="tabpanel" aria-labelledby="navzi2e67ph28t_tab1" id="navzi2e67ph28t_panel1"
                data-nav-id="6ajqsq3htd" aria-hidden="true">
                <div>
                    <ul class="second-level-nav">
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/applicants/how-to-apply-renew/"
                                class="second-level-link" tabindex="-1">How to apply for or renew a license</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/applicants/license-types/"
                                class="second-level-link" tabindex="-1">License types</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/applicants/application-license-fees/"
                                class="second-level-link" tabindex="-1">Application and license fees</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/applicants/application-resources/"
                                class="second-level-link" tabindex="-1">Application resources</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/applicants/access-license-portals/"
                                class="second-level-link" tabindex="-1">Access the license portals</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page  " title="">
            <div class="has-sub-btn"><button class="first-level-btn nav-header has-sub" id="navzi2e67ph28t_tab2"
                    aria-controls="navzi2e67ph28t_panel2" data-nav-id="6ajqsq3htd" aria-expanded="false"><span
                        class="ca-gov-icon-logo invisible"></span><span class="link-title">Licensees<span
                            class="ca-gov-icon-triangle-down carrot align-middle" aria-hidden="true"></span></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div><span
                        class="ca-gov-icon-triangle-down carrot" aria-hidden="true"></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                </button></div>
            <div class="sub-nav" role="tabpanel" aria-labelledby="navzi2e67ph28t_tab2" id="navzi2e67ph28t_panel2"
                data-nav-id="6ajqsq3htd" aria-hidden="true">
                <div>
                    <ul class="second-level-nav">
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/cultivation/"
                                class="second-level-link" tabindex="-1">Cultivation</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/manufacturing/"
                                class="second-level-link" tabindex="-1">Manufacturing</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/distribution/"
                                class="second-level-link" tabindex="-1">Distribution</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/testing-laboratories/"
                                class="second-level-link" tabindex="-1">Testing laboratories</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/retail/"
                                class="second-level-link" tabindex="-1">Retail</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/events/"
                                class="second-level-link" tabindex="-1">Events</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/track-and-trace/"
                                class="second-level-link" tabindex="-1">Track and Trace</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/licensees/requirements-cannabis-goods/"
                                class="second-level-link" tabindex="-1">Requirements for cannabis goods</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page  " title="">
            <div class="has-sub-btn"><button class="first-level-btn nav-header has-sub" id="navzi2e67ph28t_tab3"
                    aria-controls="navzi2e67ph28t_panel3" data-nav-id="6ajqsq3htd" aria-expanded="false"><span
                        class="ca-gov-icon-logo invisible"></span><span class="link-title">Consumers<span
                            class="ca-gov-icon-triangle-down carrot align-middle" aria-hidden="true"></span></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div><span
                        class="ca-gov-icon-triangle-down carrot" aria-hidden="true"></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                </button></div>
            <div class="sub-nav" role="tabpanel" aria-labelledby="navzi2e67ph28t_tab3" id="navzi2e67ph28t_panel3"
                data-nav-id="6ajqsq3htd" aria-hidden="true">
                <div>
                    <ul class="second-level-nav">
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/consumers/whats-legal/"
                                class="second-level-link" tabindex="-1">What’s legal</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/consumers/medicinal-cannabis/"
                                class="second-level-link" tabindex="-1">Medicinal cannabis</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/consumers/responsible-cannabis-use/"
                                class="second-level-link" tabindex="-1">Responsible cannabis use</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/consumers/talking-young-people-about-cannabis/"
                                class="second-level-link" tabindex="-1">Talking to young people about cannabis</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page  " title="">
            <div class="has-sub-btn"><button class="first-level-btn nav-header has-sub" id="navzi2e67ph28t_tab4"
                    aria-controls="navzi2e67ph28t_panel4" data-nav-id="6ajqsq3htd" aria-expanded="false"><span
                        class="ca-gov-icon-logo invisible"></span><span class="link-title">Resources<span
                            class="ca-gov-icon-triangle-down carrot align-middle" aria-hidden="true"></span></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div><span
                        class="ca-gov-icon-triangle-down carrot" aria-hidden="true"></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                </button></div>
            <div class="sub-nav" role="tabpanel" aria-labelledby="navzi2e67ph28t_tab4" id="navzi2e67ph28t_panel4"
                data-nav-id="6ajqsq3htd" aria-hidden="true">
                <div>
                    <ul class="second-level-nav">
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/resources/running-business/"
                                class="second-level-link" tabindex="-1">Running a business in California</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/resources/laws-and-regulations/"
                                class="second-level-link" tabindex="-1">Laws and regulations</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/resources/file-complaint/"
                                class="second-level-link" tabindex="-1">File a complaint</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/resources/disaster-relief-programs/"
                                class="second-level-link" tabindex="-1">Disaster relief programs</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/resources/search-for-licensed-business/"
                                class="second-level-link" tabindex="-1">Search for a licensed business</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page  " title="">
            <div class="has-sub-btn"><button class="first-level-btn nav-header has-sub" id="navzi2e67ph28t_tab5"
                    aria-controls="navzi2e67ph28t_panel5" data-nav-id="6ajqsq3htd" aria-expanded="false"><span
                        class="ca-gov-icon-logo invisible"></span><span class="link-title">About us<span
                            class="ca-gov-icon-triangle-down carrot align-middle" aria-hidden="true"></span></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div><span
                        class="ca-gov-icon-triangle-down carrot" aria-hidden="true"></span>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                    <div class="ca-gov-icon-caret-right rotate" aria-hidden="true" style="display: none;"></div>
                </button></div>
            <div class="sub-nav" role="tabpanel" aria-labelledby="navzi2e67ph28t_tab5" id="navzi2e67ph28t_panel5"
                data-nav-id="6ajqsq3htd" aria-hidden="true">
                <div>
                    <ul class="second-level-nav">
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/about-dcc/"
                                class="second-level-link" tabindex="-1">About DCC</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/announcements/"
                                class="second-level-link" tabindex="-1">Announcements</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/dcc-events/"
                                class="second-level-link" tabindex="-1">DCC events</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/public-awareness-campaigns/"
                                class="second-level-link" tabindex="-1">Public awareness campaigns</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/scientific-research/"
                                class="second-level-link" tabindex="-1">Scientific research</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/grant-funding/"
                                class="second-level-link" tabindex="-1">Grant funding</a></li>
                        <li class="unit1  menu-item menu-item-type-post_type menu-item-object-page" title=""><a
                                href="https://staginginye.prod3.sites.ca.gov/about-us/contact-us/"
                                class="second-level-link" tabindex="-1">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item" id="nav-item-search"><button class="first-level-link h-auto"><span
                    class="ca-gov-icon-search" aria-hidden="true"></span> Search</button></li>
    </ul>
</nav>
-->