
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.alignfull,
.full-max-width,
.full-bleed {
  width: 100vw !important;
  margin-left: calc(50% - 50vw) !important;
}

.cagov-alert {
  padding-top: $p-md;
  padding-bottom: $p-md;
  background-color: $primary-dark;
  min-height: 50px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: $white !important;

  h3,
  p {
    color: $white !important;
  }

  .container {
    width: 100%;
    max-width: $w-lg;
    padding-left: $p-sm;
    margin: 0 auto;

    .alert-content {
      border-left: 5px solid $secondary;
      margin-left: 0;
      padding-left: $p-sm;
      padding-bottom: $base;
      position: relative;
    }
  }

  .alert-title {
    font-size: $lead-text;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .alert-text {
    margin-top: $p-sm !important;
    font-size: $body-text;
  }

  // button
  .button-white {
    margin-top: 2rem !important;
    display: block;

    a {
      color: $primary-dark !important;
      padding: 0.725rem !important;
      background-color: $white;
      font-size: $body-text;
      font-weight: 700;
      border-radius: 5px !important;
      transition: all 0.3s ease;
      text-decoration: none;
      position: relative;
      top: -0.4rem;

      &:hover {
        color: $primary-dark !important;
        padding: 0.725rem !important;
        background-color: $secondary !important;
        border-radius: 4px;
      }
      &focus {
        outline: 2px solid $secondary;
      }
    }
  }
  // close btn
  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
    svg path {
      fill: $white;
    }
    &:hover {
      svg path {
        fill: $secondary;
      }
    }
    &:focus {
      outline: 2px solid $secondary;
      svg path {
        fill: $secondary;
      }
    }
  }
}
