cagov-post-list {
  margin-top: 24px;
  display: block;

  .post-list-item {
    margin-bottom: 32px;

    .link-title {
      margin-bottom: 8px;
      font-weight: 700;

      a {
        color: var(--primary-color, #064e66);
        text-decoration: underline;
        &:hover {
          color: var(--primary-dark-color, #043747);
          text-decoration: none;
        }
      }
    }
  }
  .excerpt {
    .date {
      display: inline;
      font-weight: 700;
      &:after {
        content: (" — ");
      }
    }
  }
}

.post-list-items {
  .post-status .link-title .date {
    font-weight: 700;
  }
}

.post-list-results {
  margin-top: 24px;
  display: block;

  .post-list-item {
    margin-bottom: 32px;

    .link-title {
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 28px;
      a {
        color: var(--primary-color, #064e66);
        text-decoration: underline;
        &:hover {
          color: var(--primary-dark-color, #043747);
          text-decoration: none;
        }
      }
    }
  }

  .excerpt {
    .date {
      display: inline;
      font-weight: 700;
      &:after {
        content: (" — ");
      }
    }
  }
}

/* News blocks from WordPress */
.wp-block-column .post-list-results {
  margin-top: 24px;
  display: block;

  .post-list-item {
    margin-bottom: 32px;

    .link-title {
      margin-bottom: 0px;
      font-weight: normal;
      font-size: 18px;

      a {
        color: var(--primary-color, #064e66);
        text-decoration: underline;
        &:hover {
          color: var(--primary-dark-color, #043747);
          text-decoration: none;
        }
      }
    }

    &.status {
      .date {
        display: inline;
        font-weight: 700;
      }
    }
  }

  .excerpt {
    .date {
      display: inline;
      font-weight: 700;
      &:after {
        content: (" — ");
      }
    }
  }
}
