<html>

<head>

    <meta charset="utf-8">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">

    <!-- for Blackberry, AvantGo -->
    <meta name="MobileOptimized" content="320">

    <!-- for Windows mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name='robots' content='noindex, nofollow' />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="stylesheet" href="./build/ds-table.1.0.1.css" type="text/css" media="all" />
</head>

<body>
    <div style="width:300px">
        <!-- Design System Table Exploration for content composed with Gutenberg Blocks -->
        <!-- wp:table {"className":"ds-table ds-table-regulatory-text"} -->
        <figure class="ds-table sticky-table" role="region" aria-labelledby="caption" tabindex="0">
            <table>
                <thead>
                    <tr>
                        <th>Section Topic</th>
                        <th>Changes Made in Rulemaking (Adopted Jan. 1, 2022)</th>
                        <th>Proposed Changes in Certificate of Compliance Rulemaking (Noticed March 1, 2022)</th>
                        <th>Modifications to Proposed Changes in Certificate
                            of Compliance Rulemaking (Noticed July 1, 2022)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Definitions §10000</td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations.<a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                    </tr>
                    <tr>
                        <td>Definitions §10000</td>
                        <td>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                        </td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                    </tr>
                    <tr>
                        <td>Definitions §10000</td>
                        <td>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                        </td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                    </tr>
                    <tr>
                        <td>Definitions §10000</td>
                        <td>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                        </td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                    </tr>
                    <tr>
                        <td>Definitions §10000</td>
                        <td>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                        </td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                    </tr>
                    <tr>
                        <td>Definitions §10000</td>
                        <td>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                            <p>Larger Works. You may not occur to you shall terminate as of the preceding Article shall
                                be deemed a waiver of future enforcement of that problem, seek an ami-cable solution
                                for all parties, and the following disclaimer. Redistributions in binary form and its
                                license agreement: i) effectively disclaims on behalf of all Contributors all liability
                                for damages, including any general, special, incidental and consequential damages, such
                                as FTP or HTTP or by combination of the Program, and additions to or loss of data,
                                programs or equipment, and unavailability or interruption of operations.<a
                                    href="http://legalipsum.com/?count=1">Legal ipsum</a></p>
                        </td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                        <td>Larger Works. You may not occur to you shall terminate as of the preceding Article shall be
                            deemed a waiver of future enforcement of that problem, seek an ami-cable solution for all
                            parties, and the following disclaimer. Redistributions in binary form and its license
                            agreement: i) effectively disclaims on behalf of all Contributors all liability for damages,
                            including any general, special, incidental and consequential damages, such as FTP or HTTP or
                            by combination of the Program, and additions to or loss of data, programs or equipment, and
                            unavailability or interruption of operations. <a href="http://legalipsum.com/?count=1">Legal
                                ipsum</a></td>
                    </tr>
                </tbody>
            </table>
        </figure>
        <!-- /wp:table -->






        <cagov-accordion class="prog-enhanced">
            <details open="">
                <summary>Vertical graphics</summary>
                <div class="accordion-body">

                    <figure class="wp-block-table ds-table sticky-table" role="region" aria-labelledby="caption"
                        tabindex="0">
                        <table>
                            <tbody>
                                <tr>
                                    <td>320×480</td>
                                    <td>320×480</td>
                                    <td>320×480</td>
                                    <td>320×480</td>
                                </tr>
                                <tr>
                                    <td><a rel="noreferrer noopener"
                                            href="/wp-content/uploads/2022/07/Green_320x480.png" target="_blank"><img
                                                loading="lazy" width="641" height="961" class="wp-image-10932"
                                                style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480.png"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480.png 641w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480-384x576.png 384w"
                                                sizes="(max-width: 641px) 100vw, 641px"></a></td>
                                    <td><a rel="noreferrer noopener"
                                            href="/wp-content/uploads/2022/07/Green_320x480.jpeg" target="_blank"><img
                                                loading="lazy" width="889" height="1335" class="wp-image-10931"
                                                style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480.jpeg"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480.jpeg 889w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480-384x576.jpeg 384w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480-682x1024.jpeg 682w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_320x480-768x1153.jpeg 768w"
                                                sizes="(max-width: 889px) 100vw, 889px"></a></td>
                                    <td><a rel="noreferrer noopener" href="/uploads/2022/07/Yellow_320x480.jpeg"
                                            target="_blank"><img loading="lazy" width="889" height="1334"
                                                class="wp-image-10933" style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480.jpeg"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480.jpeg 889w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480-384x576.jpeg 384w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480-682x1024.jpeg 682w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480-768x1152.jpeg 768w"
                                                sizes="(max-width: 889px) 100vw, 889px"></a></td>
                                    <td><a rel="noreferrer noopener" href="/uploads/2022/07/Yellow_320x480.png"
                                            target="_blank"><img loading="lazy" width="641" height="961"
                                                class="wp-image-10934" style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480.png"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480.png 641w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_320x480-384x576.png 384w"
                                                sizes="(max-width: 641px) 100vw, 641px"></a></td>
                                </tr>
                                <tr>
                                    <td>300×600</td>
                                    <td>300×600</td>
                                    <td>300×600</td>
                                    <td>160×600</td>
                                </tr>
                                <tr>
                                    <td><a rel="noreferrer noopener"
                                            href="/wp-content/uploads/2022/07/Green_300x600.png" target="_blank"><img
                                                loading="lazy" width="601" height="1201" class="wp-image-10928"
                                                style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x600.png"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x600.png 601w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x600-288x576.png 288w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x600-512x1024.png 512w"
                                                sizes="(max-width: 601px) 100vw, 601px"></a></td>
                                    <td><a rel="noreferrer noopener"
                                            href="/wp-content/uploads/2022/07/Yellow_300X600.jpeg" target="_blank"><img
                                                loading="lazy" width="834" height="1667" class="wp-image-10929"
                                                style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600.jpeg"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600.jpeg 834w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600-288x576.jpeg 288w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600-512x1024.jpeg 512w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600-768x1536.jpeg 768w"
                                                sizes="(max-width: 834px) 100vw, 834px"></a></td>
                                    <td><a rel="noreferrer noopener"
                                            href="/wp-content/uploads/2022/07/Yellow_300X600.png" target="_blank"><img
                                                loading="lazy" width="601" height="1201" class="wp-image-10930"
                                                style="width: 200px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600.png"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600.png 601w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600-288x576.png 288w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300X600-512x1024.png 512w"
                                                sizes="(max-width: 601px) 100vw, 601px"></a></td>
                                    <td><a rel="noreferrer noopener"
                                            href="/wp-content/uploads/2022/07/Yellow_160x600.jpeg" target="_blank"><img
                                                loading="lazy" width="445" height="1667" class="wp-image-10936"
                                                style="width: 95px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_160x600.jpeg"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_160x600.jpeg 445w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_160x600-154x576.jpeg 154w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_160x600-273x1024.jpeg 273w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_160x600-410x1536.jpeg 410w"
                                                sizes="(max-width: 445px) 100vw, 445px"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <figcaption><br></figcaption>
                    </figure>



                    <figure class="wp-block-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td>300×250</td>
                                    <td>300×250</td>
                                    <td>300×250</td>
                                </tr>
                                <tr>
                                    <td><a href="/uploads/2022/07/Green_300x250.jpeg" target="_blank"
                                            rel="noreferrer noopener"><img loading="lazy" width="1251" height="1043"
                                                class="wp-image-10918" style="width: 300px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250.jpeg"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250.jpeg 1251w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250-576x480.jpeg 576w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250-1024x854.jpeg 1024w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250-768x640.jpeg 768w"
                                                sizes="(max-width: 1251px) 100vw, 1251px"></a></td>
                                    <td><a href="/uploads/2022/07/Green_300x250.png" target="_blank"
                                            rel="noreferrer noopener"><img loading="lazy" width="601" height="501"
                                                class="wp-image-10919" style="width: 300px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250.png"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250.png 601w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Green_300x250-576x480.png 576w"
                                                sizes="(max-width: 601px) 100vw, 601px"></a></td>
                                    <td><a href="/uploads/2022/07/Yellow_300x250.png" target="_blank"
                                            rel="noreferrer noopener"><img loading="lazy" width="601" height="501"
                                                class="wp-image-10920" style="width: 300px;"
                                                src="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300x250.png"
                                                alt="Sample graphic"
                                                srcset="https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300x250.png 601w, https://api.cannabis.ca.gov/wp-content/uploads/2022/07/Yellow_300x250-576x480.png 576w"
                                                sizes="(max-width: 601px) 100vw, 601px"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </figure>

                </div>
            </details>
        </cagov-accordion>

    </div>
</body>

</html>