<div>
<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) announced today that it has submitted the proposed emergency regulations for commercial medicinal and adult-use cannabis to the Office of Administrative Law (OAL).</p>
<p>Those who wish to comment on this proposed adoption of these emergency regulations must submit their comment directly to OAL within five business days of OAL’s posting of the proposed adoption on their website. The comment period ends Monday, December 4, 2017. You may submit comments on the proposed adoption to OAL at:</p>
<p><strong>Office of Administrative Law</strong><br />
OAL Reference Attorney<br />
300 Capital Mall, Suite 1250<br />
Sacramento, CA 95814<br />
E-mail: <a href="mailto:staff@oal.ca.gov">staff@oal.ca.gov</a></p>
<p>When you submit a comment to OAL, you must also submit a copy of your comment simultaneously to the Bureau at:</p>
<p><strong>Bureau of Cannabis Control</strong><br />
1625 North Market Blvd., Suite S-202<br />
Sacramento, CA 95834<br />
E-mail: <a href="mailto:BCC.comments@dca.ca.gov">BCC.comments@dca.ca.gov</a></p>
<p>OAL will confirm that the Bureau has received the comment before considering it. Pursuant to California Code of Regulations, Title 1, section 55(b)(1) through (4), the comment must state that it is about an emergency regulation currently under OAL review, and include the topic of the emergency.</p>
<p>Adoption of emergency regulations does not require response to comments. Any responses to comments from the Bureau will be submitted to OAL within eight calendar days following the date of submission of the proposed emergency regulation to OAL, unless specific exceptions are applicable.</p>
<p>For additional information about the proposed emergency regulations, or to subscribe to email alerts to hear about updates as they become available, please visit our website &#8211; <a href="http://www.bcc.ca.gov/">http://www.bcc.ca.gov/</a>.</p>
<p>For information on all three licensing authorities, please visit the state’s cannabis web portal – <a href="">cannabis.ca.gov</a>. Follow the Bureau on <a href="https://www.facebook.com/BCCinfo.dca/">Facebook</a>, <a href="https://twitter.com/BCCinfo_dca">Twitter </a>and <a href="https://www.instagram.com/bureauofcannabiscontrol/">Instagram</a> for daily news and updates.</p>
</div>
