<p>One of the requirements for the Bureau of Cannabis Control’s annual license application is to provide proof of having obtained a surety bond of at least $5,000, payable to the State of California. The Bureau has released a form for the “Commercial Cannabis Licensee Bond,” which is now available on our website: <a href="http://www.bcc.ca.gov/clear/licensee_bond.pdf">http://www.bcc.ca.gov/clear/licensee_bond.pdf</a></p>
<p>Please note that a proof of a surety bond is required for each license application.</p>
<p>For additional resources on how to apply for an annual license, please click the links below:</p>
<ul>
<li><a href="http://bcc.ca.gov/clear/videos/temp_to_annual.html">http://bcc.ca.gov/clear/videos/temp_to_annual.html</a> (Video)</li>
<li><a href="http://bcc.ca.gov/clear/qrg_applying.pdf">http://bcc.ca.gov/clear/qrg_applying.pdf</a>  (PDF)</li>
</ul>
<p>For questions about the licensing application, please email <a href="mailto:bcc@dca.ca.gov">bcc@dca.ca.gov</a>.</p>
