<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) announced today that the Cannabis Advisory Committee will be holding a second series of subcommittee meetings on Thursday, March 1 in Sacramento.</p>
<p>Nine subcommittees voted at the February 13 meetings to hold on March 1 an additional subcommittee meeting to finalize their recommendations on the state cannabis licensing authorities’ formal rulemaking packages. The subcommittee’s recommendations will then be presented for adoption at the next general meeting of the Cannabis Advisory Committee on March 15 in Los Angeles (location TBA).</p>
<p>If adopted, the subcommittee recommendations will serve as the committee’s formal recommendations to the state cannabis licensing authorities.</p>
<p><strong>SUBCOMMITTEE INPUT SURVEY: </strong>The Bureau invites you to provide input for subcommittee members prior to the subcommittee meetings on March 1. The input provided can be information, comments, and/or suggestions directed to any of the subcommittees. <a href="https://www.surveymonkey.com/r/NSRTC9H">Click here to submit your input by 5:00 PM PST on Wednesday, February 21.</a></p>
<p><strong>MEETING TIMES AND LOCATIONS:</strong> All Subcommittees will meet at the Sheraton Grand Hotel (1230 J Street). Below are the times of each Subcommittee (room locations TBA):</p>
<p><span><strong>9:00 AM</strong></span></p>
<p>Enforcement Subcommittee</p>
<p>Manufacturers Subcommittee</p>
<p>Microbusiness Subcommittee</p>
<p>Retailers Subcommittee</p>
<p><span><strong>1:00 PM</strong></span></p>
<p>Cultivators Subcommittee</p>
<p>Distributors Subcommittee</p>
<p>Equity Subcommittee</p>
<p>Licensing Application Subcommittee</p>
<p>Public Health and Youth SubCommittee</p>
<p><strong>MEETING NOTICES:</strong> The Meeting Notices and Agendas for each subcommittee meeting will be posted on the Bureau of Cannabis Control’s website – <a href="http://www.bcc.ca.gov">www.bcc.ca.gov</a> – at least 10 days prior to the meetings. Webcast will not be available for the meetings. All subcommittee meetings are open to the public.</p>
<p>For additional information about the Cannabis Advisory Committee, or to subscribe to email alerts to hear about updates as they become available, please visit the Bureau’s website at <a href="http://www.bcc.ca.gov/">http://www.bcc.ca.gov/</a>.</p>
<p>For information on all three state licensing authorities, please visit the state&#8217;s California Cannabis Portal at <a href="/">/</a>. Follow the Bureau on <a href="https://www.facebook.com/BCCinfo.dca/">Facebook</a>, <a href="https://twitter.com/BCCinfo_dca">Twitter </a>and <a href="https://www.instagram.com/bureauofcannabiscontrol/">Instagram</a> for daily news and updates.</p>
