<div>
<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) today announced plans to host three public licensing workshops. The workshops will focus on what licensing information is needed and what resources are available for people planning to apply for state commercial cannabis licenses.</p>
<p>The Bureau will be joined by other state and local agencies at each workshop including the California Department of Public Health (CDPH), California Department of Food and Agriculture (CDFA) and California Department of Tax and Fee Administration (CDTFA).</p>
<p>The three public licensing workshops will take place in Los Angeles on October 12, Riverside on October 13 and Sacramento on October 17 from 10:00 am to 1:00 pm. The workshop schedule will include a brief overview and then transition to an open house where people can obtain information from and ask questions of different state and local agencies.</p>
<p>The planned dates and locations for these workshops are as follows:</p>
<p><strong>Los Angeles: October 12</strong><br />
Wallis Annenberg Building, Muses Room<br />
700 Exposition Park Drive</p>
<p><strong>Riverside: October 13</strong><br />
Riverside County Administration Center, Board Meeting Room<br />
4080 Lemon Street</p>
<p><strong>Sacramento: October 17</strong><br />
Sacramento Convention Center, Exhibition Hall D<br />
1400 J Street</p>
<p>For additional information about the upcoming public licensing workshop series, or to subscribe to email alerts to hear about updates as they become available, please visit our website &#8211; <a href="http://www.bcc.ca.gov/">http://www.bcc.ca.gov/</a>.</p>
<p>For information on all three licensing authorities, please visit the state’s cannabis web portal – <a href="">cannabis.ca.gov</a>. Follow the Bureau on <a href="https://www.facebook.com/BCCinfo.dca/" target="_blank" rel="noopener">Facebook</a>, <a href="https://twitter.com/BCCinfo_dca" target="_blank" rel="noopener">Twitter </a>and <a href="https://www.instagram.com/bureauofcannabiscontrol/" target="_blank" rel="noopener">Instagram</a> for daily news and updates.</p>
</div>
