<p>The Bureau of Medical Cannabis Regulation (BMCR) today announced that its proposed licensing regulations for medical cannabis have been posted and the 45-day public comment period is now underway.</p>
<p>“The proposed licensing regulations for medical cannabis are the result of countless hours of research, stakeholder outreach, informational sessions and pre-regulatory meetings all across the state,” BMCR Chief Lori Ajax said. “And while we have done quite a bit of work and heard from thousands of people, there is still so much more to do. In order to make our program successful we still need your feedback.”</p>
<p>Individuals interested in reviewing the medical regulations for licensing dispensaries, distribution and transporters can do so by clicking <a href="https://bcc.ca.gov/law_regs/mcrsa_ptor.pdf">here</a>. You can also find the <a href="https://bcc.ca.gov/law_regs/mcrsa_initialnotice.pdf">Notice of Proposed Rulemaking</a> and the <a href="https://bcc.ca.gov/law_regs/mcrsa_isor.pdf">Initial Statement of Reasons</a>. At this site you will also find cultivation regulations, as well as manufacturing regulations for medical cannabis.</p>
<p>Part of today’s announcement includes the news of four public hearings for the purpose of public comment on the proposed medical licensing regulations. The Bureau encourages all interested stakeholders to review the proposed regulations and come to a hearing near you to provide feedback. Hearing dates and locations are as follows:</p>
<p>June 1, 2017</p>
<p>10:00 a.m. – 1:00 p.m.</p>
<p>Adorni Center</p>
<p>1011 Waterfront Drive, Eureka, CA 95501</p>
<p>&nbsp;</p>
<p>June 8, 2017</p>
<p>10:00 a.m. – 1:00 p.m.</p>
<p>Junipero Serra Building</p>
<p>320 W. Fourth Street, Los Angeles, CA 90013</p>
<p>&nbsp;</p>
<p>June 9, 2017</p>
<p>10:00 a.m. – 1:00 p.m.</p>
<p>Department of Consumer Affairs, Hearing Room, S-102</p>
<p>1625 North Market Boulevard, Sacramento, CA&nbsp; 95834</p>
<p>&nbsp;</p>
<p>June 13, 2017</p>
<p>1:00 p.m. – 4:00 p.m.</p>
<p>King Library, Second Floor</p>
<p>150 E. San Fernando Street, San Jose, CA 95112</p>
<p>Those who wish to provide feedback and are unable to attend one of the four listed sessions above, can get involved in the regulatory process by following the steps<a href="https://bcc.ca.gov/law_regs/17-065_public_comment.pdf" target="_blank" rel="noopener noreferrer"> outlined here</a>.</p>
<p>There is currently budget trailer bill language designed to align the Medical Cannabis Safety and Regulation Act with Proposition 64, the Adult Use of Marijuana Act. If that bill passes, the bureau will withdraw these proposed regulations and propose a new set of regulations consistent with changes in the law.</p>
<p>However, public comments on the regulations published today are still very important.</p>
<p>“Many of the provisions in the licensing regulations published today will carry over to new regulations if the trailer bill passes,” said Chief Ajax. “Public comment now will provide valuable information and guide our efforts when crafting any new regulations.”</p>
<p>Beginning a little more than a year ago, the Bureau kicked off its outreach efforts with nine informational sessions in locations all around the state. Those sessions were followed up last Fall by eight pre-regulatory stakeholder meetings with discussions centering around issues related to general licensing requirements, and specific concepts related to the regulation of medical cannabis dispensaries, distributors and transporters. The feedback from those sessions can be <a href="https://bcc.ca.gov/meetings/summaries.shtml" target="_blank" rel="noopener noreferrer">reviewed here</a>.</p>
<p>For additional information about BMCR, or to subscribe to email alerts to hear about updates as they become available, please visit our website &#8211; <a href="https://bcc.ca.gov/">https://bcc.ca.gov/</a>.</p>
<p><strong># # #</strong></p>
<p><em>In 2015, the Legislature passed and the Governor signed into law three bills (Assembly Bills 243 and 266, and Senate Bill 643) that create a licensing and regulatory framework for medical cannabis through the Medical Cannabis Regulation and Safety Act. It is anticipated that the regulations will be developed by January 1, 2018. On November 8, 2016, the Control, Regulate, and Tax Adult Use of Marijuana Act (AUMA) was passed by voters as Proposition 64. AUMA legalizes the adult use of cannabis by persons 21 years of age and older.</em></p>
