<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) today announced plans to host five public licensing workshops. The workshops will focus on what licensing information is needed and what resources are available for people planning to apply for state commercial cannabis licenses.</p>
<p>The Bureau will be joined by other state and local agencies at each licensing workshop. The workshop schedule will include a brief overview and then transition to an open house where people can obtain information from and ask questions of different state and local agencies.</p>
<p>The workshops are free and do not require registration to attend. Each workshop is scheduled to run from 10:00 a.m. to 1:00 p.m.</p>
<p><span><strong>Public Licensing Workshops Dates &amp; Locations:</strong></span></p>
<p><strong>January 22, 2018 – Monterey&nbsp;</strong></p>
<p>Monterey Conference Center, 1 Portola Plaza, Monterey, CA 93940</p>
<p><strong>January 25, 2018 – Santa Ana</strong></p>
<p>Irvine Marriott, 18000 Von Karman Avenue, Irvine, CA 92612</p>
<p><strong>January 26, 2018 – San Diego</strong></p>
<p>Town &amp; Country Convention Center, 500 Hotel Circle North, San Diego, CA 92108</p>
<p><strong>February 1, 2018 – Oakland</strong></p>
<p>Oakland Marriott City Center, 1001 Broadway, Oakland, CA 94607</p>
<p>For additional information about the upcoming licensing workshop series, or to subscribe to email alerts to hear about updates as they become available, please visit our website: <a href="http://www.bcc.ca.gov/">http://www.bcc.ca.gov/</a>.</p>
<p>For information on all three licensing authorities, please visit the state’s California Cannabis Portal: cannabis.ca.gov. Follow the Bureau on Facebook, Twitter and Instagram for daily news and updates.</p>
