<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) announced today that the Cannabis Advisory Committee will be holding a series of Subcommittee Meetings on Tuesday, February 13 in Sacramento.</p>
<p>Ten Subcommittees will meet to discuss and develop recommendations to the state cannabis licensing authorities’ formal rulemaking packages.</p>
<p><strong>SUBCOMMITTEE INPUT SURVEY: </strong>The Bureau invites you to provide input for subcommittee members prior to the Subcommittee Meetings on February 13. The input provided can be information, comments, and/or suggestions directed to any of the Subcommittees. <a href="https://www.surveymonkey.com/r/KDJ338M">Click here to submit your input by Tuesday, February 6</a>.</p>
<p><strong>MEETING TIMES AND LOCATIONS:</strong> All Subcommittees will meet at the Sheraton Grand Hotel (1230 J Street). Below are the times and room location of each Subcommittee:</p>
<p><span><strong>9:00 AM </strong></span></p>
<p>Enforcement Subcommittee – Bataglieri Room</p>
<p>Manufacturers Subcommittee – Beavis Room</p>
<p>Microbusiness Subcommittee – Bondi Room</p>
<p>Retailers Subcommittee – Compagno Room</p>
<p>Testing Laboratories Subcommittee – Falor Room</p>
<p><span><strong>1:00 PM</strong></span></p>
<p>Cultivators Subcommittee – Compagno Room</p>
<p>Distributors Subcommittee – Bondi Room</p>
<p>Equity Subcommittee – Beavis Room</p>
<p>Licensing Application Subcommittee – Falor Room</p>
<p>Public Health and Youth Subcommittee – Bataglieri Room</p>
<p><strong>MEETING NOTICES:</strong> The Meeting Notices and Agendas for each Subcommittee Meeting will be posted on the Bureau of Cannabis Control’s website – <a href="http://www.bcc.ca.gov">www.bcc.ca.gov</a> – at least 10 days prior to the meetings. Webcast will not be available for the meetings. All Subcommittee Meetings are open to the public.</p>
<p>The Cannabis Advisory Committee advises the Bureau and the other licensing authorities – the California Department of Food and Agriculture and the California Department of Public Health – on the development of regulations that help protect public health and safety and reduce the illegal market for cannabis.</p>
<p>For additional information about the Cannabis Advisory Committee, or to subscribe to email alerts to hear about updates as they become available, please visit the Bureau’s website at <a href="http://www.bcc.ca.gov/">http://www.bcc.ca.gov/</a>.</p>
<p>For information on all three state licensing authorities, please visit the state&#8217;s California Cannabis Portal at <a href="/">/</a>. Follow the Bureau on <a href="https://www.facebook.com/BCCinfo.dca/">Facebook</a>, <a href="https://twitter.com/BCCinfo_dca">Twitter </a>and <a href="https://www.instagram.com/bureauofcannabiscontrol/">Instagram</a> for daily news and updates.</p>
