<p>To All BCC Interested Parties:</p>
<p>The Bureau of Cannabis Control has announced the addition of a new weekly report listing licensee information. This report reflects recently issued licenses, denied applications, and cannabis batch testing results. These reports are available on the &#8216;Check a License&#8217; page on the BCC&#8217;s website. To access the BCC&#8217;s weekly reports, simply click on the link provided below.</p>
<p><strong>Weekly Reports</strong>: <a href="https://bcc.ca.gov/clear/documents/weekly/20181009_report.xlsx">https://bcc.ca.gov/clear/documents/weekly/20181009_report.xlsx</a></p>
<p>To receive future weekly reports through our email alerts, please visit our website&#8217;s email subscription page and select the boxes that state <strong>&#8216;BCC-WEEKLY-REPORT&#8217;</strong> and <strong>&#8216;Subscribe&#8217;</strong>. Proceed to enter your email address and click submit once you are finished.</p>
<p><strong>Subscribe to Future Weekly Reports</strong>: <a href="https://bcc.ca.gov/webapps/subscribe/">https://bcc.ca.gov/webapps/subscribe/</a></p>
<p><span><strong>Definitions of Columns Provided on Reports:</strong></span></p>
<ul>
<li><strong>Business Name:&nbsp;</strong>Legal name of the applicant business entity as registered with the California Secretary of State.</li>
<li><strong>DBA:</strong> Doing business as. The business trade name of the applicant. (Note: field may be blank)</li>
<li><strong>Premises City, County, Zip:&nbsp;</strong>Premises address for the business entity. (Note: Address information listed for Cannabis Event Organizer application is mailing)</li>
<li><strong>Record Type:&nbsp;</strong>Indicates what type of license was applied for or issued.</li>
<li><strong>License Designation: </strong>Refers to if the applicant requested that the license be designated as medicinal, adult-use, or both. (Note: This field will be blank for testing laboratory and cannabis event organizer license types)</li>
<li><strong>Business Entity Structure</strong>: Business entity structure associated with the application or license.</li>
<li><strong>Application Number:&nbsp;</strong>Application number for the application</li>
<li><strong>License Number:</strong> License number for the license. TEMP is the acronym for a temporary license.</li>
<li><strong>Record Status:&nbsp;</strong>The current status of the application or license.</li>
<li><strong>Record Status Date:</strong> Date application was issued or denied.</li>
<li><strong>Denied:&nbsp;</strong>When an application&nbsp;<strong>does not</strong>&nbsp;meet the criteria for licensure, it is Denied.</li>
<li><strong>Active:&nbsp;</strong>When an application&nbsp;<strong>does&nbsp;</strong>meet the criteria for licensure it is approved and a license becomes Active.</li>
</ul>
<p><span><strong>Definitions for Cannabis Batch Testing</strong>:</span></p>
<ul>
<li>Label Claims: When a product fails because the cannabinoid and terpenoids content displayed on the product label is greater than 10% of the testing lab results.</li>
<li>Pesticides: When a product fails for 1 or more Category I and/or Category II Residual Pesticides pursuant to 16 CCR section 5719.</li>
<li>Microbial Impurities: When a product fails for e.coli, salmonella, and/or pathogenic Aspergillus species (A. fumigatus, A. flavus, A. niger, and A. terreus) pursuant to 16 CCR section 5720.</li>
<li>Solvents: When a product fails for 1 or more Category I and/or Category II Residual Solvent or Processing Chemicals pursuant to 16 CCR section 5718</li>
<li>Moisture Content: When a flower batch fails because the moisture content is greater than 13%.</li>
<li>Foreign Material: When a product fails for containing unwanted filth such as mold, insect fragments, hair, and/or related hazardous adulterants pursuant to 16 CCR section 5722.</li>
<li>Homogeneity: When a cannabis edible product fails because the THC content is not consistent or homogenous throughout the product pursuant to 16 CCR Section 5716.</li>
</ul>
