<div>
<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) will host public licensing workshops in Irvine on January 25 and in San Diego on January 26. The workshops will focus on what licensing information is needed and what resources are available for people planning to apply for state commercial cannabis licenses.</p>
<p>The Bureau will be joined by other state and local agencies at each workshop, including the California Department of Public Health (CDPH), California Department of Food and Agriculture (CDFA) and California Department of Tax and Fee Administration (CDTFA).</p>
<p>The workshop schedule will include a brief overview and then transition to an open house where people can obtain information from and ask questions of different state and local agencies. The workshops are free and do not require registration to attend. Both workshops are scheduled to run from 10 a.m. to 1 p.m.</p>
<p><span><strong>Public Licensing Workshops Dates &amp; Locations:</strong></span></p>
<p><strong>Thursday, January 25, 2018 – Irvine, CA</strong></p>
<p><strong>Marriott Irvine, 18000 Von Karman Avenue, Irvine, CA 92612 </strong></p>
<p><strong>Friday, January 26, 2018 – San Diego, CA</strong></p>
<p><strong>Town &amp; Country Convention Center, 500 Hotel Circle North, San Diego, CA 92108</strong></p>
<p>For additional information about the public licensing workshop series, or to subscribe to email alerts to hear about updates as they become available, please visit our website at <a href="http://www.bcc.ca.gov/">http://www.bcc.ca.gov/</a>.</p>
<p>For information on all three state licensing authorities, please visit the state&#8217;s California Cannabis Portal at <a href="/">/</a>. Follow the Bureau on <a href="https://www.facebook.com/BCCinfo.dca/">Facebook</a>, <a href="https://twitter.com/BCCinfo_dca">Twitter </a>and <a href="https://www.instagram.com/bureauofcannabiscontrol/">Instagram</a> for daily news and updates.</p>
</div>
