<p><strong>Sacramento, CA</strong> &#8211; Today, the Governor&#8217;s Office of Business and Economic Development (GO-Biz), in partnership with the Bureau of Cannabis Control, announced $30 million in grant funding through the Cannabis Equity Grants Program for Local Jurisdictions.</p>
<p>The program focuses on the inclusion and support of individuals in California&#8217;s legal cannabis marketplace who are from communities negatively or disproportionately impacted by cannabis criminalization. This is done through small business support services like technical assistance to individuals, reduced licensing fees or waived fees, assistance in recruitment, training, and retention of a qualified and diverse workforce, and business resilience such as emergency preparedness.</p>
<p>At least $23 million of the funding, in the form of low/no-interest loans or grants, will be directly allocated to applicants and licensees specifically identified by local jurisdictions as being from communities most harmed by cannabis prohibition. To date, jurisdictions seeking to create this inclusive regulatory framework represent roughly a quarter of the state&#8217;s population.</p>
<p>&#8220;These Cannabis Equity Grants reflect California&#8217;s desire to lead our legalization efforts with equity and inclusivity,&#8221; said Nicole Elliott, Governor Newsom&#8217;s Senior Advisor on Cannabis. &#8220;We applaud these jurisdictions for not only embracing the challenge of creating pathways to participate in a legitimate cannabis marketplace, but for doing so in a thoughtful way that seeks to uplift all communities. It is our hope that these efforts lead to the creation of a truly diverse industry and that these programs serve as a blueprint for others who share in our commitment to address systemic discrimination and create real prosperity for all.&#8221;</p>
<p><span><strong>Local Jurisdiction Funding for Cannabis Equity Applicants/Licensees</strong></span></p>
<table>
<tr>
<td>City of Oakland</td>
<td>$6,576,705.76</td>
</tr>
<tr>
<td>City of Los Angeles</td>
<td>$6,042,014.23</td>
</tr>
<tr>
<td>City and County of San Francisco</td>
<td>4,995,000.00</td>
</tr>
<tr>
<td>City of Sacramento</td>
<td>$3,831,955.93</td>
</tr>
<tr>
<td>City of Long Beach</td>
<td>$2,700,000.00</td>
</tr>
<tr>
<td>County of Humboldt</td>
<td>$2,459,581.02</td>
</tr>
<tr>
<td>County of Mendocino</td>
<td>$2,245,704.40</td>
</tr>
<tr>
<td><strong>Total</strong></td>
<td><strong>$28,850,961.34</strong></td>
</tr>
</table>
<p><span><strong>Local Jurisdiction Funding for Cannabis Equity Assessment/Program Development</strong></span></p>
<table>
<tr>
<td>County of Lake</td>
<td>$150,000.00</td>
</tr>
<tr>
<td>County of Monterey</td>
<td>$150,000.00</td>
</tr>
<tr>
<td>County of Nevada</td>
<td>$149,999.95</td>
</tr>
<tr>
<td>City of Palm Springs</td>
<td>$149,397.90</td>
</tr>
<tr>
<td>City of San Jose</td>
<td>$149,300.37</td>
</tr>
<tr>
<td>City of Santa Cruz</td>
<td>$147,666.75</td>
</tr>
<tr>
<td>City of Clearlake</td>
<td>$98,890.43</td>
</tr>
<tr>
<td>City of Coachella</td>
<td>$93,783.26</td>
</tr>
<tr>
<td>City of Stockton</td>
<td>$60,000.00</td>
</tr>
<tr>
<td><strong>Total</strong></td>
<td><strong>$1,149,038.66</strong></td>
</tr>
</table>
<p>To learn more about the program, <a href="https://static.business.ca.gov/wp-content/uploads/2020/02/Grant-Solicitation.pdf">click here</a>.</p>
<p>###</p>
<p><strong>About GO-Biz</strong><br />
  The Governor&#8217;s Office of Business and Economic Development (GO-Biz) serves as the State of California&#8217;s leader for job growth and economic development efforts. GO-Biz offers a range of services to business owners including: attraction, retention and expansion services, site selection, permit streamlining, clearing of regulatory hurdles, small business assistance, international trade development, assistance with state government, and much more. For more information visit, <a href="http://www.business.ca.gov/">www.business.ca.gov</a>.</p>
<p><strong>About BCC</strong><br />
  To subscribe to email alerts to hear about updates as they become available, please visit the Bureau&#8217;s website at <a href="https://bcc.ca.gov/">https://bcc.ca.gov/</a>. For information on all three state licensing authorities, please visit the state&#8217;s California Cannabis Portal at <a href="https://cannabis.ca.gov/">https://cannabis.ca.gov/</a>. Follow the Bureau on <a href="https://www.facebook.com/BCCinfo.dca/">Facebook</a>, <a href="https://twitter.com/BCCinfo_dca">Twitter</a> and <a href="https://www.instagram.com/bureauofcannabiscontrol/?hl=en">Instagram</a> for daily news and updates. Those looking to get in touch with the Bureau of Cannabis Control may contact us directly through email at <a href="mailto:bcc@dca.ca.gov">bcc@dca.ca.gov</a>.</p>
