<p>SACRAMENTO – The Bureau of Cannabis Control (Bureau) announced today that the Cannabis Advisory Committee will hold two subcommittee meetings on Tuesday, October 22 and a full committee meeting on Wednesday, October 23 at the Hyatt Regency San Francisco Airport in Burlingame.</p>
<p>Meeting Notices and Agendas for these meetings have been posted to the Bureau’s website and may be found at the following link: <a href="http://bcc.ca.gov/about_us/committee_meetings.html" target="_blank" rel="noopener noreferrer">http://bcc.ca.gov/about_us/committee_meetings.html</a>.</p>
<p><strong>Tuesday October 22, 2019 | 10 a.m.</strong></p>
<p><strong>Subcommittee on Cultivation </strong><br />
Grand Peninsula Ballroom E<br />
Hyatt Regency San Francisco Airport<br />
1333 Bayshore Highway, Burlingame, CA 94010<br />
<a href="https://bcc.ca.gov/about_us/committee_meetings.html" target="_blank" rel="noopener noreferrer">↠ Click here for more information</a></p>
<p><strong>Subcommittee on Public Health and Youth </strong><br />
Grand Peninsula Ballroom G<br />
Hyatt Regency San Francisco Airport<br />
1333 Bayshore Highway, Burlingame, CA 94010<br />
<a href="https://bcc.ca.gov/about_us/committee_meetings.html" target="_blank" rel="noopener noreferrer">↠ Click here for more information</a></p>
<p><strong>Wednesday, October 23, 2019 | 10 a.m.</strong></p>
<p><strong>Full Committee Meeting </strong><br />
Grand Peninsula Ballroom EF<br />
Hyatt Regency San Francisco Airport<br />
1333 Bayshore Highway, Burlingame, CA 94010<br />
<a href="https://bcc.ca.gov/about_us/committee_meetings.html" target="_blank" rel="noopener noreferrer">↠ Click here for more information</a></p>
<p><strong>LIVE WEBCAST:</strong> The Bureau also plans to webcast the full committee meeting. To view the Cannabis Advisory Committee meeting webcast, visit the following link on October 23: <a href="https://thedcapage.blog/webcasts/">https://thedcapage.blog/webcasts/</a>. (Please note, the two subcommittee meetings on October 22 will not be webcast.)</p>
<p><strong>SEATING LIMITED: </strong>Meeting attendees are encouraged to arrive early as the Bureau cannot guarantee seating in the event the room reaches capacity.</p>
<p>The Cannabis Advisory Committee advises the Bureau, the California Department of Food and Agriculture, and the California Department of Public Health on the development of regulations that help protect public health and safety and do not perpetuate the illegal market for cannabis.</p>
<p><em>To subscribe to email alerts to hear about updates as they become available, please visit the Bureau’s website at </em><a href="http://www.bcc.ca.gov/"><em>http://www.bcc.ca.gov/</em></a><em>. For information on all three state licensing authorities, please visit the state&#8217;s California Cannabis Portal at </em><a href="https://cannabis.ca.gov/"><em>https://cannabis.ca.gov/</em></a><em>. Follow the Bureau on </em><a href="https://www.facebook.com/BCCinfo.dca/"><em>Facebook</em></a><em>, </em><a href="https://twitter.com/BCCinfo_dca"><em>Twitter </em></a><em>and </em><a href="https://www.instagram.com/bureauofcannabiscontrol/"><em>Instagram</em></a><em> for daily news and updates. </em></p>
<p><em>Those looking to get in touch with the Bureau of Cannabis Control may contact us directly through email at </em><a href="mailto:bcc@dca.ca.gov"><em>bcc@dca.ca.gov</em></a><em>.</em></p>
<p><em>To subscribe to email alerts to hear about updates as they become available, please visit the Bureau’s website at </em><a href="http://www.bcc.ca.gov/"><em>http://www.bcc.ca.gov/</em></a><em>. For information on all three state licensing authorities, please visit the state&#8217;s California Cannabis Portal at </em><a href="https://cannabis.ca.gov/"><em>https://cannabis.ca.gov/</em></a><em>. Follow the Bureau on </em><a href="https://www.facebook.com/BCCinfo.dca/"><em>Facebook</em></a><em>, </em><a href="https://twitter.com/BCCinfo_dca"><em>Twitter </em></a><em>and </em><a href="https://www.instagram.com/bureauofcannabiscontrol/"><em>Instagram</em></a><em> for daily news and updates. </em></p>
<p><em>Those looking to get in touch with the Bureau of Cannabis Control may contact us directly through email at </em><a href="mailto:bcc@dca.ca.gov"><em>bcc@dca.ca.gov</em></a><em>.</em></p>
