<div>
<p>As we get closer to January 2, 2018 and a newly-regulated cannabis industry, the State of California’s three licensing authorities are searching for qualified candidates to assist in the ongoing regulation process. The Bureau of Cannabis Control, CalCannabis Cultivation Licensing and the California Department of Public Health are all hiring for a wide variety of positions in the coming months. Active job seekers can find current open positions located on the State of California’s jobs website.</p>
<p><strong>State of California Job Website: </strong><a href="https://jobs.ca.gov/">https://jobs.ca.gov/</a></p>
<p>Applicants who have not held a state position before, or have yet to apply for one, are encouraged to watch the following step-by-step video tutorials available on YouTube.</p>
<p><strong>Applying for a State Job:</strong> <a href="https://www.youtube.com/watch?v=h98MUb0NkHk">https://www.youtube.com/watch?v=h98MUb0NkHk</a></p>
<p><strong>How to Take an Exam:</strong>  <a href="https://www.youtube.com/watch?v=J9STRabaDV8">https://www.youtube.com/watch?v=J9STRabaDV8</a></p>
<p>Information, news and other job openings are posted on each department’s respective social media pages as they become available.</p>
<p><strong>Bureau of Cannabis Control:</strong> <a href="https://www.facebook.com/BMCRinfo/">https://www.facebook.com/BMCRinfo/</a></p>
<p><strong>CalCannabis Cultivation Licensing:</strong> <a href="https://www.facebook.com/CACultivationLicensing/">https://www.facebook.com/CACultivationLicensing/</a></p>
<p><strong>California Department of Public Health:</strong> <a href="https://www.facebook.com/CAPublicHealth/">https://www.facebook.com/CAPublicHealth/</a></p>
<p>All applicants are welcome. Take those first steps in getting a career started with the state of California today!</p>
</div>
