<p>SACRAMENTO, January 8, 2018 – The California Department of Food and Agriculture’s CalCannabis Cultivation Licensing Division, along with the Bureau of Cannabis Control and the California Department of Public Health, are offering 14 workshops in January and February on California’s Cannabis Track-and-Trace system. The system will be used statewide to record the inventory and movement of cannabis and cannabis products through the commercial cannabis supply chain—from cultivation to sale.</p>
<p>The workshops will provide a general overview of how the track-and-trace system works and how it will be used by all state cannabis licensees, including those with licenses for cannabis cultivation, manufacturing, retail, distribution, testing labs, and microbusinesses.</p>
<p><strong>Registration is not required; seating is first come, first served. Additionally, a recording of a workshop will be posted on the </strong><a href="http://calcannabis.cdfa.ca.gov/"><strong>CalCannabis website</strong></a> <strong>by mid-February.</strong></p>
<p>Two identical workshops will be held at each of the following locations from 9 a.m. to 12 p.m. and 1 p.m. to 4 p.m. The dates and locations include:</p>
<p>1) <strong>Tuesday, January 9—Sacramento County</strong><br />
Sacramento Convention Center, Hall E<br />
1400 J Street, Sacramento 95814</p>
<p>2) <strong>Thursday, January 11—Humboldt County</strong><br />
Sequoia Conference Center<br />
901 Myrtle Avenue, Eureka 95501</p>
<p>3) <strong>Thursday, January 18—San Francisco County</strong><br />
South San Francisco Conference Center<br />
225 South Airport Boulevard, South San Francisco 94080</p>
<p>4) <strong>Monday, January 29—Kern County</strong><br />
Bakersfield Marriott at the Convention Center<br />
801 Truxtun Avenue, Bakersfield 93301</p>
<p>5) <strong>Wednesday, January 31—Los Angeles County</strong><br />
University of California, Los Angeles<br />
Ackerman Union, Grand Ballroom<br />
308 Westwood Plaza, Los Angeles 90024</p>
<p>6) <strong>Friday, February 2—San Diego County</strong><strong><br />
ALSO AVAILABLE VIA LIVESTREAM 9am-12pm*</strong><br />
San Diego Convention Center<br />
111 West Harbor Drive, San Diego 92101</p>
<p>7) <strong>Tuesday, February 6—Riverside County</strong><br />
Moreno Valley Conference Center<br />
14075 Frederick Street, Moreno Valley 92553</p>
