<p>Assembly Bill 97, a trailer bill passed by the California State Legislature and signed into law earlier this month, contains provisions that modify the Medicinal and Adult-Use Cannabis Regulation and Safety Act (MAUCRSA). Key provisions affecting cannabis cultivators and potential applicants are highlighted below.</p>
<p><strong>Provisional Licenses</strong></p>
<p>Applicants are no longer required to hold or have held a temporary license to be eligible for a provisional license, and the sunset date for provisional licenses has been extended to January 1, 2022.</p>
<p>Provisional licensees must adhere to all statutory and regulatory requirements, including use of the California Cannabis Track-and-Trace system. To be eligible for a provisional license, the applicant must submit a complete annual license application and be in the process of complying with local ordinances and completing requirements for the California Environmental Quality Act (CEQA).</p>
<p><strong>For Applicants</strong></p>
<ul>
<li>All those with pending annual license applications will be evaluated to determine eligibility for a provisional license. No action is needed from the applicant unless contacted for more information regarding an application.</li>
<li>New applicants must complete the online cannabis cultivation license application: <a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__lists.cdfa.ca.gov_t_101648_107898_1120_3_&amp;d=DwMFAw&amp;c=LHIwbLRMLqgNuqr1uGLfTA&amp;r=0VVin0diWSJhySQTljbmjmH7obUZIPhx4sxv503be1I&amp;m=O1y8xlAgLpspn7bIUzEnNwQzlJPYO9Cclo4gN1hO_LY&amp;s=zGnWp2oWR3tqr1n0-f-YyUKw7ZyG8AusML1_PYD1WsM&amp;e=">https://aca6.accela.com/calcannabis/Welcome.aspx</a>. Eligibility for a provisional license will be assessed during the application review process.</li>
</ul>
<p>Applicants with questions can contact us by calling 1-833-CALGROW (1-833-225-4769). </p>
<p><strong>For Local Jurisdictions</strong></p>
<ul>
<li>We will contact the local jurisdiction during the review process to verify the applicant’s compliance with local ordinances. Once a provisional license is issued, we will maintain close communication with local jurisdictions about the status of the licensee’s authorization, including when city and county governments complete their cannabis-specific permitting and approval processes.</li>
<li>We will continue to conduct inspections and follow up with provisional and annual license holders to ensure they are meeting all state statutory and regulatory requirements.</li>
</ul>
<p>​<strong>Legislative Text</strong></p>
<ul>
<li><a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__lists.cdfa.ca.gov_t_101648_107898_1650_4_&amp;d=DwMFAw&amp;c=LHIwbLRMLqgNuqr1uGLfTA&amp;r=0VVin0diWSJhySQTljbmjmH7obUZIPhx4sxv503be1I&amp;m=O1y8xlAgLpspn7bIUzEnNwQzlJPYO9Cclo4gN1hO_LY&amp;s=OazG4O-iPzWnWeSZv5T4Jq1Bla7_YPfx2W4-j-WpxSg&amp;e=">Assembly Bill 97</a></li>
<li><a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__lists.cdfa.ca.gov_t_101648_107898_1651_5_&amp;d=DwMFAw&amp;c=LHIwbLRMLqgNuqr1uGLfTA&amp;r=0VVin0diWSJhySQTljbmjmH7obUZIPhx4sxv503be1I&amp;m=O1y8xlAgLpspn7bIUzEnNwQzlJPYO9Cclo4gN1hO_LY&amp;s=R14vAI9W6ec73_Ut2mtDFYnRMTrC9Z_xk5yhzMkyhxU&amp;e=">MAUCRSA (Business &amp; Professions Code, Division 10)</a></li>
</ul>
