<p>The California Department of Food and Agriculture’s (CDFA) CalCannabis Cultivation Licensing Division will hold six public workshops throughout California in September to solicit input on establishing a framework for the CalCannabis Appellations Project. CDFA is required to develop a process allowing licensed cultivators to establish appellations of standards, practices, and varietals applicable to cannabis grown in a certain geographical area in California. The purpose of this first round of workshops is to get input from cultivators and other stakeholders on how the cannabis appellations process should be developed.</p>
<p>Workshop participants can share suggestions in person or in writing. The focus of these workshops is only on appellations—not any other aspect of the cannabis cultivation licensing process.</p>
<p>All workshops are scheduled from 4 p.m. to 7 p.m., except the Sacramento location, which is from 1 p.m. to 4 p.m. The workshops are free and pre-registration is not required. The dates and locations are:</p>
<p>1) <strong>Monday, September 10 – Mendocino County</strong><br />
Ukiah Valley Conference Center, Chenin Blanc Room<br />
200 South School Street, Ukiah, CA 95482<br />
4 p.m. to 7 p.m</p>
<p>2) <strong>Wednesday, September 12 – Humboldt County</strong><br />
Sequoia Conference Center, Sequoia Room B<br />
901 Myrtle Avenue, Eureka, CA 95501<br />
4 p.m. to 7 p.m.</p>
<p>3) <strong>Wednesday, September 19 – Sacramento County</strong><br />
California Department of Food and Agriculture, Auditorium<br />
1220 N Street, Sacramento, CA 95814<br />
1 p.m. to 4 p.m.</p>
<p>4) <strong>Monday, September 24 – Riverside County</strong><br />
University of California, Riverside, Palm Desert Center, Building B114-B117<br />
75080 Frank Sinatra Drive, Palm Desert, CA 92211<br />
4 p.m. to 7 p.m.</p>
<div><strong>5) Tuesday, September 25 – Santa Barbara County</strong></div>
<div>Embassy Suites by Hilton, South Jalama Room</div>
<div>1117 North H Street, Lompoc, CA 93436</div>
<div>4 p.m. to 7 p.m.</div>
<div></div>
<p>6) <strong>Wednesday, September 26 – Monterey County</strong><br />
Monterey Conference Center, Colton Room<br />
1 Portola Plaza, Monterey, CA 93940<br />
4 p.m. to 7 p.m.</p>
<p>For more information on CDFA’s CalCannabis Cultivation Licensing Division, or to sign up for email alerts for updates as they become available, please visit the CalCannabis <a href="http://lists.cdfa.ca.gov/t/79304/107898/674/5/">website</a>.</p>
