<p>The California Department of Fish and Wildlife (CDFW) issued this&nbsp;<a href="https://wildlife.ca.gov/News/cdfws-cannabis-grant-program-awards-nearly-1-million-for-watershed-remediation-projects">press release</a>. Contact CDFW if you have any questions: Janice Mackey,&nbsp;<a href="mailto:Janice.Mackey@cdfw.ca.gov">janice.mackey@wildlife.ca.gov</a>, CDFW Communications.</p>

<hr class="wp-block-separator" />

<p>The California Department of Fish and Wildlife’s (CDFW) cannabis enforcement program has released year-end numbers for the 2021 calendar year.</p>

<p>CDFW investigates illegal cannabis cultivation operations to uncover and curtail operations that result in significant environmental damage. Some of the most serious environmental issues involve unauthorized streambed alterations with water diversions, habitat destruction, illegal use of pesticides and poaching. CDFW does not typically investigate water theft but will assist county law enforcement partners in such investigations as needed.</p>

<p>“Illegal operators who are trying to bypass the legal system are a threat to California’s fish and wildlife resources, and a detriment to those legally cultivating cannabis,” said David Bess, CDFW Deputy Director and Chief of the Law Enforcement Division. “Our wildlife officers did an exceptional job in providing public safety alongside our federal, state and county partners and I could not be prouder of their dedication and commitment to protecting the environment. Our year-end numbers are a testament to all their hard work throughout the year.”</p>

<div class="wp-block-image"><figure class="aligncenter is-resized"><img loading="lazy" src="https://wildlife.ca.gov/Portals/0/Images/News/2022/CannabisEnforcementStatsreducedsize02_04_22.jpg?ver=2022-02-03-123241-953" alt="Image of CDFW enforcement statistics: 2.6 million illegal cannabis plants eradicated, 487,270 pounds of illegal cannabis flower destroyed, 1,125 search warrants served, 794 firearms seized, 32,230 pounds of trash removed from public lands." width="703" height="421" /></figure></div>

<p>Some of the year’s notable accomplishments include:</p>

<ul><li>2.6 million illegal cannabis plants eradicated</li><li>487,270 lbs. of illegal cannabis flower destroyed</li><li>1,125 search warrants served</li><li>794 firearms seized</li><li>32,230 lbs. of trash removed from public lands</li><li>404 illegal water diversions removed</li></ul>

<p>*Numbers reflect all operations where CDFW was either the lead agency or in a support role.</p>

<p>According to statistics from the Department of Justice’s (DOJ) Campaign Against Marijuana Planting (CAMP) program, illegal cannabis cultivation continues to move away from public land operations to private property. In 2018, the ratio of illegal activity was approximately 80 percent on public lands and 20 percent on private property. The number of illegal cannabis grows on public lands has continued to decrease steadily over the last few years and in 2021, the DOJ’s CAMP program cited less than 30 percent of illegal cultivation activity on public lands.</p>

<p>Today, CDFW has 68 dedicated cannabis enforcement officers who work with county, state and federal partners to combat illegal cultivation activity.</p>

<p>CDFW encourages the public to report environmental crimes such as water pollution and poaching to the CalTIP hotline by calling (888) 334-2258 or by texting information to “TIP411” (847411).</p>

<p class="has-text-align-center"># # #</p>
