<p>The California Department of Fish and Wildlife (CDFW) issued this <a href="https://wildlife.ca.gov/News/cdfws-cannabis-grant-program-awards-nearly-1-million-for-watershed-remediation-projects">press release</a>. Contact CDFW if you have any questions: Janice Mackey, <a href="mailto:Janice.Mackey@cdfw.ca.gov">janice.mackey@wildlife.ca.gov</a>, CDFW Communications.</p>

<hr class="wp-block-separator"/>

<p>CDFW today announced the selection of four projects to receive funding for watershed remediation and enhancement projects.</p>

<p>The awards, totaling $966,649, were made under CDFW’s Cannabis Restoration Grant Program (CRGP) through the Environmental Restoration and Protection Account pursuant to Revenue and Taxation Code section 34019(f)(2).</p>

<p>The Watershed Remediation and Enhancement Proposal Solicitation Notice was released from the CRGP in April 2021, with $2 million total funding available. CDFW received seven proposals seeking approximately $1.6 million in grant funding.</p>

<p>“These awards ensure California’s vital biodiversity in priority watersheds is being enhanced and protected,” said Jeremy Valverde, CDFW’s Cannabis Program Director. “We are committed to working with organizations of all sizes to support a variety of remediation projects that improve and sustain California’s delicate ecosystems throughout the state.”</p>

<p>Projects approved for funding include:</p>

<ul><li>Barker Creek Roads Sediment Treatment ($172,691 to The Watershed Research and Training Center)</li><li>Reclaiming our California Wildernesses from the Damage of Illegal Cannabis Cultivation ($388,855 to Integral Ecology Research Center)</li><li>Lost Coast Forestland Flow Enhancement and Habitat Restoration ($277,936 to Salmonid Restoration Federation)</li><li>Wildlife Conscious Certification Program: Enhancing Habitats and Connectivity for Wildlife on Licensed Cannabis Farms ($127,167 to Humboldt State University Sponsored Programs Foundation)</li></ul>

<p>More information on each project can be found at&nbsp;<a href="https://wildlife.ca.gov/Conservation/Watersheds/Cannabis-Restoration-Grant">wildlife.ca.gov/Conservation/Watersheds/Cannabis-Restoration-Grant</a>. Additionally, in August 2021,&nbsp;<a href="https://wildlife.ca.gov/News/cdfw-launches-new-funding-opportunity-for-cannabis-cultivators">CDFW announced it was accepting concept proposals</a>&nbsp;in preparation for the&nbsp;<a href="https://nrm.dfg.ca.gov/FileHandler.ashx?DocumentID=195378&amp;inline" target="_blank" rel="noreferrer noopener">Qualified Cultivator Funding Opportunity Solicitation (PDF)(opens in new tab)</a>&nbsp;which was released on October 8.</p>

<p>For more information on CDFW’s Technical Pop-up Shop on November 9 and Cannabis Permitting Workshop on November 17, just visit the&nbsp;<a href="https://wildlife.ca.gov/Conservation/Cannabis/Events">cannabis event webpage</a>&nbsp;for additional details.</p>
