<div>
<p>The California Department of Public Health (CDPH) has filed the proposed emergency regulations for shared-use facilities with the Office of Administrative Law (OAL). This filing marks the start of the five-day public comment period and the 10-day OAL review period.</p>
<p>The public comment period will be open from today until&nbsp;Saturday, April 7, 2018. Written comments must be submitted concurrently to both OAL&nbsp;<span>and&nbsp;</span>the CDPH Office of Regulations. Include the title of the proposed regulations, DPH-17-013E, with your comments.</p>
<table>
<tbody>
<tr>
<td>Office of Administrative Law<br />
300 Capitol Ave, Suite 1250<br />
Sacramento CA 95814<br />
<a href="mailto:staff@oal.ca.gov" target="_blank" rel="noopener noreferrer">staff@oal.ca.gov</a><br />
Fax: 916-323-6826</td>
<td>CDPH Office of Regulations<br />
<a href="https://maps.google.com/?q=1415+L+Street,+Suite+500+%0D%0ASacramento+CA+95814&amp;entry=gmail&amp;source=g">1415 L Street, Suite 500</a><br />
Sacramento CA 95814<br />
<a href="mailto:regulations@cdph.ca.gov" target="_blank" rel="noopener noreferrer">regulations@cdph.ca.gov</a><br />
Fax: 916-440-5747</td>
</tr>
</tbody>
</table>
</div>
<p>No comments can be accepted in person or by phone.</p>
<p>The regulations, released by CDPH’s Manufactured Cannabis Safety Branch, would allow cannabis manufacturers to utilize shared-use facilities and were developed to provide opportunities for entry into the market and in response to demand from cities and counties wishing to implement equity programs. The facilities must be cannabis specific and are expected to resemble community kitchens or locations in which a larger manufacturer offers use of space and equipment to a smaller manufacturer.</p>
<p>The emergency regulations are expected to become effective on April 13, 2018. The regulatory text, finding of emergency and a fact sheet can be viewed on the CDPH website,&nbsp;<a href="https://cdph.us17.list-manage.com/track/click?u=7796916625e499d01e3bf0965&amp;id=aceac3ca58&amp;e=4c7be124c3" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://cdph.us17.list-manage.com/track/click?u%3D7796916625e499d01e3bf0965%26id%3Daceac3ca58%26e%3D4c7be124c3&amp;source=gmail&amp;ust=1522878446321000&amp;usg=AFQjCNESRbEbZS_0-XRDqQrtJnoyHHSlcA"><span>www.cdph.ca.gov/mcsb/regulations</span></a><span>.</span></p>
<div><strong>About the Manufactured Cannabis Safety Branch</strong></div>
<div>
<p>The California Department of Public Health’s Manufactured Cannabis Safety Branch (MCSB) is one of three state cannabis authorities charged with licensing and regulating commercial cannabis activity in California. MCSB regulates all commercial cannabis manufacturing in the state and strives to protect public health by ensuring commercial cannabis manufacturers operate safe, sanitary workplaces and produce products that are free of contaminants, meet product guidelines and are properly packaged and labeled.</p>
<p>For more information on CDPH’s Manufactured Cannabis Safety Branch, visit&nbsp;<a href="https://cdph.us17.list-manage.com/track/click?u=7796916625e499d01e3bf0965&amp;id=0772a02ec6&amp;e=4c7be124c3" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://cdph.us17.list-manage.com/track/click?u%3D7796916625e499d01e3bf0965%26id%3D0772a02ec6%26e%3D4c7be124c3&amp;source=gmail&amp;ust=1522878446321000&amp;usg=AFQjCNFKky94qEPNhc9q9lvtfHlRfpBB8Q">www.cdph.ca.gov/mcsb</a>.&nbsp;For questions, contact us:&nbsp;<a href="mailto:mcsb@cdph.ca.gov" target="_blank" rel="noopener noreferrer">mcsb@cdph.ca.gov</a>&nbsp;or (855) 421-7887.</p>
<p>For information on the state cannabis offices, visit the California Cannabis Portal,&nbsp;<a href="https://cdph.us17.list-manage.com/track/click?u=7796916625e499d01e3bf0965&amp;id=9e9ac4556c&amp;e=4c7be124c3" target="_blank" rel="noopener noreferrer" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://cdph.us17.list-manage.com/track/click?u%3D7796916625e499d01e3bf0965%26id%3D9e9ac4556c%26e%3D4c7be124c3&amp;source=gmail&amp;ust=1522878446321000&amp;usg=AFQjCNEiKOVfpdwnZqYXINalPdYT-Cs6fw">www.cannabis.ca.gov</a>.</p>
</div>
