<p>To All Interested Parties,</p>
<p>We are proud to share Governor Newsom’s budget proposal for cannabis industry regulation and taxation, announced by the Governor today.</p>
<p><span><strong>Regulatory Simplification:</strong></span></p>
<p>In an effort to improve access to licensing and simplify regulatory oversight of commercial cannabis activity, the Administration plans to consolidate the three licensing entities that are currently housed at — the Bureau of Cannabis Control, the Department of Food and Agriculture, and the Department of Public Health — into a single Department of Cannabis Control by July 2021. Establishment of a standalone department with an enforcement arm will centralize and align critical areas to build a successful legal cannabis market, by creating a single point of contact for cannabis licensees and local governments. The Administration will provide more details on this proposal in spring 2020.</p>
<p><span><strong>Tax Simplification:</strong></span></p>
<p>Governor Newsom also proposes simplifying cannabis tax administration by changing the point of collection.</p>
<p>The proposed changes move the responsibility for the cultivation excise tax from the final distributor to the first, and for the retail excise tax from the distributor to the retailer. Moving the incidence of this tax to the retailer will eliminate CDTFA’s requirement to estimate product mark-up and set wholesale tax rates.  The changes will reduce the tax collection burden on the cannabis industry and simplify the tax collection process.</p>
<p>Further, the Newsom Administration, in consultation with the industry and stakeholders, will consider other changes to the existing cannabis tax structure, including the number of taxes and tax rates to simplify the system and to support a stronger, safer legal cannabis market.</p>
<p><span><strong>Allocation of the Cannabis Tax Fund:</strong></span></p>
<p>Pursuant to Proposition 64, expenditures are prioritized for regulatory and administrative workload necessary to implement, administer, and enforce the Cannabis Act, followed by research and activities related to the legalization of cannabis and the past effects of its criminalization. Once these priorities have been met, the remaining funds are allocated to youth education, prevention, early intervention, and treatment; environmental protection; and public safety-related activities.</p>
<p>The Budget estimates $332.8 million will be available for these purposes in 2020-21, and the structure of these allocations is unchanged from 2019-20:</p>
<ul>
<li>Education, prevention, and treatment of youth substance use disorders and school retention—60 percent ($199.7 million).</li>
<li>Clean-up, remediation, and enforcement of environmental impacts created by illegal cannabis cultivation—20 percent ($66.6 million).</li>
<li>Public safety-related activities—20 percent ($66.6 million).</li>
</ul>
<p>Thank you,</p>
<p>Lori Ajax<br />
Chief, Bureau of Cannabis Control</p>
<p>Richard Parrott, Director<br />
CalCannabis Cultivation Licensing Division<br />
California Department of Food and Agriculture</p>
<p>Miren Klein<br />
Assistant Deputy Director<br />
Center Environmental Health<br />
California Department of Public Health</p>
