<p>This Friday, March 4, the Department of Cannabis Control (DCC) will release proposed regulation changes and begin a regular rulemaking process. The upcoming rulemaking process will include:&nbsp;&nbsp;</p>

<ul><li>Changes that are in effect as emergency regulations from the fall&nbsp;&nbsp;</li><li>Additional changes to streamline and strengthen the regulatory framework&nbsp;</li></ul>

<p>Ahead of this release, we would like to invite you to join us for a webinar to learn more about proposed changes, the rulemaking process and timeline, and how you can share feedback.&nbsp;</p>

<p><strong>WHAT:</strong> Webinar about DCC’s upcoming regulations&nbsp;</p>

<p><strong>WHEN</strong>: Thursday, March 3, 2022, from 4:00-4:45 p.m. PT&nbsp;</p>

<p><strong>LIVESTREAM: </strong>DCC <a href="https://www.youtube.com/watch?v=wJxOjNHBA1k&amp;t=5s">YouTube</a> page</p>

<p>The full text of regulations and rulemaking documents will be available on Friday, March 4th. DCC will post information and resources online and distribute a message to email subscribers at that time.&nbsp;&nbsp;</p>
