<p>The Department of Cannabis Control (DCC) is requesting stakeholder input and feedback on the development of equity fee waiver and deferral regulations. During the equity fee waiver program development process, DCC received feedback from stakeholders, including equity businesses and the legislature, signaling strong interest in a more robust stakeholder engagement and input process. To implement this, the DCC will hold an informational session for the public. This session will be held on:</p>

<p>April 27, 2022 at 11 a.m.</p>

<p><a href="https://cannabis-meetings.webex.com/cannabis-meetings/j.php?MTID=m0fa7fa361ee841b6ba58b94f9242bb85" data-type="URL" data-id="https://cannabis-meetings.webex.com/cannabis-meetings/j.php?MTID=m0fa7fa361ee841b6ba58b94f9242bb85" target="_blank" rel="noreferrer noopener">DCC Equity Fee Waiver and Deferral Stakeholder Input Session</a> (WebEx)</p>

<h2>The goal of this session is:</h2>

<ul><li>To engage stakeholders in the early development of the program</li><li>To ensure stakeholders have meaningful opportunity to shape the program</li><li>To thoroughly vet concepts for the program</li><li>To ensure the program supports the state’s goals for an equitable cannabis market</li></ul>

<p>The DCC has developed a video that describes the fee deferral concepts in detail. For stakeholders that are unavailable to attend the informational session, they can <a href="https://www.youtube.com/watch?v=zBLx2fx4SzU" data-type="URL" data-id="https://www.youtube.com/watch?v=zBLx2fx4SzU" target="_blank" rel="noreferrer noopener">view the video here</a>.</p>

<p>After the information session, the DCC will accept feedback in writing through May 2, 2022.</p>

<hr class="wp-block-separator" />

<h2>How to submit feedback</h2>

<p>If you wish to submit feedback on the equity fee waiver and deferral regulations, please submit your comment in writing to the DCC at <a href="mailto:outreach@cannabis.ca.gov" target="_blank" rel="noreferrer noopener">outreach@cannabis.ca.gov</a>. Please include “DCC Equity Fee Waiver and Deferral” in your subject line.</p>
