<p>The Department of Cannabis Control (DCC) has filed an action with the Office of Administrative Law (OAL) to readopt its emergency regulations, with amendments, implementing Senate Bill 166. The bill requires DCC to develop and implement a program to provide waivers for cannabis licensing fees, with at least 60 percent of the total amount of fee waivers allocated to fee waivers for local equity applicants and licenses.&nbsp;<strong>This readoption would allow emergency regulations to remain in place while DCC continues working to begin the process of permanently adopting the regulations through the regular rulemaking action.</strong></p>

<p>The DCC’s filing marks the start of the five-calendar day public comment period and the 10-day OAL review period.</p>

<h2><strong>How to submit a public comment</strong></h2>

<p>If you wish to comment on the proposed readoption emergency regulations, you must submit your comment in writing to <strong>both </strong>OAL and DCC:</p>

<div class="wp-container-11 wp-block-columns">
<div class="wp-container-9 wp-block-column">
<p><strong>OAL Reference Attorney</strong><br>300 Capitol Mall, Suite 1250<br>Sacramento CA 95814<br><a rel="noreferrer noopener" href="mailto:staff@oal.ca.gov" target="_blank">staff@oal.ca.gov</a></p>
</div>

<div class="wp-container-10 wp-block-column">
<p><strong>DCC Legal Affairs Division</strong><br>2920 Kilgore Road<br>Rancho Cordova CA 95670<br><a rel="noreferrer noopener" href="mailto:publiccomment@cannabis.ca.gov" target="_blank">publiccomment@cannabis.ca.gov</a></p>
</div>
</div>

<p><strong>Public comments must be received no later than May 31, 2022.</strong>&nbsp;Verbal comments cannot be accepted.</p>

<p><a href="https://urldefense.com/v3/__https://cannabis.us20.list-manage.com/track/click?u=782ff07f15b74f74286abab9e&amp;id=85a12fdb45&amp;e=8959e33422__;!!LgI54Rc2WdJtrUDt!B09792HDIQy_qX4CGxYQX3IEexa3Y4htr5B2OL3QUzqBaexjsgcB_UCyfiXt-zs7xYIHvk8QLtMc7G6XeqFvXVbvbWJ1zS57Jg$" target="_blank" rel="noreferrer noopener">Read tips</a>&nbsp;for submitting a public comment or download a&nbsp;<a href="https://urldefense.com/v3/__https://cannabis.us20.list-manage.com/track/click?u=782ff07f15b74f74286abab9e&amp;id=74ad9cdadb&amp;e=8959e33422__;!!LgI54Rc2WdJtrUDt!B09792HDIQy_qX4CGxYQX3IEexa3Y4htr5B2OL3QUzqBaexjsgcB_UCyfiXt-zs7xYIHvk8QLtMc7G6XeqFvXVbvbWIu0g2iVQ$" target="_blank" rel="noreferrer noopener">public comment template</a>&nbsp;to help you submit your feedback.</p>

<p>View all of DCC’s rulemaking actions, including how to comment on other proposed regulations: <a rel="noreferrer noopener" href="https://urldefense.com/v3/__https://cannabis.us20.list-manage.com/track/click?u=782ff07f15b74f74286abab9e&amp;id=cc9135e097&amp;e=8959e33422__;!!LgI54Rc2WdJtrUDt!B09792HDIQy_qX4CGxYQX3IEexa3Y4htr5B2OL3QUzqBaexjsgcB_UCyfiXt-zs7xYIHvk8QLtMc7G6XeqFvXVbvbWJhkNw5jw$" target="_blank">https://cannabis.ca.gov/resources/rulemaking/</a></p>

<h2><strong>About the proposed readoption of emergency regulations</strong></h2>

<p>View the proposed readopted regulatory text and supporting documents:</p>

<ul><li><a href="https://urldefense.com/v3/__https://cannabis.us20.list-manage.com/track/click?u=782ff07f15b74f74286abab9e&amp;id=e769a4eb06&amp;e=8959e33422__;!!LgI54Rc2WdJtrUDt!B09792HDIQy_qX4CGxYQX3IEexa3Y4htr5B2OL3QUzqBaexjsgcB_UCyfiXt-zs7xYIHvk8QLtMc7G6XeqFvXVbvbWK9cwEBGA$" target="_blank" rel="noreferrer noopener">Emergency Readopt Regulation Text</a></li><li><a href="https://urldefense.com/v3/__https://cannabis.us20.list-manage.com/track/click?u=782ff07f15b74f74286abab9e&amp;id=44995f5ec5&amp;e=8959e33422__;!!LgI54Rc2WdJtrUDt!B09792HDIQy_qX4CGxYQX3IEexa3Y4htr5B2OL3QUzqBaexjsgcB_UCyfiXt-zs7xYIHvk8QLtMc7G6XeqFvXVbvbWI9Ocogtw$" target="_blank" rel="noreferrer noopener">Finding of Emergency and Notice of Emergency Readoption Rulemaking</a></li></ul>

<p>Questions about the proposed regulatory action can be directed to:<br><strong>Charisse Diaz</strong><br>Phone: (916) 465-9025<br>Email:&nbsp;<a href="mailto:regulations@cannabis.ca.gov" target="_blank" rel="noreferrer noopener">regulations@cannabis.ca.gov</a>&nbsp;&nbsp;<br><br>The backup contact person for these inquiries is:<br><strong>Ashlynn Blackshire</strong><br>Phone: (916) 251-4499<br>Email:&nbsp;<a href="mailto:Ashlynn.Blackshire@cannabis.ca.gov" target="_blank" rel="noreferrer noopener">Ashlynn.Blackshire@cannabis.ca.gov</a></p>
