<p>The Department of Cannabis Control (DCC) has filed proposed emergency regulations to consolidate, clarify, and make consistent cannabis regulations to the California Office of Administrative Law (OAL). This marks the start of the five-calendar day public comment period and the 10-day OAL review period.</p>

<h2>How to submit a public comment</h2>

<p>If you wish to comment on the proposed emergency regulations, you must submit your comment in writing to <strong>both </strong>OAL and DCC. Please include “DCC Emergency Commercial Cannabis Regulations” in your subject line.&nbsp;</p>

<div class="wp-block-columns">
<div class="wp-block-column" style="flex-basis:100%">
<div class="wp-block-columns">
<div class="wp-block-column">
<p><strong>OAL  Reference Attorney</strong></p>

<ul><li>300 Capitol Mall, Suite 1250, Sacramento CA 95814</li><li><a rel="noreferrer noopener" href="mailto:staff@oal.ca.gov" target="_blank">staff@oal.ca.gov</a></li></ul>
</div>

<div class="wp-block-column">
<p><strong>DCC Legal Affairs Division</strong></p>

<ul><li>2920 Kilgore Road, Rancho Cordova CA 95670</li><li><a rel="noreferrer noopener" href="mailto:publiccomment@cannabis.ca.gov" target="_blank">publiccomment@cannabis.ca.gov</a></li></ul>
</div>
</div>
</div>
</div>

<p>Public comments must be received no later than Monday, September 20. Verbal comments cannot be accepted.</p>
