<p>The Employment Development Department (EDD) offers State payroll tax seminars to help employers comply with California payroll tax laws. During their upcoming Cannabis Industry and State Payroll Tax Seminars, interested parties will learn how and when to report State payroll taxes, how to distinguish between an employee and an independent contractor, independent contractor reporting requirements, and the various ways to get assistance from EDD.</p>
<p>Please note, registration is required to attend these seminars. For a full list of dates and locations for all 26 seminars through the end of the year, <a href="https://seminars.edd.ca.gov/payroll_tax_seminars" target="_blank" rel="noopener noreferrer">visit EDD&#8217;s website</a>. See below for a shortened list of seminars available through the month of August.</p>
<p><span><strong>1. San Bernardino</strong></span></p>
<p>DATE: Wednesday, June 5, 2019<br />
WHERE: 658 E. Brier Dr. Suite 300 San Bernardino, CA 92408<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=DZHD25K74L3KZ55QIU6PCCRE2I4CU36YLE46CP2X7AORBTMTQELTCKKD4FZFN7LBNJ3Z6PB4FIPQI===" aria-label="Register for San Bernardinio seminar">↠ Click here to register</a></p>
<p><span><strong>2. Los Angeles</strong></span></p>
<p>DATE: Thursday, June 13, 2019<br />
WHERE: 1055 Wilshire Blvd 900B, Los Angeles, CA 90017<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=5HRF72PQC7C4ZND5KPH5NYV36UY77DIHUDOITH4EBAZ43I2ARBCNIUQAZSJQE35KWUSOKRCL5QECW===" aria-label="Register for SLos Angeles seminar">↠ Click here to register</a></p>
<p><span><strong>3. Garden Grove</strong></span></p>
<p>DATE: Thursday, June 13, 2019<br />
WHERE: 7077 Orangewood Avenue Suite 200, Garden Grove, CA 92841<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=WTIXBMTIRMKM464PILQOSB46K2735KLUEGCNV3PPT7AFQT2TSDQN3F52GYZZ5UAZPFQNSED4GLYK4===" aria-label="Register for Garden Grove seminar">↠ Click here to register</a></p>
<p><span><strong>4. Merced</strong></span></p>
<p>DATE: Tuesday, June 18, 2019<br />
WHERE: 678 West 18th Street, Merced, CA 95340<br />
WHEN: 9:30 AM to 12:30 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=YQ3D6CFJVAZKBRUHGJ5F6T36ARVBKIVM4BOORIFPWNXFWSVDA5MVO23HICVVTHAYO4PKXS25E57DW===" aria-label="Register for Merced seminar">↠ Click here to register</a></p>
<p><span><strong>5. Redding</strong></span></p>
<p>DATE: Thursday, June 20, 2019<br />
WHERE: 1325 Pine Street, Redding, CA 96001<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=ZMFRMG6ABGI2GZELP63XOIOKIBVVLLB2AXDQRMVTTCV4DFZOYO5LSOV3EV6RQ26B7J7JMH7JPY7BG===" aria-label="Register for Redding seminar">↠ Click here to register</a></p>
<p><span><strong>6. San Jose</strong></span></p>
<p>DATE: Thursday, June 20, 2019<br />
WHERE: 1887 Monterey Road Suite 215, San Jose, CA 95112<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=IXVZ57ZHLM3PR2QHL5UWFYO2VT6YJRCYZPH3UGA5BT5HNW7PUVF3GLMJTWSQBII7OFA6ME53FN3MW===" aria-label="Register for San Jose seminar">↠ Click here to register</a></p>
<p><span><strong>7. Van Nuys</strong></span></p>
<p>DATE: Thursday, June 20, 2019<br />
WHERE: 6150 Van Nuys Blvd, Van Nuys, CA 91401<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=QZMCPABVXEO4GQM23SSYHNIGLJFAUXILRDPYQGRH2NBXBAIVUDDCGFIP3XKBN2HLQMVZGCGSEBV4G===" aria-label="Register for Van Nuys seminar">↠ Click here to register</a></p>
<p><span><strong>8. Carlsbad</strong></span></p>
<p>DATE: Thursday, June 20, 2019<br />
WHERE: 1635 Faraday Avenue Room 173-B, Carlsbad, CA 92008<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=MKAJQSJBS433NEKLSJATBHGQHFNSVRLBOXXMZABPUTQGWIWT5FYGOFLO24P2B2FO4VEJ26DQJUWNS===" aria-label="Register for Carlsbad seminar">↠ Click here to register</a></p>
<p><span><strong>9. Menlo Park</strong></span></p>
<p>DATE: Friday, July 12, 2019<br />
WHERE: 1200 OBrien Drive, Menlo Park, CA 94025<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=EXV6TLPNXQHSD2JWOUXB7PBCUQGLP7IIEHF6F5SYZIJRFHMK4PZJG43C3D6U4SRHVSAQMJCKRMTPI===" aria-label="Register for Menlo Park seminar">↠ Click here to register</a></p>
<p><span><strong>10. Riverside</strong></span></p>
<p>DATE: Wednesday, August 14, 2019<br />
WHERE: 3403 10th Street, Riverside, CA 92501<br />
WHEN: 9:00 AM to 12:00 PM<br />
<a href="https://seminars.edd.ca.gov/Payroll_Tax_Seminars/en/Register/Index/?id=TRF6KQIXJIB5MPRHLO54GDXY6Z3FK6FUP5RMATQONS6YQSL4K52BLZGHGZUR3THZDV5PRBQLO6CUU===" aria-label="Register for Riverside seminar">↠ Click here to register</a></p>
