<p>The California Department of Public Health (CDPH) has submitted its proposed emergency regulations for commercial cannabis manufacturing to the California Office of Administrative Law (OAL). Public comments will be accepted for five business days, until Monday, December 4, 2017.</p>
<p>To submit a comment on the proposed adoption of the emergency regulations:</p>
<ul>
<li>Email the comment to <span>both </span>OAL, <a href="mailto:staff@oal.ca.gov">staff@oal.ca.gov</a>, and CDPH, <a href="mailto:regulations@cdph.ca.gov">regulations@cdph.ca.gov</a>. OAL will confirm that CDPH has also received the comment before reviewing it.</li>
<li>Please include “Regulations for Cannabis Manufacturing Licensing” in the subject line of your email to help route your email to the appropriate person.</li>
</ul>
<p>To read the CDPH emergency regulations for cannabis manufacturing, please visit <a href="https://www.cdph.ca.gov/Programs/OLS/CDPH%20Document%20Library/DPH-17-010E_ER_RegText_Application.pdf">our website</a>.</p>
<p>For information on the emergency regulations process and the public comment period, visit <a href="https://oal.ca.gov">OAL’s website</a>.</p>
<p>For information on all three licensing authorities, please visit the <a href="/">California Cannabis Portal</a>.</p>
<p>Adoption of emergency regulations does not require response to comments. Any responses to the comments from CDPH will be submitted to OAL within eight calendar days of the submission of the proposed emergency regulations to OAL, unless specific exceptions are applicable.</p>
