<p>As a cannabis distributor, you must electronically file your cannabis tax returns and pay the cultivation tax and cannabis<br />
excise tax due to the California Department of Tax and Fee Administration (CDTFA). Below is an overview of the reporting<br />
and invoicing requirements for cannabis distributors as well as information on how to avoid substantial penalties for failure<br />
to pay the cannabis taxes due.</p>
<p><strong>Cannabis tax return:</strong></p>
<p>As a cannabis distributor, you are required to electronically report and pay both the cultivation tax and cannabis excise tax<br />
on your cannabis tax return. The cannabis tax return filing and payment of the cannabis taxes are due April 30, 2018, for the<br />
first quarter reporting period (January 1, 2018, through March 31, 2018).<br />
You may request to file your returns and pay the cannabis taxes on a monthly basis instead of quarterly beginning<br />
April 1, 2018. To request a monthly reporting period, call our Customer Service Center at 1-800-400-7115 (TTY:711) and<br />
select Special Taxes and Fees from the menu. If your request for a monthly reporting period is approved, please remember<br />
that the return and payment of the cannabis taxes are due on the last day of the month following each reporting period.</p>
<p><strong>Reporting the cultivation tax:</strong></p>
<p>The cultivation tax must be reported:<br />
• For the reporting period in which the cannabis or cannabis products enter the commercial market.<br />
• In ounces, including partial ounces rounded to the nearest hundredth, based on the category of dried flowers, dried<br />
leaves, or fresh cannabis plant as listed on the invoice from the original cultivator, less any cannabis that was used<br />
for testing.<br />
&#8211; You are required to enter adult-use ounces separately from medicinal ounces for each category.<br />
&#8211; You will need to obtain additional information from manufacturers on the category and ounces of cannabis used to<br />
manufacture the cannabis products to report the cultivation tax properly.</p>
<p><strong>Reporting the cannabis excise tax:</strong></p>
<p>The cannabis excise tax must be reported:<br />
• For the reporting period in which you sell or transfer the cannabis or cannabis products to the cannabis retailer.<br />
&#8211; For example, the total average market price of your sales or transfers within the first quarter of 2018<br />
(January 1, 2018, through March 31, 2018) must be reported on the first quarter 2018 return.<br />
• Based on the average market price of the cannabis or cannabis products.<br />
&#8211; When you calculate the average market price in an arm’s length transaction (retailer’s wholesale cost plus the<br />
mark-up determined by the CDTFA, currently 60 percent), you are not required to reconcile the average market<br />
price you calculate with the retailer’s actual retail selling price.<br />
• As “excess excise tax collected” on your cannabis tax return if the tax is collected from retailers for any inventory they<br />
purchased prior to January 1, 2018, and sold at retail on or after January 1, 2018.<br />
&#8211; For these types of transactions, the retailer will collect the cannabis excise tax from their customers and pay the<br />
amount collected to you, a cannabis distributor.<br />
&#8211; For specific invoice requirements related to these types of transactions, please see our Tax Guide for Cannabis<br />
Businesses at www.cdtfa.ca.gov/industry/cannabis.htm.<br />
L-531 (2-18)</p>
<p><strong>Invoicing requirements for the cannabis taxes:</strong></p>
<p>As a cannabis distributor, you must properly document the amount of the cultivation tax and the cannabis excise tax<br />
you collect. When collecting the cultivation tax from cultivators or manufacturers, or the cannabis excise tax from<br />
retailers, you must provide an invoice, receipt, or other similar document that contains the following:<br />
• Your name, as the distributor.<br />
• The name of the other licensee (that is, the cultivator, manufacturer, retailer).<br />
• The associated unique identifier for the cannabis or cannabis product.<br />
• The amount of cannabis tax collected.<br />
• The date of the sale or transfer.<br />
These invoices or receipts serve as verification to cultivators, manufacturers, and retailers that the cannabis taxes were<br />
paid to a distributor and relieves them of their cannabis taxes liability.</p>
<p><strong>50 percent penalty for failure to pay the cannabis taxes due:</strong></p>
<p>In general, the law imposes a 10 percent penalty on taxpayers and feepayers for failure to timely pay the tax or fee due,<br />
or for filing a late return. In addition to these 10 percent penalties, the cannabis tax law imposes a mandatory 50 percent<br />
penalty for failure to pay the cultivation tax or cannabis excise tax due. Therefore, it is very important that you report and<br />
pay the cannabis taxes on or before the due date for each reporting period.</p>
<p>You may be relieved of the penalties assessed, including the 50 percent penalty, if the CDTFA finds that your failure to<br />
timely pay the tax was due to reasonable cause and circumstances beyond your control, and occurred notwithstanding<br />
the exercise of ordinary care and the absence of willful neglect. In order to be relieved of the mandatory penalties<br />
assessed, including the 50 percent penalty for failure to pay the cannabis taxes, you, as the cannabis distributor, must<br />
file an online request for relief of the penalty by filing a statement with the CDTFA, signed under penalty of perjury, which<br />
states the facts upon which the request for penalty relief is based. You may request relief of penalty by visiting our<br />
Online Services page at www.cdtfa.ca.gov/services/, and following the directions under the Request Relief tab.</p>
<p><strong>Sales and use tax return:</strong></p>
<p>If you make sales of tangible personal property, you are required to hold a seller’s permit. As a cannabis distributor, you<br />
are responsible for electronically filing both your sales and use tax return and your cannabis tax return by the filing due<br />
dates. You must still file a sales and use tax return by the due date even if you do not make taxable sales (for example,<br />
all your sales are for resale). If you sell cannabis or cannabis products for resale to other licensees, make sure the<br />
purchaser gives you a timely and valid resale certificate. For more information regarding sales for resale, please see our<br />
publication 103, Sales for Resale, at www.cdtfa.ca.gov/formspubs/pub103/.</p>
<p><strong>The CDTFA’s online guide, Tax Guide for Cannabis Businesses, is your best resource:</strong></p>
<p>Not all requirements for the cannabis industry can be addressed within one single special notice. For more<br />
comprehensive information, we encourage you to read our Tax Guide for Cannabis Businesses at www.cdtfa.ca.gov/<br />
industry/cannabis.htm which has separate tabs with important information, including videos, for distributors, retailers,<br />
cultivators, and manufacturers. If you have additional questions, you may call our Customer Service Center at 1-800-<br />
400-7115 (TTY:711) Monday through Friday, 8:00 a.m. to 5:00 p.m. (Pacific time), except state holidays.</p>
