<p>Distributors or microbusinesses authorized to operate as distributors are required to calculate and collect the 15 percent cannabis excise tax from cannabis retailers on the sale or transfer of cannabis or cannabis products (cannabis) based on the average market price of the cannabis. In a nonarm&#8217;s length transaction, generally when a cannabis retailer is also the distributor, the average market price of the cannabis is equal to the gross receipts, and the 15 percent cannabis excise tax is applied to the gross receipts of the retail sale of the cannabis.</p>
<h3>What is included in gross receipts?</h3>
<p>Gross receipts include all charges related to the sale of cannabis, such as labor, services, and certain transportation charges. For example, as a retailer, when you deliver cannabis to your customers using your own vehicles and there is no explicit written agreement prior to the delivery that passes title to the purchaser before delivery, the charge for that delivery is included in the gross receipts subject to the cannabis excise tax. Additionally, if you add a separate amount to your customers&#8217; invoices or receipts to cover a cannabis business tax required by your city, that amount is included in the gross receipts subject to the cannabis excise tax.</p>
<h3>Example</h3>
<p>You are a licensed microbusiness authorized to cultivate, distribute, and make retail sales of cannabis. You sell cannabis flowers to your retail customers for $35.00 per eighth of an ounce and charge $5.00 for delivery. You have an 8.5 percent sales tax rate and a 10 percent business tax. In this nonarm&#8217;s length transaction, the average market price is your gross receipts from the retail sale of the cannabis flowers.</p>
<h3>Excise tax calculation:</h3>
<table>
<tbody>
<tr>
<td>Selling price of cannabis</td>
<td>$35.00</td>
</tr>
<tr>
<td>Cannabis business tax</td>
<td>$3.50</td>
</tr>
<tr>
<td>Delivery</td>
<td>$5.00</td>
</tr>
<tr>
<td>Subtotal ($35.00 + $3.50 + $5.00)</td>
<td>$43.50</td>
</tr>
<tr>
<td>Excise tax ($43.50 x 15%)</td>
<td>$6.53</td>
</tr>
</tbody>
</table>
<h3>Sales tax calculation:</h3>
<table>
<tbody>
<tr>
<td>Subtotal ($43.50 + $6.53)</td>
<td>$50.03</td>
</tr>
<tr>
<td>Sales tax ($50.03 x 8.5%)</td>
<td>$4.25</td>
</tr>
<tr>
<td>Total due ($50.03 + $4.25)</td>
<td>$54.28</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>The distribution part of your business is responsible for reporting and paying the cannabis excise tax of $6.53 ($43.50 × 15%) to the CDTFA on your cannabis tax return along with the cultivation tax that is due on the cannabis flowers that entered the commercial market. The cannabis retail part of your business is responsible for reporting and paying the sales tax of $4.25 ($50.03 x 8.5%) to the CDTFA on your sales and use tax return.</p>
<p>This email is intended to give you an overview of how the cannabis excise tax is calculated in a nonarm&#8217;s length transaction and does not address all requirements for the cannabis industry. We encourage you to read our online <a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__www.cdtfa.ca.gov_industry_cannabis.htm&amp;d=DwMF-g&amp;c=LHIwbLRMLqgNuqr1uGLfTA&amp;r=0VVin0diWSJhySQTljbmjmH7obUZIPhx4sxv503be1I&amp;m=BOzfiLD_lVYggARDoATQusxbFLPOYtqpCvpPXoX0NcM&amp;s=8wxeo8kKkkEZPHjothGjwaI1DoqmUOTgQ7_5pzGsq7E&amp;e="><em>Tax Guide for Cannabis Businesses</em></a>, or contact us at <a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__www.cdtfa.ca.gov_contact.htm&amp;d=DwMF-g&amp;c=LHIwbLRMLqgNuqr1uGLfTA&amp;r=0VVin0diWSJhySQTljbmjmH7obUZIPhx4sxv503be1I&amp;m=BOzfiLD_lVYggARDoATQusxbFLPOYtqpCvpPXoX0NcM&amp;s=GDk7n_W-8U5uH3HeZMmyC_1TsfchoQfABkANGJmeeB0&amp;e="><em>www.cdtfa.ca.gov/contact.htm</em></a>.</p>
