<p>Hello CalCannabis Cultivation Licensing Stakeholders:</p>
<p>To assist those of you who are applying for an annual commercial cannabis cultivation license, we have created a couple of new reference guides to help explain what’s required for the cultivation plan and some of the other required application attachments:</p>
<ul>
<li><a href="http://lists.cdfa.ca.gov/t/73897/107898/1289/3/">A Reference Guide for the Cultivation Plan</a></li>
<li><a href="http://lists.cdfa.ca.gov/t/73897/107898/1290/4/">A Reference Guide for the Application Attachments</a></li>
</ul>
<p>We also have updated our step-by-step videos and created new step-by-step guides, which will walk you through each page of the online applications and describe what is required:</p>
<ul>
<li><a href="http://lists.cdfa.ca.gov/t/73897/107898/1291/5/">Step-by-Step Videos: Registration and a TEMPORARY Cannabis Cultivation License Application and Registration and an ANNUAL Cannabis Cultivation License Application</a></li>
<li><a href="http://lists.cdfa.ca.gov/t/73897/107898/1292/6/">Step-by-Step Guide: How to Apply for a State Cannabis Cultivation License</a></li>
<li><a href="http://lists.cdfa.ca.gov/t/73897/107898/1293/11/">Step-by-Step Guide: How to Use the State Cannabis Cultivation Online System</a></li>
</ul>
<p>Many other helpful documents, including FAQs and Fact Sheets, are posted on the CalCannabis Cultivation Licensing <a href="http://lists.cdfa.ca.gov/t/73897/107898/879/12/">website</a>.</p>
<p>CalCannabis Cultivation Licensing is a division of the California Department of Food and Agriculture. <strong>For more information on the state’s cannabis cultivation licensing process, please call toll-free 1-833-CALGROW or send an email to </strong><a href="mailto:calcannabis@cdfa.ca.gov">calcannabis@cdfa.ca.gov</a><strong>. Thank you.</strong></p>
