<div>
<p>Investors would probably struggle to find an industry that&#8217;s growing at a faster and more consistent pace than legal marijuana.</p>
</div>
<div>
<p>Last year alone, according to cannabis research firm ArcView, North American legal pot sales jumped 34% to $6.9 billion. ArcView estimates that legal sales could top $22 billion by 2021, with investment firm Cowen &amp; Co. expecting legal sales to hit $50 billion by 2026. Regardless of what estimate you choose to believe, the legal marijuana industry is growing by between 20% and 30% a year. That type of consistent long-term growth is certainly appealing to investors.</p>
</div>
<div>
<div>
<p>Image source: Pixabay.</p>
</div>
</div>
<div id="tncms-region-article_instory_top"></div>
<div></div>
