cagov-post-list .post-list-item {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 24px;
}

.cagov-announcement-list h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 24px;
}

.cagov-announcement-list .read-more a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
  color: #000;
}

.cagov-post-list .link-title a {
  color: #064e66;
  font-weight: normal;
  text-decoration: underline;
  line-height: 32.9px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 8px;
}

cagov-announcement-list .post-list-item {
  margin: 0;
  padding: 0;
}

cagov-announcement-list .post-list-item {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 24px;
}

.cagov-announcement-list .post-list-item .date {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  color: #000;
}
