.post-category {
  font-weight: 900;
  font-size: 1.1em;
}

.post-category + .narrow-page-title {
  margin-top: 8px;
}

.post-date {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.press-release-date {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 700;
}
