.cagov-step-list li:before {
    width: calc(3.5rem);
    height: calc(3.5rem);
    padding: 0 0 0 0;
    line-height: 2.8rem;
    left: -31px;
    top: -4px;
    margin-left: 0px;
    line-height: 2.8rem;
}

.cagov-step-list li {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-left: 0;
}