.ca-gov-icon-close-line::before {
  background: url(/assets/img/close-line.svg);
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-top: 0.5rem;
  max-width: 100px;
}
.ca-gov-icon-bell::before {
  background: url(/assets/img/bell.svg);
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-top: 0.5rem;
  max-width: 100px;
}
