/* COMPONENTS/BLOCKS */


@import "../components/promotional-card/src/css/index.scss";
@import "../components/scrollable-card/src/css/index.scss";
@import "../components/scrollable-card/src/css/glider.min.scss";
@import "../components/ds-card-grid/src/index.scss";

@import "../components/ds-page-feedback/src/css/index.scss";
// @import "../../node_modules/@cagov/ds-page-feedback/src/css/index.css";

@import "../../node_modules/@cagov/ds-feature-card/src/index.scss";
@import "../../node_modules/@cagov/ds-link-grid/src/index.scss";

@import "../../node_modules/@cagov/ds-site-header/src/index.scss";
@import "../../node_modules/@cagov/ds-skip-to-content/src/index.scss";
@import "../../node_modules/@cagov/ds-table/src/index.scss";
@import "step-list-patch";

/* NAVIGATION ELEMENTS */
@import "../../node_modules/@cagov/ds-statewide-header/src/index.scss";
@import "../../node_modules/@cagov/ds-site-footer/src/index.scss";
@import "../../node_modules/@cagov/ds-statewide-footer/src/index.scss";
@import "../../node_modules/@cagov/ds-site-navigation/src/index.scss";
