.wp-block-columns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  .wp-block-column {
    width: 50%;
  }
}

@media only screen and (max-width: var( --w-sm, 720px)) {
  .wp-block-columns {
    flex-direction: column;
  }
  .wp-block-column {
    width: 100%;
  }
}

.wp-block-button {
  margin-bottom: 0.5em;
}

.wp-block-button__link {
  background-color: var(--primary-700, #064e66);
  border-radius: 5px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.wp-block-button__link:hover {
  background-color: #043747;
  color: #fff;
}

figure.wp-block-post-featured-image {
  max-width: 100%;
  height: auto;
  img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
}

.wp-block-table {
  margin-bottom: 16px;
  overflow-x: auto;
  table,
  table th,
  table td {
    border: 1px solid #ededef;
  }
  table {
    border-collapse: collapse;
  }
  td,
  th {
    padding: 0.5em;
    border: 1px solid;
    word-break: normal;
  }
}

.wp-block-pullquote {
  margin: 0 0 1em;
  padding: 3em 0;
  text-align: center;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.wp-block-media-text__media img,
.wp-block-media-text__media video {
  height: auto;
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}

.wp-block-media-text .wp-block-media-text__content {
  direction: ltr;
  grid-column: 2;
  grid-row: 1;
  padding: 0 8%;
  word-break: break-word;
}

.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__content,
.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text .wp-block-media-text__media {
  align-self: center;
}

.wp-block-media-text {
  direction: ltr;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
}

.wp-block-media-text .wp-block-media-text__content {
  direction: ltr;
  grid-column: 2;
  grid-row: 1;
  padding: 0 8%;
  word-break: break-word;
}

.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__content,
.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text .wp-block-media-text__media {
  align-self: center;
}

.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__content,
.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__media,
.wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text .wp-block-media-text__media {
  align-self: center;
}

.wp-block-media-text .wp-block-media-text__content {
  direction: ltr;
  grid-column: 2;
  grid-row: 1;
  padding: 0 8%;
  word-break: break-word;
}

.wp-block-pullquote p {
  font-size: 1.75em;
  line-height: 1.6;
}

/* WordPress Image */
figure {
  border-color: transparent;
  background-color: #eeefe8;
  display: block;
  border-color: transparent;
}

figure img {
  width: 100%;
}

@media (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
  }
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
}

.wp-block-image:not(.is-style-rounded) > a,
.wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

img {
  border-style: none;
}

.everylayout figure.wp-block-image {
  width: fit-content;
}

.everylayout figure.wp-block-image img {
  width: auto;
}

.wp-block-image:not(.is-style-rounded) > a,
.wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit;
}
.wp-block-image {
  margin: 0 0 1em;
}
.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
