.wp-block-columns {
  display: flex;
  flex-direction: row;
}

.wp-block-button__link {
  background-color: var(--primary-color, #064e66);
  border-radius: 5px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: #fff;
}

.wp-block-button__link:hover {
  background-color: #043747;
  color: #fff;
}

figure.wp-block-post-featured-image {
  max-width: 100%;
  height: auto;
  img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
}
