/* GLOBAL */
@import "theme-tokens"; /* theme colors */

/* sitewide styles */
@import "../../node_modules/@cagov/ds-base-css/src/core";

@import "./_fonts"; /* website global fonts */
@import "theme-overrides";
@import "theme-tokens"; /* theme colors */
@import "layout";
@import 'svg-icons';



.mobile-only {
  display: none;
}
@media screen and (max-width: 800px) {
  .mobile-only {
    display: inline;
  }
}
