

/* call to action */
/* this is some hacky css, need to figure out how to control the applied classes in the generated InnerBlocks */
.cagov-hero-body-content .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(:hover):not(:active):not(.has-background) {
    background-color: #33705B;
    /* defined here for when css vars are not supported */
    background-color: var(--primary-color, #33705B);
    /* variable used with fallback in case it is not defined */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    display: inline-block;
    border: none;
    text-decoration: none; }
  
  .cagov-hero-body-content .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
    background-color: #33705B;
    /* defined here for when css vars are not supported */
    background-color: var(--primary-color, #33705B);
    /* variable used with fallback in case it is not defined */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    display: inline-block;
    border: none;
    text-decoration: underline; }

    /* Apply same spacing mechanism as cagov-stack, but overriding default gutenberg block element classes */
.wp-block-columns {
    margin-top: 2rem;
    margin-bottom: 2rem; }


    /* border styles */
.wp-block-table {
    background: none !important;
    border: none !important; }
  
  .wp-block-table table,
  .wp-block-table table th,
  .wp-block-table table td {
    border: 1px solid #ededef !important; }
  


