#{$class} {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px 32px;
  align-items: start;
  
  .card {
    margin-bottom: 32px;  
    text-align: start;

  img {
    object-position: top;
    object-fit: contain;
    max-width: 200px;
    max-height: 600px;
    height: auto;
    margin-bottom: 16px;
  }
}
