#{$class} {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 16px 32px;
  align-items: start;

  &.single-column {
    grid-template-columns: repeat(1, 100%);
  }

  &.cagov-card-grid {
      grid-template-columns: repeat(2, 393px);
      li {
        border: 1px solid #efefef;
        padding: 16px;
        overflow-wrap: break-word;
      }
  }

  li {
    list-style: none;
  }
  .card, li {
    margin-bottom: 32px;
    text-align: start;
    border: none;
    img {
      object-position: top;
      object-fit: contain;
      height: auto;
      max-width: 100%;
      margin-bottom: 16px;
    }
  }
}


@media screen and (max-width: 782px) {
  #{$class} {
    grid-template-columns: repeat(1, 100%);
  }
}

/* WordPress overrides, do not import into Design System, split out into wordpress file. */
.entry-content ul.cagov-card-grid {
  padding: 0px;
}