{% extends "./../base-layout.njk" %}

{% block content %}
<div id="page-container" class="page-container-ds">
      {% include "./../breadcrumb-post.njk" %}
    <div id="main-content" class="main-content-ds single-column" tabindex="-1">
        {# The #body-content div is the skip-to-content target. #}
        <div id="body-content"></div>
        <div class="ds-content-layout">
            <main class="main-primary">
                <div>
                    <article id="post-{{id}}">
                        <div class="category-label">{{ category | safe }}</div>
                        <!-- Page Title-->
                        <h1 class="page-title">{{ title | safe }}</h1>
                        <p class="published press-release-date">
                            {{ date | safe }}
                            {# <time datetime="Dray 14, 2022">
                                <!-- date field -->
                            </time> #}
                        </p>
                        <div class="entry-content">
                            {{ content | safe }}
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}