/* @TODO These px values need to be converted to relative values */
/* @TODO Align with typography & styles: Font, px spacing, colors */
/* @TODO Figure out editor theme styles & if it conflicts with the display of this block/web-component. */

// .cagov-announcement-list h3 {
//   /* font-family: Public Sans; */
//   font-style: normal;
//   font-weight: bold;
//   font-size: 28px;
//   line-height: 33px;
//   margin-bottom: 24px !important;
// }

// .cagov-announcement-list .read-more a {
//   /* font-family: Public Sans; */
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 30px;
//   text-decoration: underline;
//   color: #000;
// }

// .cagov-announcement-list .post-list-item {
//   margin: 0;
//   padding: 0;
// }

// .cagov-announcement-list .post-list-item {
//   list-style: none;
//   font-style: normal;
//   font-weight: normal;
//   margin-bottom: 24px;
// }

// .cagov-announcement-list .post-list-item .date {
//   font-size: 18px;
//   line-height: 30px;
//   margin-top: 0px;
//   color: #000;
// }

/* @TODO These px values need to be converted to relative values */
/* @TODO Align with typography & styles: Font, px spacing, colors, css vars, breakpoints  */
/* @TODO Figure out editor theme styles & if it conflicts with the display of this block/web-component. */


.cagov-post-list .post-list-item {
  margin-bottom: 48px;
  .excerpt .date {
    display: inline;
    font-weight: 700;
    &:after {
      content: (" — ");
    }
  }
}

.cagov-post-list .link-title a {
  color: $primary;
  font-weight: normal;
  text-decoration: underline;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 8px;
}

.cagov-post-list .link-title,
.cagov-post-list .post-list-item {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px;
  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
  }
}

.wp-block-ca-design-system-post-list .post-list-item.post-status {
  .link-title {
    margin-bottom: 0px;
  }
  .link-title .date {
    line-height: 1rem;
  }
  margin-bottom: 32px;
}

.wp-block-ca-design-system-post-list .post-list-item.news-item  {
  .link-title {
    margin-bottom: 0px;
  }
  margin-bottom: 32px;
}

.cagov-post-list .read-more a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.cagov-post-list .link-title a {
  color: $primary;
  font-weight: 700;
  line-height: 30px;
  font-size: 28px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.cagov-post-list .excerpt,
.cagov-post-list .excerpt p {
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 8px;
}

.cagov-post-list .post-list-item {
  margin: 0;
  padding: 0;
}

.cagov-post-list .post-list-item {
  font-style: normal;
  font-weight: normal;
  margin-bottom: 24px;
}

.cagov-post-list .post-list-item .date {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  color: #000;
  font-weight: 700;
}

@media only screen and (max-width: 580px) {
  .cagov-post-list h3 {
    /* font-family: Public Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .cagov-post-list .read-more a {
    /* font-family: Public Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }

  .cagov-post-list .link-title a {
    color: $primary;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 8px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
  }

  .cagov-post-list .excerpt,
  .cagov-post-list .excerpt p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .cagov-post-list .post-list-item {
    margin: 0;
    padding: 0;
  }

  .cagov-post-list .post-list-item {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 16px;
  }
  .cagov-post-list .post-list-item .date {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    color: #000;
    font-weight: 700;
  }

  .wp-block-ca-design-system-post-list .post-list-item.post-status {
    .link-title {
      margin-bottom: 0px;
    }
    .link-title .date {
      line-height: 1rem;
      font-size: 16px;
    }
    margin-bottom: 16px;
  }
  
  .wp-block-ca-design-system-post-list .post-list-item.news-item  {
    .link-title {
      margin-bottom: 8px;
    }
    .date {
      font-size: 16px;
    }
    margin-bottom: 16px;
  }
}
