/* Override npm styles */

cagov-accordion.prog-enhanced .accordion-card-container .card-body {
    margin-top: 8px;
    ul {
        margin-left: 16px;
        margin-right: 16px;
    }
}

cagov-accordion.prog-enhanced .accordion-alpha .plus-minus {
    margin-top: 8px;
}

cagov-accordion.prog-enhanced button.accordion-card-header {
    cursor:pointer;
}

button.accordion-card-header:hover .accordion-title:hover {
    @include text-underline;
}
